{% extends "skeleton.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block body %}
<body class='login-screen' style='background: url({% inventree_splash %}); background-size: cover;'>
    <div class='container-fluid'>
        <div class='notification-area' id='alerts'>
            <!-- Div for displayed alerts -->
        </div>
    </div>

    <div class='main body-wrapper login-screen d-flex'>

        <div class='login-container'>
        <div class="row">
            <div class='container-fluid'>

                <div class='clearfix content-heading login-header d-flex flex-wrap'>
                    <img class="pull-left" src="{% inventree_logo %}" alt='{% trans "InvenTree logo" %}' width="60" height="60"/>
                    {% include "spacer.html" %}
                    <span class='float-right'><h3>{% inventree_title %}</h3></span>
                </div>
            </div>
                <div class='container-fluid'>
                    <hr>
                    {% block content %}
                    {% endblock content %}
                </div>
        </div>

        </div>

        {% block extra_body %}
        {% endblock extra_body %}
    </div>



<!-- general JS -->
{% include "third_party_js.html" %}

<script type='text/javascript' src='{% static "script/inventree/inventree.js" %}'></script>
<script type='text/javascript' src='{% static "script/inventree/message.js" %}'></script>

<script type='text/javascript'>

$(document).ready(function () {

    {% if messages %}
    {% for message in messages %}
    showMessage("{{ message }}");
    {% endfor %}
    {% endif %}

    showCachedAlerts();

    // Add brand icons for SSO providers, if available
    $('.socialaccount_provider').each(function(i, obj) {
        var el = $(this);
        var tag = el.attr('brand_name');

        var icon = window.FontAwesome.icon({prefix: 'fab', iconName: tag});

        if (icon) {
            el.prepend(`<span class='fab fa-${tag}'></span>&nbsp;`);
        }
    });

});

</script>
{% endblock body %}
