{% extends "skeleton.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block body %}
<body class='login-screen' style='background: url({% inventree_splash %}); background-size: cover;'>
    <div class='container-fluid'>
        <div class='notification-area' id='alerts'>
            <!-- Div for displayed alerts -->
        </div>
    </div>

    <div class='main body-wrapper login-screen d-flex'>

        <div class='login-container'>
        <div class="row">
            <div class='container-fluid'>

                <div class='clearfix content-heading login-header d-flex flex-wrap'>
                    <img class="pull-left" src="{% inventree_logo %}" alt='{% trans "InvenTree logo" %}' width="60" height="60"/>
                    {% include "spacer.html" %}
                    <span class='float-right'><h3>{% inventree_title %}</h3></span>
                </div>
            </div>
                <div class='container-fluid'>
                    <hr>
                    {% block content %}
                    {% endblock content %}
                </div>
        </div>

        </div>

        {% block extra_body %}
        {% endblock extra_body %}
    </div>
{% endblock body %}
