{% extends "account/base.html" %}

{% load i18n crispy_forms_tags inventree_extras %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
{% settings_value 'LOGIN_ENABLE_REG' as enable_reg %}
{% settings_value 'LOGIN_ENABLE_SSO_REG' as enable_sso %}

<h3>{% trans "Sign Up" %}</h3>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

{% if enable_reg %}
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
</form>
{% endif %}

{% if enable_sso %}
<br>
<h4>{% trans 'Use a SSO-provider for signup' %}</h4>
<div>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

{% if not enable_reg and not enable_sso %}
<div class='alert alert-block alert-danger'>
    <p>{% trans "This function is currently disabled. Please contact an administrator." %}</p>
</div>
{% endif %}

{% endblock content %}
