/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import '@splidejs/splide/css';

 /* You can override the default Infima variables here. */
 :root {
   --ifm-color-primary: #3578e5;
   --ifm-color-primary-dark: #306cce;
   --ifm-color-primary-darker: #2d66c3;
   --ifm-color-primary-darkest: #2554a0;
   --ifm-color-primary-light: #538ce9;
   --ifm-color-primary-lighter: #72a1ed;
   --ifm-color-primary-lightest: #9abcf2;
   --ifm-code-font-size: 95%;
   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
 }
 
 /* For readability concerns, you should choose a lighter palette in dark mode. */
 [data-theme='dark'] {
   --ifm-color-primary: #3578e5;
   --ifm-color-primary-dark: #306cce;
   --ifm-color-primary-darker: #2d66c3;
   --ifm-color-primary-darkest: #2554a0;
   --ifm-color-primary-light: #538ce9;
   --ifm-color-primary-lighter: #72a1ed;
   --ifm-color-primary-lightest: #9abcf2;
   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
 }
 
 .thumbnail-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }