{% load static %}
{% load i18n %}
{% load inventree_extras %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">


<!-- CSS -->
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2-bootstrap-5-theme.css' %}">
<link rel="stylesheet" href="{% static 'css/inventree.css' %}">

<link rel="stylesheet" href="{% get_color_theme_css user.get_username %}">


<title>
    {% inventree_title %} | {% block head_title %}{% endblock %}
</title>

{% block extra_head %}
{% endblock %}
</head>

<body class='login-screen' style='background: url({% inventree_splash %}); background-size: cover;'>

    <div class='container-fluid'>
        <div class='notification-area' id='alerts'>
            <!-- Div for displayed alerts -->
        </div>
    </div>

    <div class='main body-wrapper login-screen d-flex'>


        <div class='login-container'>
        <div class="row">
            <div class='container-fluid'>

                <div class='clearfix content-heading login-header d-flex flex-wrap'>
                    <img class="pull-left" src="{% inventree_logo %}" width="60" height="60"/>
                    {% include "spacer.html" %}
                    <span class='float-right'><h3>{% inventree_title %}</h3></span>
                </div>
            </div>
                <div class='container-fluid'>
                    <hr>
                    {% block content %}
                    {% endblock %}
                </div>
        </div>
        </div>

        {% block extra_body %}
        {% endblock %}
    </div>



<!-- general JS -->
{% include "third_party_js.html" %}

<script type='text/javascript' src='{% static "script/inventree/message.js" %}'></script>

<script type='text/javascript'>

$(document).ready(function () {

    {% if messages %}
    {% for message in messages %}
        showMessage(messsage);
    {% endfor %}
    {% endif %}

    showCachedAlerts();

});

</script>

</body>
</html>
