{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h3>{% trans "Sign Out" %}</h3>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <hr>
  <div class='btn-group float-right' role='group'>
    <button type="submit" class="btn btn-danger btn-block">
      <span class='fas fa-sign-out-alt'></span> {% trans 'Sign Out' %}
    </button>
  </div>
</form>

<div>
  <a type='button' class='btn btn-secondary' href='{% url "index" %}'>
    <span class='fas fa-undo-alt'></span> {% trans "Return to Site" %}
  </a>
</div>

{% endblock %}
