version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      dependencies:
        patterns:
          - "*" # Include all dependencies

  - package-ecosystem: docker
    directory: /contrib/container
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: docker
    directory: /.devcontainer
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: pip
    directories:
    - /docs
    - /contrib/dev_reqs
    - /contrib/container
    - /src/backend
    schedule:
      interval: weekly
      day: friday
    cooldown:
      default-days: 7
    groups:
      dependencies:
        patterns:
          - "*" # Include all dependencies
    assignees:
      - "matmair"
    versioning-strategy: increase

  - package-ecosystem: npm
    directories:
    - /src/frontend
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      dependencies:
        patterns:
          - "*" # Include all dependencies
