[run]
source = ./InvenTree
omit =
    # Do not run coverage on migration files
    */migrations/*
    InvenTree/manage.py
    InvenTree/keygen.py
    Inventree/InvenTree/middleware.py
    Inventree/InvenTree/utils.py
    Inventree/InvenTree/wsgi.py
    InvenTree/users/apps.py