# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
inventree-env/
./build/
.cache/
develop-eggs/
dist/
bin/
lib64
pyvenv.cfg
share/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Django stuff:
*.log
local_settings.py
*.sqlite3
*.sqlite3-journal
*.backup
*.old

# Files used for testing
dummy_image.*
_tmp.csv

# Sphinx files
docs/_build

# Local static and media file storage (only when running in development mode)
inventree_media
inventree_static
static_i18n

# Local config file
config.yaml
plugins.txt

# Default data file
data.json
*.json.tmp
*.tmp.json

# Key file
secret_key.txt

# IDE / development files
.idea/
*.code-workspace
.vscode/

# Coverage reports
.coverage
htmlcov/

# Temporary javascript files (used for testing)
js_tmp/

# Development files
dev/

# Locale stats file
locale_stats.json

# node.js
node_modules/

# maintenance locker
maintenance_mode_state.txt

# plugin dev directory
plugins/

# Compiled translation files
*.mo
