# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
./build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Django stuff:
*.log
local_settings.py
*.sqlite3

# Sphinx files
docs/_build
docs/_static
docs/_templates

# Local media storage (only when running in development mode)
InvenTree/media

# Key file
secret_key.txt

# Ignore python IDE project configuration
.idea/

# Coverage reports
.coverage
htmlcov/