# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
    (?x)^(
        src/backend/InvenTree/InvenTree/static/.*|
        src/backend/InvenTree/locale/.*|
        src/frontend/src/locales/.* |
        .*/migrations/.* |
        src/frontend/yarn.lock
    )$
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: mkdocs.yml
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
    - id: ruff-format
      args: [--preview]
    - id: ruff-check
      args: [
        --fix,
        # --unsafe-fixes,
        --preview
      ]
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.16
    hooks:
      - id: pip-compile
        name: pip-compile normal
        args: [pyproject.toml, -o, src/backend/requirements.txt, --no-strip-extras, --generate-hashes]
        files: uv.lock
      - id: pip-compile
        name: pip-compile dev
        args: [--group, dev, -o, src/backend/requirements-dev.txt, -c, src/backend/requirements.txt, --no-strip-extras, --generate-hashes]
        files: uv.lock
      - id: pip-compile
        name: pip-compile ci
        args: [--group, ci, -o, contrib/dev_reqs/requirements.txt, --no-strip-extras, --generate-hashes, -b, src/backend/requirements.txt]
        files: uv.lock
      - id: pip-compile
        name: pip-compile docs
        args: [--group, docs, -o, docs/requirements.txt, --no-strip-extras, --generate-hashes, -b, src/backend/requirements.txt]
        files: uv.lock
      - id: pip-compile
        name: pip-compile container
        args: [--group, container, -o, contrib/container/requirements.txt, --python-version=3.11, --no-strip-extras, --generate-hashes, -b, src/backend/requirements.txt]
        files: uv.lock
-   repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-django
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: >
      (?x)^(
          docs/docs/stylesheets/.*|
          docs/docs/javascripts/.*|
          docs/docs/webfonts/.* |
          src/frontend/src/locales/.* |
          pyproject.toml |
          src/frontend/vite.config.ts |
      )$
-   repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
    -   id: biome-check
        additional_dependencies: ["@biomejs/biome@1.9.4"]
        files: ^src/frontend/.*\.(js|ts|tsx)$
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    -   id: gitleaks
        language_version: 1.25.4
#-   repo: https://github.com/jumanjihouse/pre-commit-hooks
#    rev: 3.0.0
#    hooks:
#    -   id: shellcheck
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
