
[tool.ruff]
exclude = [
    ".git",
    "__pycache__",
    "test.py",
    "tests",
    "venv",
    "env",
    ".venv",
    ".env",
    "src/backend/plugins/*",
]
src = ["src/backend/InvenTree"]
# line-length = 120

[tool.ruff.lint.extend-per-file-ignores]
"__init__.py" = ["D104"]

[tool.ruff.lint]
select = ["A", "B", "C", "C4", "D", "F", "I", "N", "SIM", "PIE", "PLE", "PLW", "RUF", "UP", "W",
#"DOC201", "DOC202", # enforce return docs
"DOC402","DOC403", # enforce yield docs
#"DOC501","DOC502", # enforce raise
]
# Things that should be enabled in the future:
# - LOG
# - DJ # for Django stuff
# - S # for security stuff (bandit)
# - D401 - Imperative docstrings

ignore = [
    "PLE1205",
    # - PLE1205 - Too many arguments for logging format string
    "PLW2901",
    # - PLW2901 - Outer {outer_kind} variable {name} overwritten by inner {inner_kind} target
    "PLW0602","PLW0603","PLW0604",  # global variable things
    "RUF015",
    # - RUF015 - Prefer next({iterable}) over single element slice
    "RUF012",
    # - RUF012 - Mutable class attributes should be annotated with typing.ClassVar
    "RUF052",
    # - RUF052 - Local dummy variable is accessed
    "SIM117",
    # - SIM117 - Use a single with statement with multiple contexts instead of nested with statements
    "SIM102",
    # - SIM102 - Use a single if statement instead of nested if statements
    "SIM105",
    # - SIM105 - Use contextlib.suppress({exception}) instead of try-except-pass
    "C901",
    # - C901 - function is too complex
    "N999",
    # - N802 - function name should be lowercase
	"N802",
	# - N806 - variable should be lowercase
	"N806",
	# - N812 - lowercase imported as non-lowercase
	"N812",
    # - RUF032 - decimal-from-float-literal
    "RUF032",
    # - RUF045 - implicit-class-var-in-dataclass
    "RUF045",
    # - UP045 - Use `X | None` instead of `Optional[X]`
    "UP045",

    # TODO These should be followed up and fixed
    # - B904 Within an `except` clause, raise exceptions
    "B904",

    # Remove fast
    "A002", "B018"
]

[tool.ruff.lint.pydocstyle]
convention = "google"
ignore-var-parameters = true

[tool.ruff.lint.isort]
split-on-trailing-comma = false
combine-as-imports = false
section-order = [
    "future",
    "standard-library",
    "django",
    "third-party",
    "first-party",
    "local-folder",
]

[tool.ruff.lint.isort.sections]
"django" = ["django"]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = true
line-ending = "auto"

[tool.uv.pip]
python-version = "3.11.0"
no-strip-extras=true
generate-hashes=true

[tool.ty.environment]
root = ["src/backend/InvenTree"]

[tool.ty.rules]
unresolved-reference="ignore"  # 21 # see https://github.com/astral-sh/ty/issues/220
unresolved-attribute="ignore"  # 505 # need Plugin Mixin typing
call-non-callable="ignore"  # 8 ##
invalid-return-type="ignore"  # 22 ##
invalid-argument-type="ignore"  # 49
possibly-unbound-attribute="ignore"  # 25 # https://github.com/astral-sh/ty/issues/164
unknown-argument="ignore"  # 3  # need to wait for betterdjango field stubs
invalid-assignment="ignore"  # 17  # need to wait for betterdjango field stubs
no-matching-overload="ignore"  # 3  # need to wait for betterdjango field stubs

[tool.coverage.run]
source = ["src/backend/InvenTree", "InvenTree"]
dynamic_context = "test_function"

[tool.coverage.html]
show_contexts = true

[tool.djlint]
ignore = "D018,H006,H008,H020,H021,H023,H025,H030,H031,T002"

[tool.isort]
src_paths=["src/backend/InvenTree", ]
skip_glob ="*/migrations/*.py"
known_django="django"
sections=["FUTURE","STDLIB","DJANGO","THIRDPARTY","FIRSTPARTY","LOCALFOLDER"]

[tool.codespell]
ignore-words-list = ["assertIn","SME","intoto","fitH"]

[tool.pytest]
django_find_project = false
pythonpath = ["src/backend/InvenTree"]
DJANGO_SETTINGS_MODULE = "InvenTree.settings"
python_files = ["test*.py",]

[dependency-groups]
normal = [
    "blessed>=1.25.0",
    "cryptography>=44.0.0",
    "django<6.0",
    "django-allauth[headless,mfa,openid,saml,socialaccount]>=65.13.1",
    "django-anymail[amazon-ses,postal]>=13.1",
    "django-cleanup>=9.0.0",
    "django-cors-headers>=4.9.0",
    "django-dbbackup>=5.0.0",
    "django-error-report-2>=0.4.2",
    "django-filter>=25.2",
    "django-flags>=5.1.0",
    "django-ical>=1.9.2",
    "django-mailbox>=4.10.1",
    "django-maintenance-mode>=0.22.0",
    "django-markdownify>=0.9.6",
    "django-money>=3.5.4",
    "django-mptt>=0.18.0",
    "django-oauth-toolkit>=3.1.0",
    "django-otp>=1.3.0",
    "django-q-sentry>=0.1.6",
    "django-q2>=1.9.0",
    "django-redis>=5.0.0",
    "django-sesame>=3.2.3",
    "django-sql-utils>=0.7.0",
    "django-sslserver>=0.22",
    "django-stdimage>=6.0.2",
    "django-storages[s3,sftp]>=1.14.6",
    "django-structlog>=10.0.0",
    "django-taggit>=6.1.0",
    "django-xforwardedfor-middleware>=2.0",
    "djangorestframework>=3.16.1",
    "djangorestframework-simplejwt[crypto]>=5.5.1",
    "docutils>=0.22.3",
    "drf-spectacular>=0.29.0",
    "dulwich>=0.24.10",
    "feedparser>=6.0.12",
    "grpcio>=1.76.0",
    "gunicorn>=23.0.0",
    "jinja2>=3.1.6",
    "opentelemetry-api>=1.38.0",
    "opentelemetry-exporter-otlp>=1.38.0",
    "opentelemetry-instrumentation-django>=0.59b0",
    "opentelemetry-instrumentation-psycopg>=0.59b0",
    "opentelemetry-instrumentation-pymysql>=0.59b0",
    "opentelemetry-instrumentation-redis>=0.59b0",
    "opentelemetry-instrumentation-requests>=0.59b0",
    "opentelemetry-instrumentation-sqlite3>=0.59b0",
    "opentelemetry-instrumentation-system-metrics>=0.59b0",
    "opentelemetry-instrumentation-wsgi>=0.59b0",
    "opentelemetry-sdk>=1.38.0",
    "pdf2image>=1.17.0",
    "pillow>=12.0.0",
    "pint>=0.25.2",
    "pip-licenses>=5.5.0",
    "ppf-datamatrix>=0.2",
    "pypdf>=6.4.1",
    "python-barcode[images]>=0.16.1",
    "python-dotenv>=1.2.1",
    "pyyaml>=6.0.1",
    "qrcode[pil]>=8.2",
    "rapidfuzz>=3.14.3",
    "sentry-sdk>=2.47.0",
    "setuptools>=80.9.0",
    "tablib[xls,xlsx,yaml]>=3.9.0",
    "weasyprint>=66.0",
    "whitenoise>=6.11.0",
    "xmlsec==1.3.17",
]
devel = [
    "coverage[toml]>=7.13.0",
    "django-querycount>=0.8.3",
    "django-silk>=5.4.3",
    "django-slowtests>=1.1.1",
    "django-stubs>=5.2.8",
    "django-test-migrations>=1.5.0",
    "django-types>=0.22.0",
    "isort>=7.0.0",
    "pdfminer-six>=20251107",
    "pip-tools>=7.5.2",
    "pre-commit>=4.5.0",
    "pytest-codspeed>=4.2.0",
    "pytest-django>=4.11.1",
    "requests-mock>=1.12.1",
    "setuptools>=80.9.0",
    "ty>=0.0.1a21",
]
container = [
    "django<6.0",
    "django-auth-ldap",
    "gunicorn>=22.0.0",
    "invoke>=2.2.0",
    "mariadb>=1.1.8",
    "mysqlclient>=2.2.0",
    "psycopg[binary,pool]",
    "python-ldap",
    "pyyaml>=6.0.1",
    "setuptools>=69.0.0",
    "uv",
    "wheel>=0.41.0",
]
ci = [
    "jc>=1.25.6",
    "pyyaml>=6.0.3",
    "requests>=2.32.5",
]
docs = [
    "mkdocs>=1.6.1",
    "mkdocs-git-revision-date-localized-plugin>=1.1,<2.0",
    "mkdocs-include-markdown-plugin>=7.2.0",
    "mkdocs-macros-plugin>=0.7,<2.0",
    "mkdocs-material>=9.0,<10.0",
    "mkdocs-mermaid2-plugin>=1.2.3",
    "mkdocs-redirects>=1.2.2",
    "mkdocs-simple-hooks>=0.1,<1.0",
    "mkdocstrings[python]>=0.25.0,<=1.0.0",
    "neoteroi-mkdocs>=1.2.0",
]
