# Dev requirements for InvenTree
coverage                                # Unit test coverage
coveralls                               # Coveralls linking (for Travis)
django-debug-toolbar                    # Debug / profiling toolbar
django-test-migrations                  # Unit testing for database migrations
flake8                                  # PEP checking
flake8-docstrings                       # docstring format testing
isort                                   # python import sorting
pep8-naming                             # PEP naming convention extension
pip-tools                               # Compile pip requirements
pre-commit                              # Git pre-commit
setuptools                              # Standard depenedency
