# Please keep this list sorted - if you pin a version provide a reason
Django<5.0                              # Django package
coreapi                                 # API documentation for djangorestframework
cryptography>=40.0.0,!=40.0.2           # Core cryptographic functionality
django-allauth                          # SSO for external providers via OpenID
django-allauth-2fa                      # MFA / 2FA
django-cleanup                          # Automated deletion of old / unused uploaded files
django-cors-headers                     # CORS headers extension for DRF
django-crispy-forms<2.0                 # Form helpers # FIXED 2023-02-18 due to required updates in the new version
django-dbbackup                         # Backup / restore of database and media files
django-error-report-2                   # Error report viewer for the admin interface
django-filter                           # Extended filtering options
django-flags                            # Feature flags
django-formtools                        # Form wizard tools
django-ical                             # iCal export for calendar views
django-import-export                    # Data import / export for admin interface
django-maintenance-mode                 # Shut down application while reloading etc.
django-markdownify                      # Markdown rendering
django-mptt                             # Modified Preorder Tree Traversal
django-markdownify                      # Markdown rendering
django-money>=3.0.0,<3.3.0              # Django app for currency management # FIXED 2023-10-31 3.3.0 breaks due to https://github.com/django-money/django-money/issues/731
django-mptt                             # Modified Preorder Tree Traversal
django-redis>=5.0.0                     # Redis integration
django-q2                               # Background task scheduling
django-q-sentry                         # sentry.io integration for django-q
django-sesame                           # Magic link authentication
django-sql-utils                        # Advanced query annotation / aggregation
django-sslserver                        # Secure HTTP development server
django-stdimage                         # Advanced ImageField management
django-taggit                           # Tagging support
django-user-sessions                    # user sessions in DB
django-weasyprint                       # django weasyprint integration
djangorestframework                     # DRF framework
djangorestframework-simplejwt[crypto]   # JWT authentication
django-xforwardedfor-middleware         # IP forwarding metadata
dj-rest-auth                            # Authentication API endpoints
dulwich                                 # pure Python git integration
drf-spectacular                         # DRF API documentation
feedparser                              # RSS newsfeed parser
gunicorn                                # Gunicorn web server
pdf2image                               # PDF to image conversion
pillow                                  # Image manipulation
pint==0.21                              # Unit conversion  # FIXED 2023-05-30 breaks tests https://github.com/matmair/InvenTree/actions/runs/5095665936/jobs/9160852560
python-barcode[images]                  # Barcode generator
python-dotenv                           # Environment variable management
pyyaml>=6.0.1                           # YAML parsing
qrcode[pil]                             # QR code generator
rapidfuzz                               # Fuzzy string matching
regex                                   # Advanced regular expressions
sentry-sdk                              # Error reporting (optional)
setuptools                              # Standard dependency
tablib[xls,xlsx,yaml]                   # Support for XLS and XLSX formats
weasyprint                              # PDF generation

# OpenTelemetry dependencies
grpcio==1.54.3                          # Pinned to ensure docker image builds correctly
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-redis
