{% extends "base.html" %}

{% block content %}

<h3>Part tracking information</h3>

<table class="table table-striped">
    <tr>
        <td>Part</td>
        <td><a href="{% url 'part-track' part.part.id %}">{{ part.part.name }}</a></td>
    </tr>
    <tr>
        <td>Serial Number</td>
        <td>{{ part.serial }}</td>
    </tr>
    <tr>
        <td>Creation Date</td>
        <td>{{ part.creation_date }}</td>
    </tr>
    {% if part.URL %}
    <tr>
        <td>URL</td>
        <td><a href="{{ part.URL }}">{{ part.URL }}</a></td>
    </tr>
    {% endif %}
    {% if part.customer %}
    <tr>
        <td>Customer</td>
        <td>{{ part.customer }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Status</td>
        <td>{{ part.get_status_display }}</td>
    </tr>
</table>

{% if part.tracking_info.all|length > 0 %}
<p>Tracking information:</p>
<ul class='list-group'>
{% for info in part.tracking_info.all %}
<li class='list-group-item'>
        {{ info.title }}
        {% if info.note %}<br><i>{{ info.notes }}</i>{% endif %}<span class="badge">{{ info.date }}</span>
  </li>
{% endfor %}
</ul>
{% endif %}

<div class='container-fluid'>
<a href="{% url 'track-edit' part.id %}">
    <button class="btn btn-info">Edit</button>
</a>
<a href="{% url 'track-delete' part.id %}">
    <button class="btn btn-danger">Delete</button>
</a>
</div>

{% endblock %}