{% extends "email/email.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block title %}
{{ message }}
{% if link %}
<p>{% trans "Click on the following link to view this order" %}: <a href="{{ link }}">{{ link }}</a></p>
{% endif %}
{% endblock title %}

{% block body %}
<tr style="height: 3rem; border-bottom: 1px solid">
    <th>{% trans "Build Order" %}</th>
    <th>{% trans "Part" %}</th>
</tr>

<tr style="height: 3rem">
    <td style="text-align: center;">{{ order }}</td>
    <td style="text-align: center;">{{ order.part.full_name }}</td>
</tr>

{% endblock body %}
