# Dev requirements for InvenTree
-c requirements.txt
coverage[toml]                          # Unit test coverage
django-admin-shell                      # Remote shell access
django-querycount                       # Display number of URL queries for requests
django-slowtests                        # Show which unit tests are running slowly
django-test-migrations                  # Unit testing for database migrations
isort                                   # python import sorting
pip-tools                               # Compile pip requirements
pre-commit                              # Git pre-commit
setuptools                              # Standard dependency
pdfminer.six                            # PDF validation
