# Dev requirements for InvenTree
coverage[toml]                          # Unit test coverage
django-querycount                       # Display number of URL queries for requests
django-silk                             # API query profiling
django-slowtests                        # Show which unit tests are running slowly
django-test-migrations                  # Unit testing for database migrations
isort                                   # python import sorting
pip-tools                               # Compile pip requirements
pre-commit                              # Git pre-commit
setuptools                              # Standard dependency
pdfminer.six                            # PDF validation
ty                                      # type checking
django-types                            # typing
django-stubs                            # typing
requests-mock                           # Mock requests for unit tests
pytest-codspeed                         # Performance testing with Codspeed
pytest-django                           # Pytest support for Django (for benchnmarking)
