{% extends "base.html" %}

{% block content %}

{% include "stock/loc_link.html" with location=item.location %}

<ul>
<li>Part: <a href="{% url 'part-detail' item.part.id %}">{{ item.part.name }}</a></li>
{% if item.supplier_part %}
<li>Supplier Part: {{ item.supplier_part.supplier.name }} | {{ item.supplier_part.SKU }}</li>
{% endif %}
<li>Quantity: {{ item.quantity }}</li>
{% if item.stocktake_date %}
<li>Stocktake Date: {{ item.stocktake_date }}</li>
<li>Checked by: {{ item.stocktake_user }}</li>
{% endif %}
<li>Status: {{ item.status }}</li>
<li>Notes: {{ item.notes }}</li>
</ul>

{% endblock %}