{% extends "base.html" %}

{% block content %}

{% include "stock/loc_link.html" with location=location %}

{% if children|length > 0 %}
<table>
    <tr><th>Sublocations</th></tr>
{% for child in children %}
<tr>
    <td><a href="/stock/list/?location={{ child.id }}">{{ child.name }}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if items|length > 0 %}
<table>
    <tr>
        <th>Part</th>
        <th>Stock</th>
        <th>Stocktake</th>
        <th>Notes</th>
    </tr>
{% for item in items %}
<tr>
    <td><a href="{% url 'part-detail' item.part.id %}">{{ item.part.name }}</a></td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.stocktake_date }}</td>
    <td>{{ item.notes }}</td>
</tr>
{% endfor %}
</table>
{% else %}
There are no parts in this location.
{% endif %}
{% endblock %}