{% extends "base.html" %}
{% load static %}
{% block content %}

{% include "stock/loc_link.html" with location=None %}

<div class='row'>
    <div class='col-sm-6'>
        <h3>Storage Locations</h3>
    </div>
    <div class='col-sm-6'>
        <h3>
            <button style='float: right;' class='btn btn-success' id='location-create'>New Stock Location</button>
        </h3>
    </div>
</div>

<hr>

{% if locations|length > 0 %}
{% include "stock/location_list.html" with locations=locations %}
<hr>
{% endif %}
<h3>Stock Items</h3>
<table class="table table-striped" id='stock-table'>
</table>

{% include 'modals.html' %}

{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}

    $('#location-create').click(function () {
        launchModalForm("#modal-form",
                        "{% url 'stock-location-create' %}",
                        {
                            follow: true
                        });
    });

    {% include "stock/stock_table.html" %}

{% endblock %}