{% extends "base.html" %}
{% load static %}
{% block content %}

{% include "stock/loc_link.html" with location=item.location %}

<h3>Stock entry details</h3>

<table class="table table-striped">
<tr>
    <td>Part</td>
    <td><a href="{% url 'part-stock' item.part.id %}">{{ item.part.name }}</td>
</tr>
{% if item.belongs_to %}
<tr>
    <td>Belongs To</td>
    <td><a href="{% url 'stock-item-detail' item.belongs_to.id %}">{{ item.belongs_to }}</a></td>
</tr>
{% elif item.location %}
<tr>
    <td>Location</td>
    <td><a href="{% url 'stock-location-detail' item.location.id %}">{{ item.location.name }}</a></td>
</tr>
{% endif %}
{% if item.serial %}
<tr>
    <td>Serial</td>
    <td>{{ item.serial }}</td>
</tr>
{% endif %}
{% if item.batch %}
<tr>
    <td>Batch</td>
    <td>{{ item.batch }}</td>
</tr>
{% endif %}
{% if item.customer %}
<tr>
    <td>Customer</td>
    <td>{{ item.customer.name }}</td>
</tr>
{% endif %}
<tr>
    <td>Quantity</td>
    <td>{{ item.quantity }}</td>
</tr>
{% if item.URL %}
<tr>
    <td>URL</td>
    <td><a href="{{ item.URL }}">{{ item.URL }}</a></td>
</tr>
{% endif %}
{% if item.supplier_part %}
<tr>
    <td>Supplier Part</td>
    <td><a href="{% url 'supplier-part-detail' item.supplier_part.id %}">{{ item.supplier_part.SKU }}</a></td>
</tr>
{% endif %}
<tr>
    <td>Updated</td>
    <td>{{ item.updated }}</td>
</tr>
{% if item.stocktake_date %}
<tr>
    <td>Stocktake</td>
    <td>{{ item.stocktake_date }} <span class='badge'>{{ item.stocktake_user }}</span></td>
</tr>
{% endif %}
<tr>
    <td>Status</td>
    <td>{{ item.get_status_display }}</td>
</tr>
{% if item.notes %}
<tr>
    <td>Notes</td>
    <td>{{ item.notes }}</td>
</tr>
{% endif %}
</table>

{% if item.has_tracking_info %}
<h3>Stock Tracking</h3>
<ul class='list-group'>
{% for track in item.tracking_info.all %}
<li class='list-group-item'>
    <b>{{ track.title }}</b>
    {% if track.description %}
    <br><br>{{ track.description }}</i>
    {% endif %}
    <span class='badge'>{{ track.date }}</span>
</li>
{% endfor %}
</ul>
{% endif %}

<div class='container-fluid'>
<button class='btn btn-info' id='edit-item'>Edit Stock Item</button>
{% if item.in_stock %}
<button class='btn btn-primary' id='move-item'>Move Stock Item</button>
{% endif %}
<button class='btn btn-danger' id='delete-item'>Delete Stock Item</button>
</div>

{% include 'modals.html' %}

{% endblock %}

{% block js_load %}

<script type='text/javascript' src="{% static 'script/footable.js' %}"></script>
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}
    $("#edit-item").click(function () {
        launchModalForm("#modal-form",
                        "{% url 'stock-item-edit' item.id %}",
                        {
                            reload: true
                        });
    });

    {% if item.in_stock %}
    $("#move-item").click(function() {
        launchModalForm("#modal-form",
                        "{% url 'stock-item-move' item.id %}",
                        {
                            reload: true,
                        });
        });
    {% endif %}

    $("#delete-item").click(function () {
        launchDeleteForm("#modal-delete",
                         "{% url 'stock-item-delete' item.id %}",
                         {
                             redirect: "{% url 'part-stock' item.part.id %}"
                         });
    });
{% endblock %}