{% extends "stock/item_base.html" %}

{% load static %}
{% load i18n %}

{% block menubar %}
{% include "stock/navbar.html" with tab='attachments' %}
{% endblock %}

{% block heading %}
{% trans "Stock Item Attachments" %}
{% endblock %}

{% block details %}
{% include "attachment_table.html" with attachments=item.attachments.all %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

enableDragAndDrop(
        '#attachment-dropzone',
        "{% url 'api-stock-attachment-list' %}",
        {
            data: {
                stock_item: {{ item.id }},
            },
            label: 'attachment',
            success: function(data, status, xhr) {
                reloadAttachmentTable();
            }
        }
    );

loadAttachmentTable(
    '{% url "api-stock-attachment-list" %}',
    {
        filters: {
            stock_item: {{ item.pk }},
        },
        onEdit: function(pk) {
            var url = `/api/stock/attachment/${pk}/`;

            constructForm(url, {
                fields: {
                    comment: {},
                },
                title: '{% trans "Edit Attachment" %}',
                onSuccess: reloadAttachmentTable 
            });
        },
        onDelete: function(pk) {
            var url = `/api/stock/attachment/${pk}/`;

            constructForm(url, {
                method: 'DELETE',
                confirmMessage: '{% trans "Confirm Delete Operation" %}',
                title: '{% trans "Delete Attachment" %}',
                onSuccess: reloadAttachmentTable,
            });
        }
    }
);

$("#new-attachment").click(function() {

    constructForm(
        '{% url "api-stock-attachment-list" %}',
        {
            method: 'POST',
            fields: {
                attachment: {},
                comment: {},
                stock_item: {
                    value: {{ item.pk }},
                    hidden: true,
                },
            },
            reload: true,
            title: '{% trans "Add Attachment" %}',
        }
    );
});

{% endblock %}