{% load i18n %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='location-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Sublocations" %}'>
        <a href='#' id='select-sublocations' class='nav-toggle'>
            <span class='fas fa-sitemap sidebar-icon'></span>
            {% trans "Sublocations" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "stock" %}active{% endif %}' title='{% trans "Stock Items" %}'>
        <a href='#' id='select-stock' class='nav-toggle'>
            <span class='fas fa-boxes sidebar-icon'></span>
            {% trans "Stock Items" %}
        </a>
    </li>

</ul>