{% load i18n %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='location-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item {% if tab == "sublocations" %}active{% endif %}' title='{% trans "Sublocations" %}'>
        {% if location %}
        <a href='{% url "stock-location-sublocation" location.id %}'>
        {% else %}
        <a href='{% url "stock-sublocations" %}'>
        {% endif %}
            <span class='fas fa-sitemap'></span>
            {% trans "Sublocations" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "stock" %}active{% endif %}' title='{% trans "Stock Items" %}'>
        {% if location %}
        <a href='{% url "stock-location-detail" location.id %}'>
        {% else %}
        <a href='{% url "stock-index" %}'>
        {% endif %}
            <span class='fas fa-boxes'></span>
            {% trans "Stock Items" %}
        </a>
    </li>

</ul>