{% extends "modal_delete_form.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block pre_form_content %}
{% trans "Are you sure you want to delete this stock location?" %}

<br>

{% if location.children.all|length > 0 %}
<p>This location contains {{ location.children.all|length }} child locations.<br>
If this location is deleted, these child locations will be moved to
{% if location.parent %}
the '{{ location.parent.name }}' location.
{% else %}
the top level 'Stock' location.
{% endif %}
</p>

<ul class='list-group'>
    {% for loc in location.children.all %}
    <li class='list-group-item'><strong>{{ loc.name }}</strong> - <em>{{ loc.description}}</em></li>
    {% endfor %}
</ul>
{% endif %}

{% if location.stock_items.all|length > 0 %}
<p>This location contains {{ location.stock_items.all|length }} stock items.<br>
{% if location.parent %}
If this location is deleted, these items will be moved to the '{{ location.parent.name }}' location.
{% else %}
If this location is deleted, these items will be moved to the top level 'Stock' location.
{% endif %}
</p>

<ul class='list-group'>
    {% for item in location.stock_items.all %}
    <li class='list-group-item'><strong>{{ item.part.full_name }}</strong> - <em>{{ item.part.description }}</em><span class='badge'>{% decimal item.quantity %}</span></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}