{% extends "modal_form.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block pre_form_content %}

<div class='alert alert-block alert-success'>
    {% trans "The following stock items will be uninstalled" %}
</div>

<ul class='list-group'>
    {% for item in stock_items %}
    <li class='list-group-item'>
        {% include "hover_image.html" with image=item.part.image hover=False %}
        {{ item }}
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block form_data %}

{% for item in stock_items %}
<input type='hidden' name='stock-item-{{ item.pk }}' value='{{ item.pk }}'/>
{% endfor %}

{% endblock %}