{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% include "sidebar_item.html" with label='history' text='{% trans "Stock Tracking" %}' icon="fa-history" %}
{% if item.part.trackable %}
{% include "sidebar_item.html" with label='test-data' text='{% trans "Test Data" %}' icon="fa-vial" %}
{% endif %}
{% if item.part.assembly %}
{% include "sidebar_item.html" with label='installed-items' text='{% trans "Installed Items" %}' icon="fa-sign-in-alt" %}
{% endif %}
{% if item.child_count > 0 %}
{% include "sidebar_item.html" with label='children' text='{% trans "Child Items" %}' icon="fa-sitemap" %}
{% endif %}
{% include "sidebar_item.html" with label='attachments' text='{% trans "Attachments" %}' icon="fa-paperclip" %}
{% include "sidebar_item.html" with label='notes' text='{% trans "Notes" %}' icon="fa-clipboard" %}
