{% extends "modal_form.html" %}
{% load i18n %}

{% block pre_form_content %}

<div class='alert alert-block alert-info'>
    <b>{% trans "Convert Stock Item" %}</b><br>
    {% blocktrans with part=item.part %}This stock item is current an instance of <i>{{part}}</i>{% endblocktrans %}<br>
    {% trans "It can be converted to one of the part variants listed below." %}
</div>

<div class='alert alert-block alert-warning'>
    <b>{% trans "Warning" %}</b>
    {% trans "This action cannot be easily undone" %}
</div>

{% endblock %}