{% extends "modal_form.html" %}
{% load i18n %}

{% block pre_form_content %}

<div class='alert alert-block alert-info'>
    <strong>{% trans "Convert Stock Item" %}</strong><br>
    {% blocktrans with part=item.part %}This stock item is current an instance of <em>{{part}}</em>{% endblocktrans %}<br>
    {% trans "It can be converted to one of the part variants listed below." %}
</div>

<div class='alert alert-block alert-warning'>
    <strong>{% trans "Warning" %}</strong>
    {% trans "This action cannot be easily undone" %}
</div>

{% endblock %}
