$("#stock-table").bootstrapTable({
    sortable: true,
    search: true,
    method: 'get',
    pagination: true,
    rememberOrder: true,
    {% if location %}
    queryParams: function(p) {
        return {
            location: {{ location.id }}
        }
    },
    {% endif %}
    columns: [
        {
            checkbox: true,
            title: 'Select',
            searchable: false,
        },
        {
            field: 'pk',
            title: 'ID',
            visible: false,
        },
        {
            field: 'part.name',
            title: 'Part',
            sortable: true,
            formatter: function(value, row, index, field) {
                return renderLink(value, row.part.url);
            }
        },
        {% if location == None %}
        {
            field: 'location',
            title: 'Location',
            sortable: true,
            formatter: function(value, row, index, field) {
                if (row.location) {
                    return renderLink(row.location.name, row.location.url);
                }
                else {
                    return '';
                }
            }
        },
        {% endif %}
        {
            field: 'quantity',
            title: 'Stock',
            sortable: true,
        },
        {
            field: 'status',
            title: 'Status',
            sortable: true,
        }
    ],
    url: "{% url 'api-stock-list' %}",
});