{% extends "company/company_base.html" %}
{% load static %}
{% load i18n %}

{% block details %}

{% include "company/tabs.html" with tab="assigned" %}

<h4>{% trans "Assigned Stock" %}</h4>
<hr>

<table class='table table-striped table-condensed' id='stock-table'></table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

loadStockTable($("#stock-table"), {
    params: {
        test: 7,
        customer: {{ company.id }},
        part_detail: true,
        location_detail: true,
    },
    url: "{% url 'api-stock-list' %}",
});

{% endblock %}