{% extends "company/company_base.html" %}
{% load static %}
{% block details %}

{% include 'company/tabs.html' with tab='parts' %}

<h3>Company Parts</h3>

<table clas='table table-striped table-condensed' id='part-table'>
</table>

<div class='container-fluid'>
<button class="btn btn-success" id='part-create'>New Supplier Part</button>
</div>

{% include 'modals.html' %}

{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}

    $("#part-create").click(function () {
        launchModalForm("#modal-form",
                        "{% url 'supplier-part-create' %}",
                        {
                            data: {
                                supplier: {{ company.id }}
                            },
                            reload: true,
                        });
    });

    $("#part-table").bootstrapTable({
        sortable: true,
        search: true,
        queryParams: function(p) {
            return {
                supplier: {{ company.id }}
            }
        },
        columns: [
            {
                sortable: true,
                field: 'part',
                title: 'Part',
                formatter: function(value, row, index, field) {
                    return renderLink(value.name, value.url);
                }
            },
            {
                sortable: true,
                field: 'SKU',
                title: 'SKU',
                formatter: function(value, row, index, field) {
                    return renderLink(value, row.url);
                }
            },
            {
                sortable: true,
                field: 'manufacturer',
                title: 'Manufacturer',
            }
        ],
        url: "{% url 'api-part-supplier-list' %}"
    });

{% endblock %}