{% extends "company/company_base.html" %}
{% load static %}
{% block details %}

{% include 'company/tabs.html' with tab='details' %}

<h3>Company Details</h3>

<table class='table table-striped'>
<tr>
    <td>Customer</td>
    <td>{% include 'yesnolabel.html' with value=company.is_customer %}</td>
</tr>
<tr>
    <td>Supplier</td>
    <td>{% include 'yesnolabel.html' with value=company.is_supplier %}</td>
</tr>
</table>

{% if company.notes %}
<div class="panel panel-default">
    <div class="panel-heading"><b>Notes</b></div>
  <div class="panel-body">{{ company.notes }}</div>
</div>
{% endif %}

<div class='container-fluid'>
<button class="btn btn-info" id='edit-company'>Edit Company</button>
<button class="btn btn-danger" id='delete-company'>Delete Company</button>
</div>

{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}
{{ block.super }}
    $('#edit-company').click(function() {
        launchModalForm("#modal-form",
                        "{% url 'company-edit' company.id %}",
                        {
                            reload: true
                        });
    });

    $('#delete-company').click(function() {
        launchDeleteForm("#modal-delete",
                         "{% url 'company-delete' company.id %}",
                         {
                             redirect: "{% url 'company-index' %}"
                         });
    });
{% endblock %}