{% extends "company/company_base.html" %}
{% load static %}
{% block details %}

{% include 'company/tabs.html' with tab='details' %}

<h4>Company Details</h4>
<hr>

<table class='table table-striped'>
<tr>
    <td>Customer</td>
    <td>{% include 'yesnolabel.html' with value=company.is_customer %}</td>
</tr>
<tr>
    <td>Supplier</td>
    <td>{% include 'yesnolabel.html' with value=company.is_supplier %}</td>
</tr>
</table>

{% endblock %}
{% block js_ready %}
{{ block.super }}
   
{% endblock %}