{% extends "company/company_base.html" %}
{% load static %}
{% block details %}

{% include 'company/tabs.html' with tab='po' %}

<h4>Purchase Orders</h4>

<table class='table table-striped table-condensed' id='po-table'>
    <tr>
        <th>Reference</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {% include "company/po_list.html" with orders=company.outstanding_purchase_orders %}
    {% include "company/po_list.html" with orders=company.complete_purchase_orders %}
    {% include "company/po_list.html" with orders=company.failed_purchase_orders %}
</table>

{% endblock %}