{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load inventree_extras %}

{% block page_title %}
{% inventree_title %} | {% trans "Supplier List" %} 
{% endblock %}

{% block content %}

<h3>{{ title }}</h3>
<hr>

{% if pagetype == 'manufacturers' and roles.purchase_order.add or pagetype == 'suppliers' and roles.purchase_order.add or pagetype == 'customers' and roles.sales_order.add %}
<div id='button-toolbar'>
    <button type='button' class="btn btn-success" id='new-company'>
        <span class='fas fa-plus-circle'></span> {{ button_text }} (Server Side)
    </button>
    <button type='button' class="btn btn-success" id='new-company-2'>
        <span class='fas fa-plus-circle'></span> {{ button_text }} (Client Side)
    </button>
    <div class='btn-group'>
    </div>
</div>
{% endif %}

<table class='table table-striped table-condensed' id='company-table' data-toolbar='#button-toolbar'>
</table>

{% endblock %}
{% block js_ready %}
{{ block.super }}
    $('#new-company').click(function () {
        launchModalForm("{{ create_url }}", {
            follow: true
        });
    });

    $('#new-company-2').click(function() {
        constructForm(
            '{% url "api-build-list" %}',
            {
                method: 'POST',
                title: '{% trans "Edit Part Details" %}',
                fields: {
                    part: {
                        filters: {
                        }
                    },
                    quantity: {},
                    /*
                    name: {
                        onEdit: function() {
                            console.log('Edited name field');
                        }
                    },
                    description: {},
                    category: {
                        filters: {
                            parent: 1,
                        },
                        secondary: {
                            label: '{% trans "New Category" %}',
                        },
                    },
                    active: {
                        onEdit: function() {
                            console.log('edited active field');
                        }
                    },
                    purchaseable: {},
                    salable: {},
                    component: {},
                    'website',
                    'address',
                    'phone',
                    'email',
                    'contact',
                    'is_supplier',
                    'is_manufacturer',
                    'is_customer',
                    */
                }
            }
        );
    });

    loadCompanyTable("#company-table", "{% url 'api-company-list' %}",
        {
            pagetype: '{{ pagetype }}',
            params: {
                {% for key,value in filters.items %}{{ key }}: "{{ value }}",{% endfor %}
            }
        }
    );

{% endblock %}