{% extends "base.html" %}

{% load static %}

{% block content %}

<h3>Companies</h3>


<table class='table table-striped' id='company-table' data-sorting='true' data-filtering='true'>
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    {% for company in companies %}
    <tr>
        <td>
            <a href="{% url 'company-detail' company.id %}">
                {{ company.name }}
            </a>
        </td>
        <td>{{ company.description }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<div class='container-fluid'>
<button class="btn btn-success" id='new-company'>New Company</button>
</div>

{% include 'modals.html' %}

{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}

    $('#new-company').click(function () {
        launchModalForm('#modal-form',
                        "{% url 'company-create' %}",
                        {
                            follow: true
                        });
    });
{% endblock %}