{% load i18n %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='manufacturer-part-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Parameters" %}'>
        <a href='#' id='select-parameters' class='nav-toggle'>
            <span class='fas fa-th-list sidebar-icon'></span>
            {% trans "Parameters" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Supplier Parts" %}'>
        <a href='#' id='select-supplier-parts' class='nav-toggle'>
            <span class='fas fa-building sidebar-icon'></span>
            {% trans "Suppliers" %}
        </a>
    </li>

    {% comment "for later" %}
    <li class='list-group-item {% if tab == "stock" %}active{% endif %}' title='{% trans "Manufacturer Part Stock" %}'>
        <a href='#'>
            <span class='fas fa-boxes sidebar-icon'></span>
            {% trans "Stock" %}
        </a>
    </li>
    
    <li class='list-group-item {% if tab == "orders" %}active{% endif %}' title='{% trans "Manufacturer Part Orders" %}'>
        <a href='#'>
            <span class='fas fa-shopping-cart sidebar-icon'></span>
            {% trans "Orders" %}
        </a>
    </li>
    {% endcomment %}

</ul>