{% load i18n %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='manufacturer-part-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item {% if tab == "suppliers" %}active{% endif %}' title='{% trans "Supplier Parts" %}'>
        <a href='{% url "manufacturer-part-suppliers" part.id %}'>
            <span class='fas fa-building'></span>
            {% trans "Suppliers" %}
        </a>
    </li>

    {% comment "for later" %}
    <li class='list-group-item {% if tab == "stock" %}active{% endif %}' title='{% trans "Manufacturer Part Stock" %}'>
        <a href='{% url "manufacturer-part-stock" part.id %}'>
            <span class='fas fa-boxes'></span>
            {% trans "Stock" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "orders" %}active{% endif %}' title='{% trans "Manufacturer Part Orders" %}'>
        <a href='{% url "manufacturer-part-orders" part.id %}'>
            <span class='fas fa-shopping-cart'></span>
            {% trans "Orders" %}
        </a>
    </li>
    {% endcomment %}

</ul>