{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% settings_value 'STOCK_FUNCTION_ENABLE' as enable_stock %}
{% settings_value 'SO_FUNCTION_ENABLE' as enable_so %}
{% settings_value 'PO_FUNCTION_ENABLE' as enable_po %}
    
<ul class='list-group'>
    <li class='list-group-item'>
        <a href='#' id='company-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    {% if company.is_manufacturer %}
    <li class='list-group-item' title='{% trans "Manufactured Parts" %}'>
        <a href='#' id='select-manufacturer-parts' class='nav-toggle'>
            <span class='fas fa-industry sidebar-icon'></span>
            {% trans "Manufactured Parts" %}
        </a>
    </li>
    {% endif %}

    {% if company.is_supplier %}
    <li class='list-group-item' title='{% trans "Supplied Parts" %}'>
        <a href='#' id='select-supplier-parts' class='nav-toggle'>
            <span class='fas fa-building sidebar-icon'></span>
            {% trans "Supplied Parts" %}
        </a>
    </li>
    {% endif %}

    {% if company.is_manufacturer or company.is_supplier %}
    {% if enable_stock %}
    <li class='list-group-item' title='{% trans "Stock Items" %}'>
        <a href='#' id='select-company-stock' class='nav-toggle'>
            <span class='fas fa-boxes sidebar-icon'></span>
            {% trans "Stock" %}
        </a>
    </li>
    {% endif %}
    {% endif %}

    {% if company.is_supplier and enable_po %}
    <li class='list-group-item' title='{% trans "Purchase Orders" %}'>
        <a href='#' id='select-purchase-orders' class='nav-toggle'>
            <span class='fas fa-shopping-cart sidebar-icon'></span>
            {% trans "Purchase Orders" %}
        </a>
    </li>
    {% endif %}

    {% if company.is_customer and enable_so %}
    <li class='list-group-item' title='{% trans "Sales Orders" %}'>
        <a href='#' id='select-sales-orders' class='nav-toggle'>
            <span class='fas fa-truck sidebar-icon'></span>
            {% trans "Sales Orders" %}
        </a>
    </li>
    <li class='list-group-item' title='{% trans "Assigned Stock" %}'>
        <a href='#' id='select-assigned-stock' class='nav-toggle'>
            <span class='fas fa-sign-out-alt sidebar-icon'></span>
            {% trans "Assigned Stock" %}
        </a>
    </li>
    {% endif %}

    <li class='list-group-item' title='{% trans "Notes" %}'>
        <a href='#' id='select-company-notes' class='nav-toggle'>
            <span class='fas fa-clipboard sidebar-icon'></span>
            {% trans "Notes" %}
        </a>
    </li>

</ul>