{% extends "company/company_base.html" %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block menubar %}
{% include 'company/navbar.html' with tab='notes' %}
{% endblock %}

{% block heading %}
{% trans "Company Notes" %}
{% if not editing %}
<button title='{% trans "Edit notes" %}' class='btn btn-default' id='edit-notes'><span class='fas fa-edit'></span></button>
{% endif %}
{% endblock %}

{% block details %}
{% if editing %}
<form method='POST'>
    {% csrf_token %}
        
    {{ form }}
    <hr>
    <button type="submit" class='btn btn-default'>{% trans "Save" %}</button>
    
</form>

{{ form.media }}

{% else %}

{{ company.notes | markdownify }}
{% endif %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

{% if editing %}
{% else %}
$("#edit-notes").click(function() {
    location.href = "{% url 'company-notes' company.id %}?edit=1";
});
{% endif %}
   
{% endblock %}