{% extends "base.html" %}
{% load static %}

{% block page_title %}
InvenTree | {{ company.name }} - Parts
{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-sm-6'>
        <h3>Supplier Part</h3>
        <p>{{ part.SKU }} - <a href="{% url 'company-detail-parts' part.supplier.id %}">{{ part.supplier.name }}</a></p>
    </div>
    <div class='col-sm-6'>
        <h3>
            <div class="dropdown" style="float: right;">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" id='edit-part' title='Edit supplier part'>Edit</a></li>
                  <li><a href="#" id='delete-part' title='Delete supplier part'>Delete</a></li>
                </ul>
            </div>
        </h3>
    </div>
</div>

<hr>

<div class='row'>
<div class='col-sm-6'>
    <table class="table table-striped table-condensed">
        <tr><td>Supplier</td><td><a href="{% url 'company-detail-parts' part.supplier.id %}">{{ part.supplier.name }}</a></td></tr>
        <tr><td>SKU</td><td>{{ part.SKU }}</tr></tr>
        <tr>
            <td>Internal Part</td>
            <td>
        {% if part.part %}
            <a href="{% url 'part-suppliers' part.part.id %}">{{ part.part.name }}</a>
        {% endif %}
            </td>
        </tr>
    {% if part.URL %}
        <tr><td>URL</td><td><a href="{{ part.URL }}">{{ part.URL }}</a></td></tr>
    {% endif %}
    {% if part.description %}
        <tr><td>Description</td><td>{{ part.description }}</td></tr>
    {% endif %}
    {% if part.manufacturer %}
        <tr><td>Manufacturer</td><td>{{ part.manufacturer }}</td></tr>
        <tr><td>MPN</td><td>{{ part.MPN }}</td></tr>
    {% endif %}
    {% if part.note %}
        <tr><td>Note</td><td>{{ part.note }}</td></tr>
    {% endif %}
    </table>
</div>

<div class='col-sm-6'>
<table class="table table-striped table-condensed">
    <tr><th colspan='2'>Pricing</th></tr>
    <tr><td>Single Price</td><td>{{ part.single_price }}</td></tr>
    {% if part.multiple > 1 %}
    <tr><td>Order Multiple</td><td>{{ part.multiple }}</td></tr>
    {% endif %}
    {% if part.base_cost > 0 %}
    <tr><td>Base Price (Flat Fee)</td><td>{{ part.base_cost }}</td></tr>
    {% endif %}
    {% if part.minimum > 1 %}
    <tr><td>Minimum Order Quantity</td><td>{{ part.minimum }}</td></tr>
    {% endif %}
    {% if part.price_breaks.all %}
    <tr><th colspan='2'>Price Breaks</th></tr>
    <tr>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for pb in part.price_breaks.all %}
        <tr>
            <td>{{ pb.quantity }}</td>
            <td>{{ pb.cost }}</td>
        </tr>
    {% endfor %}
    {% endif %}
</table>
</div>
</div>

<br>

<div>
    <button class='btn btn-primary' type='button'>New Price Break</button>
</div>

{% include 'modals.html' %}

{% endblock %}

{% block js_ready %}
{{ block.super }}
    $('#edit-part').click(function () {
        launchModalForm(
                        "{% url 'supplier-part-edit' part.id %}",
                        {
                            reload: true
                        }
        );
    });

    $('#delete-part').click(function() {
        launchDeleteForm(
                         "{% url 'supplier-part-delete' part.id %}",
                         {
                             redirect: "{% url 'company-index' %}"
                         }
        );
    });
{% endblock %}