{% extends "base.html" %}
{% load static %}
{% block content %}

<h3>Supplier part information</h3>

<table class="table">
    <tr><td>SKU</td><td>{{ part.SKU }}</tr></tr>
    <tr><td>Supplier</td><td><a href="{% url 'company-detail-parts' part.supplier.id %}">{{ part.supplier.name }}</a></td></tr>
    <tr>
        <td>Parent Part</td>
        <td>
    {% if part.part %}
        <a href="{% url 'part-suppliers' part.part.id %}">{{ part.part.name }}</a>
    {% endif %}
        </td>
    </tr>
{% if part.URL %}
    <tr><td><URL></td><td><a href="{{ part.URL }}">{{ part.URL }}</a></td></tr>
{% endif %}
{% if part.description %}
    <tr><td>Description</td><td>{{ part.description }}</td></tr>
{% endif %}
{% if part.manufacturer %}
    <tr><td>Manufacturer</td><td>{{ part.manufacturer }}</td></tr>
    <tr><td>MPN</td><td>{{ part.MPN }}</td></tr>
{% endif %}
</table>

<br>

<div class='container-fluid'>
<button class="btn btn-info" id='part-edit'>Edit supplier part</button>
<button class="btn btn-danger" id='part-delete'>Delete supplier part</button>
</div>

{% include 'modals.html' %}

{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>
{% endblock %}
{% block js_ready %}
    $('#part-edit').click(function () {
        launchModalForm("#modal-form",
                        "{% url 'supplier-part-edit' part.id %}",
                        {
                            reload: true
                        }
        );
    });

    $('#part-delete').click(function() {
        launchDeleteForm("#modal-delete",
                         "{% url 'supplier-part-delete' part.id %}",
                         {
                             redirect: "{% url 'company-index' %}"
                         }
        );
    });
{% endblock %}