{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}
InvenTree | {% trans "Supplier Part" %}
{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-sm-6'>
        <div class='media'>
            <div class='media-left'>
                <img class='part-thumb'
                {% if part.part.image %}
                src='{{ part.part.image.url }}'
                {% else %}
                src="{% static 'img/blank_image.png' %}"
                {% endif %}/>
            </div>
            <div class='media-body'>
                <h3>{% trans "Supplier Part" %}</h3>
                <div class='btn-row'>
                    <div class='btn-group'>
                        <button type='button' class='btn btn-default btn-glyph' id='edit-part' title='Edit supplier part'>
                            <span class='glyphicon glyphicon-edit'/>
                        </button>
                        <button type='button' class='btn btn-default btn-glyph' id='delete-part' title='Delete supplier part'>
                            <span class='glyphicon glyphicon-trash'/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-sm-6'>
        <h4>{% trans "Supplier Part Details" %}</h4>
        <table class="table table-striped table-condensed">
            <col width='25'>
                <tr>
                    <td><span class='fas fa-shapes'></span></td>
                    <td>{% trans "Internal Part" %}</td>
                    <td>
                        {% if part.part %}
                        <a href="{% url 'part-suppliers' part.part.id %}">{{ part.part.full_name }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% if part.description %}
                <tr>
                    <td></td>
                    <td>{% trans "Description" %}</td>
                    <td>{{ part.description }}</td>
                </tr>
                {% endif %}
                {% if part.link %}
                <tr>
                    <td><span class='fas fa-link'></span></td>
                    <td>{% trans "External Link" %}</td>
                    <td><a href="{{ part.link }}">{{ part.link }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td><span class='fas fa-building'></span></td>
                    <td>{% trans "Supplier" %}</td>
                    <td><a href="{% url 'company-detail-parts' part.supplier.id %}">{{ part.supplier.name }}</a></td></tr>
                <tr>
                    <td><span class='fas fa-hashtag'></span></td>
                    <td>{% trans "SKU" %}</td>
                    <td>{{ part.SKU }}</tr>
                </tr>
                {% if part.manufacturer %}
                <tr>
                    <td><span class='fas fa-industry'></span></td>
                    <td>{% trans "Manufacturer" %}</td>
                    <td><a href="{% url 'company-detail-parts' part.manufacturer.id %}">{{ part.manufacturer.name }}</a></td></tr>
                <tr>
                    <td><span class='fas fa-hashtag'></span></td>
                    <td>{% trans "MPN" %}</td>
                    <td>{{ part.MPN }}</td>
                </tr>
                {% endif %}
                {% if part.note %}
                <tr>
                    <td><span class='fas fa-sticky-note'></span></td>
                    <td>{% trans "Note" %}</td>
                    <td>{{ part.note }}</td>
                </tr>
                {% endif %}
        </table>
    </div>
</div>





<hr>

<div class='container-fluid'>
    {% block details %}
    <!-- Particular SupplierPart page goes here ... -->
    {% endblock %}
</div>

{% endblock %}

{% block js_ready %}
{{ block.super }}

$('#edit-part').click(function () {
    launchModalForm(
                    "{% url 'supplier-part-edit' part.id %}",
                    {
                        reload: true
                    }
    );
});

$('#delete-part').click(function() {
    launchModalForm(
        "{% url 'supplier-part-delete' %}?part={{ part.id }}",
        {
            redirect: "{% url 'company-detail-parts' part.supplier.id %}"
        }
    );
});

{% endblock %}