{% load i18n %}
{% load inventree_extras %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='supplier-part-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Supplier Part Stock" %}'>
        <a href='#' id='select-stock' class='nav-toggle'>
            <span class='fas fa-boxes sidebar-icon'></span>
            {% trans "Stock" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Supplier Part Orders" %}'>
        <a href='#' id='select-purchase-orders' class='nav-toggle'>
            <span class='fas fa-shopping-cart sidebar-icon'></span>
            {% trans "Orders" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Supplier Part Pricing" %}'>
        <a href='#' id='select-pricing' class='nav-toggle'>
            <span class='fas fa-dollar-sign sidebar-icon'></span>
            {% trans "Pricing" %}
        </a>
    </li>

</ul>
