{% extends "modal_delete_form.html" %}
{% load i18n %}

{% block pre_form_content %}
{% trans "Are you sure you want to delete the following Supplier Parts?" %}

<hr>
{% endblock %}

{% block form_data %}
<table class='table table-striped table-condensed'>
{% for part in parts %}
<tr>
    <input type='hidden' name='supplier-part-{{ part.id}}' value='supplier-part-{{ part.id }}'/>
    
    <td>
        {% include "hover_image.html" with image=part.part.image %}
        {{ part.part.full_name }}
    </td>
    <td>
        {% include "hover_image.html" with image=part.supplier.image %}
        {{ part.supplier.name }}
    </td>
    <td>
        {{ part.SKU }}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}