<ul class='nav nav-tabs'>
    <li{% if tab == 'details' %} class='active'{% endif %}>
        <a href="{% url 'company-detail' company.id %}">Details</a>
    </li>
    {% if company.is_supplier %}
    <li{% if tab == 'parts' %} class='active'{% endif %}>
        <a href="{% url 'company-detail-parts' company.id %}">Supplier Parts <span class='badge'>{{ company.part_count }}</span></a>
    </li>
    {% if 0 %}
    <li{% if tab == 'po' %} class='active'{% endif %}>
        <a href="#">Purchase Orders</a>
    </li>
    {% endif %}
    {% endif %}
    {% if company.is_customer and 0 %}
    <li{% if tab == 'co' %} class='active'{% endif %}>
        <a href="#">Sales Orders</a>
    </li>
    {% endif %}
</ul>