{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}

{% block menubar %}
{% include 'part/navbar.html' with tab='attachments' %}
{% endblock %}

{% block heading %}
{% trans "Part Attachments" %}
{% endblock %}

{% block details %}

{% include "attachment_table.html" with attachments=part.part_attachments %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

    enableDragAndDrop(
        '#attachment-dropzone',
        '{% url "api-part-attachment-list" %}',
        {
            data: {
                part: {{ part.id }},
            },
            label: 'attachment',
            success: function(data, status, xhr) {
                location.reload();
            }
        }
    );

    $("#new-attachment").click(function() {

        constructForm(
            '{% url "api-part-attachment-list" %}',
            {
                method: 'POST',
                fields: {
                    attachment: {},
                    comment: {},
                    part: {
                        value: {{ part.pk }},
                        hidden: true,
                    }
                },
                reload: true,
                title: '{% trans "Add Attachment" %}',
            }
        )
    });

    $("#attachment-table").on('click', '.attachment-edit-button', function() {
        var button = $(this);

        var pk = button.attr('pk');

        var url = `/api/part/attachment/${pk}/`;

        constructForm(url, {
            fields: {
                attachment: {},
                comment: {},
            },
            title: '{% trans "Edit Attachment" %}',
            reload: true,
        });
    });

    $("#attachment-table").on('click', '.attachment-delete-button', function() {
        var button = $(this);
        var pk = button.attr('pk');
        var url = `/api/part/attachment/${pk}/`;

        constructForm(url, {
            method: 'DELETE',
            confirmMessage: '{% trans "Confirm Delete Operation" %}',
            title: '{% trans "Delete Attachment" %}',
            reload: true,
        });
    });

    $("#attachment-table").inventreeTable({
    });

{% endblock %}