{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}

{% block menubar %}
{% include 'part/navbar.html' with tab='attachments' %}
{% endblock %}

{% block heading %}
{% trans "Part Attachments" %}
{% endblock %}

{% block details %}

{% include "attachment_table.html" with attachments=part.part_attachments %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

    loadAttachmentTable(
        '{% url "api-part-attachment-list" %}',
        {
            filters: {
                part: {{ part.pk }},
            },
            onEdit: function(pk) {
                var url = `/api/part/attachment/${pk}/`;

                constructForm(url, {
                    fields: {
                        comment: {},
                    },
                    title: '{% trans "Edit Attachment" %}',
                    onSuccess: reloadAttachmentTable,
                });
            },
            onDelete: function(pk) {
                var url = `/api/part/attachment/${pk}/`;

                constructForm(url, {
                    method: 'DELETE',
                    confirmMessage: '{% trans "Confirm Delete Operation" %}',
                    title: '{% trans "Delete Attachment" %}',
                    onSuccess: reloadAttachmentTable,
                });
            }
        }
    );

    enableDragAndDrop(
        '#attachment-dropzone',
        '{% url "api-part-attachment-list" %}',
        {
            data: {
                part: {{ part.id }},
            },
            label: 'attachment',
            success: function(data, status, xhr) {
                reloadAttachmentTable();
            }
        }
    );

    $("#new-attachment").click(function() {

        constructForm(
            '{% url "api-part-attachment-list" %}',
            {
                method: 'POST',
                fields: {
                    attachment: {},
                    comment: {},
                    part: {
                        value: {{ part.pk }},
                        hidden: true,
                    }
                },
                onSuccess: reloadAttachmentTable,
                title: '{% trans "Add Attachment" %}',
            }
        )
    });

{% endblock %}