{% extends "base.html" %}

{% block content %}

<h3>BOM Item</h3>
<table class="table table-striped">
    <tr><td>Parent</td><td><a href="{% url 'part-bom' item.part.id %}">{{ item.part.full_name }}</a></td></tr>
    <tr><td>Child</td><td><a href="{% url 'part-used-in' item.sub_part.id %}">{{ item.sub_part.full_name }}</a></td></tr>
    <tr><td>Quantity</td><td>{{ item.quantity }}</td></tr>
</table>

<div class='container-fluid'>
    <a href="{% url 'bom-item-edit' item.id %}"><button class="btn btn-info">Edit BOM item</button></a>

    <a href="{% url 'bom-item-delete' item.id %}"><button class="btn btn-danger">Delete BOM item</button></a>
</div>

{% endblock %}