{% load i18n %}
{% load inventree_extras %}

{% if roles.part.change != True and editing_enabled %}
    <div class='alert alert-danger alert-block'>
        {% trans "You do not have permission to edit the BOM." %}
    </div>
{% else %}
{% if part.bom_checked_date %}
{% if part.is_bom_valid %}
<div class='alert alert-block alert-info'>
{% else %}
<div class='alert alert-block alert-danger'>
    {% blocktrans with part=part.full_name %}The BOM for <em>{{ part }}</em> has changed, and must be validated.<br>{% endblocktrans %}
{% endif %}
    {% blocktrans with part=part.full_name checker=part.bom_checked_by check_date=part.bom_checked_date %}The BOM for <em>{{ part }}</em> was last checked by {{ checker }} on {{ check_date }}{% endblocktrans %}
</div>
{% else %}
<div class='alert alert-danger alert-block'>
    <strong>{% blocktrans with part=part.full_name %}The BOM for <em>{{ part }}</em> has not been validated.{% endblocktrans %}</strong>
</div>
{% endif %}

<div id='bom-button-toolbar'>
    <div class="btn-group" role="group" aria-label="...">
        {% if editing_enabled %}
        <button class='btn btn-default' type='button' title='{% trans "Remove selected BOM items" %}' id='bom-item-delete'>
            <span class='fas fa-trash-alt icon-red'></span>
        </button>
        <button class='btn btn-primary' type='button' title='{% trans "Import BOM data" %}' id='bom-upload'>
            <span class='fas fa-file-upload'></span>
        </button>
        {% if part.variant_of %}
        <button class='btn btn-default' type='button' title='{% trans "Copy BOM from parent part" %}' id='bom-duplicate'>
            <span class='fas fa-clone'></span>
        </button>
        {% endif %}
        <button class='btn btn-default' type='button' title='{% trans "New BOM Item" %}' id='bom-item-new'>
            <span class='fas fa-plus-circle'></span>
        </button>
        <button class='btn btn-success' type='button' title='{% trans "Finish Editing" %}' id='editing-finished'>
            <span class='fas fa-check-circle'></span>
        </button>
        {% elif part.active %}
        {% if roles.part.change %}
        <button class='btn btn-primary' type='button' title='{% trans "Edit BOM" %}' id='edit-bom'>
            <span class='fas fa-edit'></span>
        </button>
        {% if part.is_bom_valid == False %}
        <button class='btn btn-success' id='validate-bom' title='{% trans "Validate Bill of Materials" %}' type='button'>
            <span class='fas fa-clipboard-check'></span>
        </button>
        {% endif %}
        {% endif %}
        {% endif %}
        <button title='{% trans "Export Bill of Materials" %}' class='btn btn-default' id='download-bom' type='button'>
            <span class='fas fa-file-download'></span>
        </button>
        <button title='{% trans "Print BOM Report" %}' class='btn btn-default' id='print-bom-report' type='button'>
            <span class='fas fa-file-pdf'></span>
        </button>
        <div class='filter-list' id='filter-list-bom'>
            <!-- Empty div (will be filled out with avilable BOM filters) -->
        </div>
    </div>
</div>

<table class='table table-bom table-condensed' data-toolbar="#bom-button-toolbar" id='bom-table'>
</table>
{% endif %}