{% extends "part/part_base.html" %}

{% block details %}

{% include 'part/tabs.html' with tab='build' %}

<h3>Part Builds</h3>

<table class='table table-striped'>

<tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Completion Date</th>
</tr>
{% if part.active_builds|length > 0 %}
<tr>
    <td colspan="4"><b>Active Builds</b></td>
</tr>
{% include "part/build_list.html" with builds=part.active_builds %}
{% endif %}

{% if part.inactive_builds|length > 0 %}
<tr><td colspan="4"></td></tr>
<tr>
    <td colspan="4"><b>Inactive Builds</b></td>
</tr>
{% include "part/build_list.html" with builds=part.inactive_builds %}
{% endif %}

</table>

<div class='container-fluid'>
<a href="{% url 'build-create' %}?part={{ part.id }}"><button class="btn btn-success">Start New Build</button></a>

{% endblock %}