{% extends "part/category.html" %}
{% load static %}
{% load i18n %}

{% block category_tables %}

{% include 'part/category_tabs.html' with tab='parametric-table' %}

<table class='table table-striped table-condensed' data-toolbar='#button-toolbar' id='parametric-part-table'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}
	
	/* Hide Button Toolbar */
	window.onload = function hideButtonToolbar() {
		var toolbar = document.getElementById("button-toolbar");
		toolbar.style.display = "none";
	};

    loadParametricPartTable(
        "#parametric-part-table",
        { 
        	headers: {{ headers|safe }},
        	data: {{ parameters|safe }},
        }
    );

{% endblock %}