{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "part/cat_link.html" with category=category %}

<p>
    <b>{{ category.name }}</b><br>
    <i>{{ category.description }}</i>
</p>

{% if category.has_children %}
<h4>Subcategories</h4>
{% include "part/category_subcategories.html" with children=category.children.all %}
{% endif %}

{% if category.has_parts %}
<h4>Parts</h4>
{% include "part/category_parts.html" with parts=category.parts.all %}
{% endif %}

<div class='container-fluid'>
    <button type='button' class='btn btn-primary' id='create-cat'>
        New Category
    </button>
<button class="btn btn-success" id='create-part'>New Part</button>

<a href="{% url 'category-edit' category.id %}">
    <button class="btn btn-info">Edit Category</button>
</a>

<a href="{% url 'category-delete' category.id %}">
    <button class="btn btn-danger">Delete Category</button>
</a>

</div>

{% include 'modal.html' %}

{% endblock %}

{% block javascript %}
<script type='text/javascript' src="{% static 'script/footable.js' %}"></script>``
<script type='text/javascript' src="{% static 'script/modal_form.js' %}"></script>

<script type='text/javascript'>
$(document).ready(function (){
    $('#part-list').footable();

    $("#create-cat").click(function() {
        launchModalForm("#modal-form",
                        "{% url 'category-create' %}",
                        {data: {category: {{ category.id }}
                    }});
    });

    $("#create-part").click( function() {
        launchModalForm("#modal-form",
                        "{% url 'part-create' %}",
                        {data: {category: {{ category.id }}
                    }});
    });
});
</script>

{% endblock %}