<table class="table table-striped" data-sorting='true' id="part-list">
<thead>
    <tr>
        <th>Part</th>
        <th>Description</th>
        <th>Category</th>
        <th data-type='number'>Stock</th>
    </tr>
</thead>
<tbody>
{% for part in parts %}
<tr>
    <td><a href="{% url 'part-detail' part.id %}">{{ part.name }}</a></td>
    <td>{{ part.description }}</td>
    <td>
        {% if part.category %}
        <a href="{% url 'category-detail' part.category.id %}">{{ part.category_path }}</a>
        {% endif %}
    </td>
    <td><a href="{% url 'part-stock' part.id %}">{{ part.total_stock }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
