    $("#part-table").bootstrapTable({
        sortable: true,
        search: true,
        sortName: 'description',
        idField: 'pk',
        method: 'get',
        pagination: true,
        rememberOrder: true,
        {% if category %}
        queryParams: function(p) {
            return {
                category: {{ category.id }},
            }
        },
        {% endif %}
        columns: [
            {
                checkbox: true,
                title: 'Select',
                searchable: false,
            },
            {
                field: 'pk',
                title: 'ID',
                visible: false,
            },
            {
                field: 'name',
                title: 'Part',
                sortable: true,
                formatter: function(value, row, index, field) {
                    return renderLink(value, row.url);
                }
            },
            {
                sortable: true,
                field: 'description',
                title: 'Description',
            },
            {% if category == None %}
            {
                sortable: true,
                field: 'category',
                title: 'Category',
                formatter: function(value, row, index, field) {
                    if (row.category) {
                        return renderLink(row.category.name, row.category.url);
                    }
                    else {
                        return '';
                    }
                }
            },
            {% endif %}
            {
                field: 'total_stock',
                title: 'Stock',
                searchable: false,
                sortable: true,
            }
        ],
        url: "{% url 'api-part-list' %}",
    });