{% load i18n %}
{% load inventree_extras %}

{% settings_value 'PART_SHOW_IMPORT' as show_import %}

<ul class='list-group'>

    <li class='list-group-item'>
        <a href='#' id='category-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item {% if tab == "subcategories" %}active{% endif %}' title='{% trans "Subcategories" %}'>
        {% if category %}
        <a href='{% url "category-subcategory" category.id %}'>
        {% else %}
        <a href='{% url "category-index-subcategory" %}'>
        {% endif %}
            <span class='fas fa-sitemap sidebar-icon'></span>
            {% trans "Subcategories" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "parts" %}active{% endif %}' title='{% trans "Parts" %}'>
        {% if category %}
        <a href='{% url "category-detail" category.id %}'>
        {% else %}
        <a href='{% url "part-index" %}'>
        {% endif %}
            <span class='fas fa-shapes sidebar-icon'></span>
            {% trans "Parts" %}
        </a>
    </li>

    {% if show_import and user.is_staff and roles.part.add %}
    <li class='list-group-item {% if tab == "import" %}active{% endif %}' title='{% trans "Import Parts" %}'>
        <a href='{% url "part-import" %}'>
            <span class='fas fa-file-upload sidebar-icon'></span>
            {% trans "Import Parts" %}
        </a>
    </li>
    {% endif %}

    {% if category %}
    <li class='list-group-item {% if tab == "parameters" %}active{% endif %}' title='{% trans "Parameters" %}'>
        <a href='{% url "category-parametric" category.id %}'>
            <span class='fas fa-tasks sidebar-icon'></span>
            {% trans "Parameters" %}
        </a>
    </li>
    {% endif %}
</ul>