{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "part/cat_link.html" with category=category %}

<p>
    <b>{{ category.name }}</b><br>
    <i>{{ category.description }}</i>
</p>

{% if category.has_children %}
<h4>Subcategories</h4>
{% include "part/category_subcategories.html" with children=category.children.all %}
{% endif %}

{% if category.has_parts %}
<h4>Parts</h4>
{% include "part/category_parts.html" with parts=category.parts.all %}
{% endif %}

<div class='container-fluid'>
<a href="{% url 'category-create' %}?category={{ category.id }}">
    <button class="btn btn-success">New Category</button>
</a>
<a href="{% url 'part-create' %}?category={{ category.id }}">
    <button class="btn btn-success">New Part</button>
</a>

<a href="{% url 'category-edit' category.id %}">
    <button class="btn btn-info">Edit Category</button>
</a>

<a href="{% url 'category-delete' category.id %}">
    <button class="btn btn-danger">Delete Category</button>
</a>

</div>

{% endblock %}