{% extends "modal_form.html" %}
{% load i18n %}

{% block pre_form_content %}

{{ block.super }}

<div class='alert alert-info alert-block'>
    <strong>{% trans 'Duplicate Part' %}</strong><br>
    {% blocktrans with full_name=part.full_name %}Make a copy of part '{{full_name}}'.{% endblocktrans %}
</div>

{% if matches %}
<strong>{% trans "Possible Matching Parts" %}</strong>
<p>{% trans "The new part may be a duplicate of these existing parts" %}:</p>
<ul class='list-group'>
    {% for match in matches %}
    <li class='list-group-item list-group-item-condensed'>
        {{ match.part.full_name }} - <em>{{ match.part.description }}</em> ({{ match.ratio }}%)
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
