{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "part/cat_link.html" with category=category %}

{% if children.all|length > 0 %}
<h4>Part Categories</h4>
{% include "part/category_subcategories.html" with children=children %}
{% endif %}

<h4>Parts</h4>
{% include "part/category_parts.html" with parts=parts %}

<div class='container-fluid'>
<a href="{% url 'category-create' %}">
    <button class="btn btn-success">New Category</button>
</a>
<a href="{% url 'part-create' %}">
    <button class="btn btn-success">New Part</button>
</a>
</div>
{% endblock %}

