{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "part/cat_link.html" with category=category %}

<div class='modal fade' id='modal-cat'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>

{% if children.all|length > 0 %}
<h4>Part Categories</h4>
{% include "part/category_subcategories.html" with children=children %}
{% endif %}

<h4>Parts</h4>
{% include "part/category_parts.html" with parts=parts %}

<div class='container-fluid'>
<button type='button' class='btn btn-primary js-create-cat'>
    New Category
</button>
<a href="{% url 'part-create' %}">
    <button class="btn btn-success">New Part</button>
</a>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function () {

    $(".js-create-cat").click(function () {
        $.ajax({
            url: '/part/category/new/',
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-cat").modal("show");
            },
            success: function (data) {
                if (data.html_form) {
                    $("#modal-cat .modal-content").html(data.html_form);
                }
                else {
                    alert('JSON response missing form data');
                    $("#modal-cat").modal("hide");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error requesting form data:\n" + thrownError);
                $("#modal-cat").modal("hide");
            }
        });
    });

    $("#modal-cat").on("submit", ".js-modal-form", function () {
      var form = $(this);

      $.ajax({
          url: form.attr('action'),
          data: form.serialize(),
          type: form.attr('method'),
          dataType: 'json',
          success: function (data) {
              if (data.html_form) {
                  $("#modal-cat .modal-content").html(data.html_form);
              }
              else {
                  alert('No form data!');
              }
          },
          error: function (xhr, ajaxOptions, thrownError) {
              alert("Error submitting form data:\n" + thrownError);
          }
      });

      return false;
    });
});
</script>

{% endblock %}
