{% extends "part/part_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load markdownify %}

{% block details %}

{% include 'part/tabs.html' with tab='notes' %}

<h4>{% trans "Part Notes" %}</h4>

{% if editing %}

<form method='POST'>
    {% csrf_token %}

    {{ form }}

    <input type="submit" value="Update" />
</form>

{{ form.media }}

{% else %}

<div class='panel panel-default'>
    <div class='panel-body'>
        {{ part.notes | markdownify }}
    </div>
</div>

{% endif %}

{% endblock %}