{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load inventree_extras %}

{% block menubar %}
{% include 'part/navbar.html' with tab='order-prices' %}
{% endblock %}

{% block heading %}
{% trans "Order Price Information" %}
{% endblock %}

{% block details %}
{% settings_value "INVENTREE_DEFAULT_CURRENCY" as currency %}

{% crispy form %}

<div class="row"><div class="col col-md-6">
<h4>{% trans "Pricing ranges" %}</h4>
<table class='table table-striped table-condensed'>
{% if part.supplier_count > 0 %}
    {% if min_total_buy_price %}
        <tr>
            <td><b>{% trans 'Supplier Pricing' %}</b></td>
            <td>{% trans 'Unit Cost' %}</td>
            <td>Min: {% include "price.html" with price=min_unit_buy_price %}</td>
            <td>Max: {% include "price.html" with price=max_unit_buy_price %}</td>
        </tr>
        {% if quantity > 1 %}
        <tr>
            <td></td>
            <td>{% trans 'Total Cost' %}</td>
            <td>Min: {% include "price.html" with price=min_total_buy_price %}</td>
            <td>Max: {% include "price.html" with price=max_total_buy_price %}</td>
        </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan='4'>
                <span class='warning-msg'><i>{% trans 'No supplier pricing available' %}</i></span>
            </td>
        </tr>
    {% endif %}
{% endif %}

{% if part.bom_count > 0 %}
    {% if min_total_bom_price %}
        <tr>
            <td><b>{% trans 'BOM Pricing' %}</b></td>
            <td>{% trans 'Unit Cost' %}</td>
            <td>Min: {% include "price.html" with price=min_unit_bom_price %}</td>
            <td>Max: {% include "price.html" with price=max_unit_bom_price %}</td>
        </tr>
        {% if quantity > 1 %}
            <tr>
                <td></td>
                <td>{% trans 'Total Cost' %}</td>
                <td>Min: {% include "price.html" with price=min_total_bom_price %}</td>
                <td>Max: {% include "price.html" with price=max_total_bom_price %}</td>
            </tr>
        {% endif %}
        {% if part.has_complete_bom_pricing == False %}
            <tr>
                <td colspan='4'>
                    <span class='warning-msg'><i>{% trans 'Note: BOM pricing is incomplete for this part' %}</i></span>
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan='4'>
                <span class='warning-msg'><i>{% trans 'No BOM pricing available' %}</i></span>
            </td>
        </tr>
    {% endif %}
{% endif %}

{% if total_part_price %}
    <tr>
        <td><b>{% trans 'Sale Price' %}</b></td>
        <td>{% trans 'Unit Cost' %}</td>
        <td colspan='2'>{% include "price.html" with price=unit_part_price %}</td>
    </tr>
    <tr>
        <td></td>
        <td>{% trans 'Total Cost' %}</td>
        <td colspan='2'>{% include "price.html" with price=total_part_price %}</td>
    </tr>
{% endif %}
</table>

{% if min_unit_buy_price or min_unit_bom_price %}
{% else %}
    <div class='alert alert-danger alert-block'>
        {% trans 'No pricing information is available for this part.' %}
    </div>
{% endif %}
</div></div>

{% if price_history %}
    <hr>
    <h4>{% trans 'Stock Pricing' %}<i class="fas fa-info-circle" title="Shows the prices of stock for this part
the part single price shown is the current price for that supplier part"></i></h4>
    {% if price_history|length > 1 %}
        <div style="max-width: 99%; min-height: 300px">
            <canvas id="StockPriceChart"></canvas>
        </div>
    {% else %}
        <div class='alert alert-danger alert-block'>
            {% trans 'No stock pricing history is available for this part.' %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}




{% block js_ready %}
    {{ block.super }}

    {% settings_value "INVENTREE_DEFAULT_CURRENCY" as currency %}

    {% if price_history %}
            var pricedata = {
                    labels: [
                        {% for line in price_history %}'{{ line.date }}',{% endfor %}
                    ],
                    datasets: [{
                        label: '{% trans "Single Price" %}',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        yAxisID: 'y',
                        data: [
                            {% for line in price_history %}{{ line.price|stringformat:".2f" }},{% endfor %}
                        ],
                        borderWidth: 1,
                        type: 'line'
                    },
                    {% if 'price_diff' in price_history.0 %}
                    {
                        label: '{% trans "Single Price Difference" %}',
                        backgroundColor: 'rgba(68, 157, 68, 0.2)',
                        borderColor: 'rgb(68, 157, 68)',
                        yAxisID: 'y2',
                        data: [
                            {% for line in price_history %}{{ line.price_diff|stringformat:".2f" }},{% endfor %}
                        ],
                        borderWidth: 1,
                        type: 'line'
                    },
                    {
                        label: '{% trans "Part Single Price" %}',
                        backgroundColor: 'rgba(70, 127, 155, 0.2)',
                        borderColor: 'rgb(70, 127, 155)',
                        yAxisID: 'y',
                        data: [
                            {% for line in price_history %}{{ line.price_part|stringformat:".2f" }},{% endfor %}
                        ],
                        borderWidth: 1,
                        type: 'line'
                    },
                    {% endif %}
                    {
                        label: '{% trans "Quantity" %}',
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgb(255, 206, 86)',
                        yAxisID: 'y1',
                        data: [
                            {% for line in price_history %}{{ line.qty|stringformat:"f" }},{% endfor %}
                        ],
                        borderWidth: 1
                    }]
                }
            var ctx = document.getElementById('StockPriceChart');
            var StockPriceChart = new Chart(ctx, {
                type: 'bar',
                data: pricedata,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {legend: {position: 'bottom'}},
                    scales: {
                        y: {
                            type: 'linear',
                            position: 'left',
                            grid: {display: false},
                            title: {
                                display: true,
                                text: '{% blocktrans %}Single Price - {{currency}}{% endblocktrans %}'
                            }
                        },
                        y1: {
                            type: 'linear',
                            position: 'right',
                            grid: {display: false},
                            titel: {
                                display: true,
                                text: '{% trans "Quantity" %}',
                                position: 'right'
                            }
                        },
                        y2: {
                            type: 'linear',
                            position: 'left',
                            grid: {display: false},
                            title: {
                                display: true,
                                text: '{% blocktrans %}Single Price Difference- {{currency}}{% endblocktrans %}'
                            }
                        }
                    },
                }
            });
    {% endif %}

{% endblock %}
