{% extends "part/part_base.html" %}
{% load static %}

{% block details %}

{% include 'part/tabs.html' with tab='orders' %}

<h4>Part Orders</h4>
<hr>

<div id='button-bar'>
    <div class='btn-group'>
        <button class='btn btn-primary' type='button' id='part-order2' title='Order part'>Order Part</button>
    </div>
</div>

{% include "order/po_table.html" with orders=part.open_purchase_orders toolbar='#button-bar' %}

{% if part.closed_purchase_orders|length > 0 %}
<h4>Closed Orders</h4>
{% include "order/po_table.html" with orders=part.closed_purchase_orders %}
{% endif %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

$("#po-table").inventreeTable({
});

$("#part-order2").click(function() {
    launchModalForm("{% url 'order-parts' %}", {
        data: {
            part: {{ part.id }},
        },
        reload: true,
    });
});

{% endblock %}