{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}

{% block menubar %}
{% include "part/navbar.html" with tab='params' %}
{% endblock %}

{% block heading %}
{% trans "Part Parameters" %}
{% endblock %}

{% block details %}
<div id='button-toolbar'>
    <div class='button-toolbar container-fluid' style='float: right;'>
        {% if roles.part.add %}
        <button title='{% trans "Add new parameter" %}' class='btn btn-success' id='param-create'>
            <span class='fas fa-plus-circle'></span> {% trans "New Parameter" %}
        </button>
        {% endif %}
    </div>
</div>

<table id='parameter-table' class='table table-condensed table-striped' data-toolbar="#button-toolbar"></table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

    loadPartParameterTable(
        '#parameter-table', 
        '{% url "api-part-parameter-list" %}',
        {
            params: {
                part: {{ part.pk }},
            }
        }
    );

    $('#param-table').inventreeTable({
    });

    {% if roles.part.add %}
    $('#param-create').click(function() {
        launchModalForm("{% url 'part-param-create' %}?part={{ part.id }}", {
            reload: true,
            secondary: [{
                field: 'template',
                label: '{% trans "New Template" %}',
                title: '{% trans "Create New Parameter Template" %}',
                url: "{% url 'part-param-template-create' %}"
            }],
        });
    });
    {% endif %}

    $('.param-edit').click(function() {
        var button = $(this);

        launchModalForm(button.attr('url'), {
            reload: true,
        });
    });

    $('.param-delete').click(function() {
        var button = $(this);

        launchModalForm(button.attr('url'), {
            reload: true,
        });
    });

{% endblock %}