{% extends "part/part_base.html" %}
{% load static %}
{% block details %}

{% include "part/tabs.html" with tab='params' %}

<h4>Part Parameters</h4>
<hr>


<table class='table table-condensed table-striped'>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Units</th>
    </tr>
    {% for param in part.get_parameters %}
    <tr>
        <td>{{ param.template.name }}</td>
        <td>{{ param.data }}</td>
        <td>{{ param.template.units }}</td>
    </tr>
    {% endfor %}
</table>
            

{% endblock %}

{% block js_ready %}
{{ block.super }}

{% endblock %}