{% extends "modal_form.html" %}

{% load i18n %}
{% block pre_form_content %}

<div class='alert alert-info alert-block'>
Pricing information for:<br>
{{ part }}.
</div>

<h4>Quantity</h4>
<table class='table table-striped table-condensed'>
    <tr>
        <td><b>Part</b></td>
        <td colspan='2'>{{ part  }}</td>
    </tr>
    <tr>
        <td><b>Quantity</b></td>
        <td colspan='2'>{{ quantity }}</td>
    </tr>
</table>
    {% if part.supplier_count > 0 %}
    <h4>Supplier Pricing</h4>
<table class='table table-striped table-condensed'>
    {% if min_total_buy_price %}
    <tr>
        <td><b>Unit Cost</b></td>
        <td>Min: {% include "price.html" with price=min_unit_buy_price %}</td>
        <td>Max: {% include "price.html" with price=max_unit_buy_price %}</td>
    </tr>
    {% if quantity > 1 %}
    <tr>
        <td><b>Total Cost</b></td>
        <td>Min: {% include "price.html" with price=min_total_buy_price %}</td>
        <td>Max: {% include "price.html" with price=max_total_buy_price %}</td>
    </tr>
    {% endif %}
    {% else %}
    <tr>
        <td colspan='3'>
            <span class='warning-msg'><i>No supplier pricing available</i></span>
        </td>
    </tr>
    {% endif %}
</table>
    {% endif %}

    {% if part.bom_count > 0 %}
    <h4>BOM Pricing</h4>
<table class='table table-striped table-condensed'>
    {% if min_total_bom_price %}
    <tr>
        <td><b>Unit Cost</b></td>
        <td>Min: {% include "price.html" with price=min_unit_bom_price %}</td>
        <td>Max: {% include "price.html" with price=max_unit_bom_price %}</td>
    </tr>
    {% if quantity > 1 %}
    <tr>
        <td><b>Total Cost</b></td>
        <td>Min: {% include "price.html" with price=min_total_bom_price %}</td>
        <td>Max: {% include "price.html" with price=max_total_bom_price %}</td>
    </tr>
    {% endif %}
    {% if part.has_complete_bom_pricing == False %}
    <tr>
        <td colspan='3'>
            <span class='warning-msg'><i>Note: BOM pricing is incomplete for this part</i></span>
        </td>
    </tr>
    {% endif %}
    {% else %}
    <tr>
        <td colspan='3'>
            <span class='warning-msg'><i>No BOM pricing available</i></span>
        </td>
    </tr>
    {% endif %}
</table>
    {% endif %}

    {% if price_history %}
    <h4>{% trans 'Stock Pricing' %}</h4>
    {% if price_history|length > 1 %}
        <canvas id="priceChart"></canvas>
        <script>
        var pricedata = {
                labels: [
                    {% for line in price_history %}'{{ line.date }}',{% endfor %}
                ],
                datasets: [{
                    label: 'Price',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    yAxisID: 'y',
                    data: [
                        {% for line in price_history %}{{ line.price|stringformat:".2f" }},{% endfor %}
                    ],
                    borderWidth: 1,
                    type: 'line'
                },
                {
                    label: 'Qty',
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderColor: 'rgb(255, 206, 86)',
                    yAxisID: 'y1',
                    data: [
                        {% for line in price_history %}{{ line.qty|stringformat:"f" }},{% endfor %}
                    ],
                    borderWidth: 1
                }]
            }

        var ctx = document.getElementById('priceChart');
        var priceChart = new Chart(ctx, {
            type: 'bar',
            data: pricedata,
            options: {
                responsive: true,
                plugins: {legend: {position: 'bottom'}},
                scales: {
                    y: {
                        type: 'linear',
                        position: 'left',
                        grid: {display: false},
                        title: {
                            display: true,
                            text: 'Price - USD'
                        }
                    },
                    y1: {
                        type: 'linear',
                        position: 'right',
                        grid: {display: false},
                        titel: {
                            display: true,
                            text: 'Qty',
                            position: 'right'
                        }
                    }
                }
            }
        });
        </script>
    {% else %}
    <div class='alert alert-danger alert-block'>
        {% trans 'No stock pricing history is available for this part.' %}
    </div>
    {% endif %}
    {% endif %}

{% if min_unit_buy_price or min_unit_bom_price %}
{% else %}
<div class='alert alert-danger alert-block'>
    No pricing information is available for this part.
</div>
{% endif %}

<hr>

{% endblock %}