{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "part/cat_link.html" with category=part.category %}

<div class="media">
  <div class="media-left">
    <img class="part-thumb"
    {% if part.image %}
    src="{{ part.image.url }}"
    {% else %}
    src="{% static 'img/blank_image.png' %}"
    {% endif %}/>
  </div>
<div class="media-body">
    <h4>{{ part.name }}</h4>
    {% if part.description %}
    <p><i>{{ part.description }}</i></p>
    {% endif %}
    {% if part.IPN %}
    <p><b>IPN:</b> {{ part.IPN }}</p>
    {% endif %}
    {% if part.URL %}
    <p>{% include 'url.html' with url=part.URL %}</p>
    {% endif %}
</div>
</div>

{% block details %}

<!-- Specific part details go here... -->

{% endblock %}

{% endblock %}