{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}

{% block details %}

{% include 'part/tabs.html' with tab='sales-prices' %}

<h4>{% trans "Sale Price" %}</h4>
<hr>

<div id='price-break-bar' class='btn-group'>
    <button class='btn btn-primary' id='new-price-break' type='button'>{% trans "Add Price Break" %}</button>
</div>

<table class='table table-striped table-condensed' id='price-break-table' data-toolbar='#price-break-toolbar'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

$('#new-price-break').click(function() {
    // TODO
})

{% endblock %}