{% extends "part/part_base.html" %}

{% block details %}

{% include 'part/tabs.html' with tab='stock' %}

<table class="table table-striped">
<tr>
    <th>Link</th>
    <th>Quantity</th>
    <th>Location</th>
    <th>Supplier part</th>
    <th>Stocktake</th>
    <th>Notes</th>
</tr>
{% for stock in part.locations.all %}
<tr>
    <td><a href="{% url 'stock-item-detail' stock.id %}">Click</a></td>
    <td>{{ stock.quantity }}</td>
    <td><a href="{% url 'stock-location-detail' stock.location.id %}">{{ stock.location.name }}</a></td>
    <td>
        {% if stock.supplier_part %}
    <a href="{% url 'supplier-part-detail' stock.supplier_part.id %}">
        {{ stock.supplier_part.supplier.name }} | {{ stock.supplier_part.SKU }}
    </a>
        {% endif %}
    </td>
    <td>{% if stock.stocktake_date %}{{ stock.stocktake_date }}{% endif %}</td>
    <td>{{ stock.notes }}</td>
</tr>
{% endfor %}
</table

<div class='container-fluid'>
<a href="{% url 'stock-item-create' %}?part={{ part.id }}">
    <button class='btn btn-success'>Add new Stock Item</button>
</a>
</div>

{% endblock %}