{% if children|length > 0 %}
<hr>
<div class="panel-group">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" href="#collapse1">{{ children | length }} Child Categories</a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse">
     <div class="panel-body">
         <ul class="list-group">
         {% for child in children %}
         <li class="list-group-item">
             <b><a href="{% url 'category-detail' child.id %}">{{ child.name }}</a></b>
             {% if child.description %}
             <i> - {{ child.description }}</i>
             {% endif %}
             <span class='badge'>{{ child.partcount }}</span>
         </li>
         {% endfor %}
         </ul>
     </div>
   </div>
 </div>
</div>
{% endif %}