{% extends "collapse.html" %}

{% block collapse_title %}
{{ children | length }} Child Categories
{% endblock %}

{% block collapse_content %}
<ul class="list-group">
{% for child in children %}
<li class="list-group-item">
    <b><a href="{% url 'category-detail' child.id %}">{{ child.name }}</a></b>
    {% if child.description %}
    <i> - {{ child.description }}</i>
    {% endif %}
    {% if child.partcount > 0 %}
    <span class='badge'>{{ child.partcount }} Part{% if child.partcount > 1 %}s{% endif %}</span>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}