{% extends "part/part_base.html" %}
{% load static %}
{% block details %}

{% include 'part/tabs.html' with tab='suppliers' %}

<h3>Part Suppliers</h3>

{% if part.supplier_count > 0 %}
<p><b>{{ part.name }}</b> is available from {{ part.supplier_count }} suppliers.</p>

<table class="table table-striped table-condensed" id='supplier-table'>
</table>
{% else %}
<p><b>{{ part.name }}</b> is not available from any suppliers.</p>
{% endif %}

<div class='container-fluid'>
<button class="btn btn-success" id='supplier-create'>New Supplier Part</button>
</div>

{% endblock %}

{% block js_load %}
{{ block.super }}
{% endblock %}
{% block js_ready %}
    {{ block.super }}

    $('#supplier-create').click(function () {
        launchModalForm("#modal-form",
                        "{% url 'supplier-part-create' %}",
                        {
                            reload: true,
                            data: {part: {{ part.id }} }
                        });
    });

    $("#supplier-table").bootstrapTable({
        sortable: true,
        search: true,
        queryParams: function(p) {
            return {
                part: {{ part.id }}
            }
        },
        columns: [
            {
                checkbox: true,
            },
            {
                sortable: true,
                field: 'supplier',
                title: 'Supplier',
                formatter: function(value, row, index, field) {
                    return renderLink(value.name, value.url);
                }
            },
            {
                sortable: true,
                field: 'SKU',
                title: 'SKU',
                formatter: function(value, row, index, field) {
                    return renderLink(value, row.url);
                }
            },
            {
                sortable: true,
                field: 'manufacturer',
                title: 'Manufacturer',
            }
        ],
        url: "{% url 'api-part-supplier-list' %}"
    });

{% endblock %}