{% extends "part/part_base.html" %}
{% load static %}
{% block details %}

{% include 'part/tabs.html' with tab='suppliers' %}

<h3>Part Suppliers</h3>

<table class="table table-striped" id='supplier-table' data-sorting='true'>
<thead>
<tr>
    <th>SKU</th>
    <th>Supplier</th>
    <th>MPN</th>
    <th>URL</th>
</tr>
</thead>
<tbody>
{% for spart in part.supplier_parts.all %}
<tr>
    <td><a href="{% url 'supplier-part-detail' spart.id %}">{{ spart.SKU }}</a></td>
    <td><a href="{% url 'company-detail' spart.supplier.id %}">{{ spart.supplier.name }}</a></td>
    <td>{{ spart.manufacturer_string }}</td>
    <td>
        {% if spart.URL %}
        <a href="{{ spart.URL }}">{{ spart.URL }}</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<div class='container-fluid'>
<button class="btn btn-success" id='supplier-create'>New Supplier Part</button>
</div>

{% endblock %}

{% block js_load %}
{{ block.super }}
{% endblock %}
{% block js_ready %}
    {{ block.super }}

    $('#supplier-create').click(function () {
        launchModalForm("#modal-form",
                        "{% url 'supplier-part-create' %}",
                        {
                            reload: true,
                            data: {part: {{ part.id }} }
                        });
    });
{% endblock %}