<ul class="nav nav-tabs">
    <li{% ifequal tab 'detail' %} class="active"{% endifequal %}>
        <a href="{% url 'part-detail' part.id %}">Details</a></li>
    {% if part.buildable %}
    <li{% ifequal tab 'bom' %} class="active"{% endifequal %}>
        <a href="{% url 'part-bom' part.id %}">BOM<span class="badge">{{ part.bom_count }}</span></a></li>
    <li{% ifequal tab 'build' %} class="active"{% endifequal %}>
        <a href="{% url 'part-build' part.id %}">Build<span class='badge'>{{ part.can_build }}</span></a></li>
    {% endif %}
    {% if part.used_in_count > 0 %}
    <li{% ifequal tab 'used' %} class="active"{% endifequal %}>
        <a href="{% url 'part-used-in' part.id %}">Used In{% if part.used_in_count > 0 %}<span class="badge">{{ part.used_in_count }}</span>{% endif %}</a></li>
    {% endif %}
    <li{% ifequal tab 'stock' %} class="active"{% endifequal %}>
        <a href="{% url 'part-stock' part.id %}">Stock <span class="badge">{{ part.total_stock }}</span></a></li>
    {% if part.allocation_count > 0 %}
    <li{% ifequal tab 'allocation' %} class="active"{% endifequal %}>
        <a href="{% url 'part-allocation' part.id %}">Allocated <span class="badge">{{ part.allocation_count }}</span></a></li>
    {% endif %}
    {% if part.purchaseable %}
    <li{% ifequal tab 'suppliers' %} class="active"{% endifequal %}>
        <a href="{% url 'part-suppliers' part.id %}">Suppliers
            <span class="badge">{{ part.supplier_count }}<span>
        </a></li>
    {% endif %}
    {% if part.trackable %}
    <li{% ifequal tab 'track' %} class="active"{% endifequal %}>
        <a href="{% url 'part-track' part.id %}">Tracking
        {% if parts.serials.all|length > 0 %}
        <span class="badge">{{ part.serials.all|length }}</span>
        {% endif %}
    </a></li>
    {% endif %}
</ul>