{% extends "part/part_base.html" %}
{% load static %}
{% load inventree_extras %}
{% load i18n %}

{% block menubar %}
{% include 'part/navbar.html' with tab='history' %}
{% endblock %}

{% block heading %}
{% trans "Part History" %}
{% endblock %}

{% block details %}
<table class='table table-condensed table-striped' id='part-history-table' data-toolbar='#table-toolbar'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}
    loadTrackingTable($("#part-history-table"), {
        params: {
            ordering: '-date',
            item: {{ part.pk }},
            user_detail: true,
        },
        url: "{% url 'api-part-history' %}",
        total_stock: true,
    });
{% endblock %}