{% extends "part/part_base.html" %}

{% block details %}

{% include 'part/tabs.html' with tab='used' %}

<h3>Used In</h3>

{% if part.used_in_count > 0 %}

<p>
    <b>{{ part.name }}</b> is used to make {{ part.used_in_count }} other parts.
</p>

<table class="table table-striped table-condensed" id='used-table'>
</table>

{% else %}
<p>
    {{ part.name }} is not used to make any other parts.
</p>
{% endif %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

    $("#used-table").bootstrapTable({
        sortable: true,
        search: true,
        queryParams: function(p) {
            return {
                sub_part: {{ part.id }}
            }
        },
        columns: [
            {
                field: 'pk',
                title: 'ID',
                visible: false,
            },
            {
                field: 'part_detail',
                title: 'Part',
                formatter: function(value, row, index, field) {
                    return renderLink(value.name, value.url + 'bom/');
                }
            },
            {
                field: 'part_detail.description',
                title: 'Description',
            },
            {
                field: 'quantity',
                title: 'Uses',
            }

        ],
        url: "{% url 'api-bom-list' %}"
    })

{% endblock %}