{% extends "part/part_base.html" %}

{% block details %}

{% include 'part/tabs.html' with tab='used' %}

<div class='row'>
    <div class='col-sm-6'>
        <h4>Used to Build</h4>
    </div>
    <div class='col-sm-6'>
        <div class="btn-group" style="float: right;">
        </div>
    </div>
</div>

<hr>

<table class="table table-striped table-condensed" id='used-table'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

    $("#used-table").bootstrapTable({
        sortable: true,
        search: true,
        formatNoMatches: function() { return "{{ part.name }} is not used to make any other parts"; },
        queryParams: function(p) {
            return {
                sub_part: {{ part.id }}
            }
        },
        columns: [
            {
                field: 'pk',
                title: 'ID',
                visible: false,
            },
            {
                field: 'part_detail',
                title: 'Part',
                formatter: function(value, row, index, field) {
                    return renderLink(value.name, value.url + 'bom/');
                }
            },
            {
                field: 'part_detail.description',
                title: 'Description',
            },
            {
                field: 'quantity',
                title: 'Uses',
            }

        ],
        url: "{% url 'api-bom-list' %}"
    })

{% endblock %}