{% extends "part/part_base.html" %}
{% load i18n %}
{% block details %}

{% include 'part/tabs.html' with tab='used' %}

<h4>{% trans "Assemblies" %}</h4>

<hr>

<div id='button-toolbar'>
    <div class='filter-list' id='filter-list-usedin'>
        <!-- Empty div (will be filled out with avilable BOM filters) -->
    </div>
</div>

<table class="table table-striped table-condensed" id='used-table' data-toolbar='#button-toolbar'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

    loadUsedInTable('#used-table', {
        part_detail: true,
        part_id: {{ part.pk }}
    });


{% endblock %}