{% extends "base.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block page_title %}
{% inventree_title %} | {% trans "Internal Server Error" %}
{% endblock %}

{% block content %}

<div class='container-fluid'>
    <h3>{% trans "Internal Server Error" %}</h3>

    <div class='alert alert-danger alert-block'>
        {% blocktrans %}The {{ inventree_title }} server raised an internal error{% endblocktrans %}<br>
        {% trans "Refer to the error log in the admin interface for further details" %}
    </div>
</div>

{% endblock %}
