{% load i18n %}

<div id='attachment-buttons'>
    <div class='btn-group' role='group'>
        <div class='btn-group'>
            <button class='btn btn-primary dropdown-toggle' type='button' data-bs-toggle='dropdown' title='{% trans "Actions" %}'>
                <span class='fas fa-tools'></span> <span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
                <li>
                    <a class='dropdown-item' href='#' id='multi-attachment-delete' title='{% trans "Delete selected attachments" %}'>
                        <span class='fas fa-trash-alt icon-red'></span> {% trans "Delete Attachments" %}
                    </a>
                </li>
            </ul>
        </div>
        {% include "filter_list.html" with id="attachments" %}
    </div>
</div>

<div class='dropzone' id='attachment-dropzone'>
<table class='table table-striped table-condensed' data-toolbar='#attachment-buttons' id='attachment-table'>

</table>
</div>
