{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- Local stylesheet -->
<link rel="stylesheet" href="{% static 'css/inventree.css' %}">

<!-- Bootstrap javascript -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
-->

<title>
{% block title %}
InvenTree
{% endblock %}
</title>
</head>

<body>

{% include "navbar.html" %}

<div class="container-fluid inventree-content">
{% block content %}
<!-- Each view fills in here.. -->
{% endblock %}
</div>

</body>
</html>