{% extends "skeleton.html" %}
{% load static %}
{% load i18n %}
{% load inventree_extras %}

{% settings_value 'BARCODE_ENABLE' as barcodes %}
{% settings_value 'REPORT_ENABLE_TEST_REPORT' as test_report_enabled %}
{% settings_value "REPORT_ENABLE" as report_enabled %}
{% settings_value "SERVER_RESTART_REQUIRED" as server_restart_required %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'bootstrap-table/bootstrap-table.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.css' %}">
<link rel='stylesheet' href='{% static "treegrid/css/jquery.treegrid.css" %}'>
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.min.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2-bootstrap-5-theme.css' %}">

<link rel="stylesheet" href="{% static 'fullcalendar/main.css' %}">
<link rel="stylesheet" href="{% static 'script/jquery-ui/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% get_color_theme_css user.get_username %}">
{% endblock %}

{% block page_title %}
{% inventree_title %} 
{% endblock %}


{% block body %}
{% include "navbar.html" %}

<div class='main body wrapper container-fluid inventree-body'>

    <div class='row flex-nowrap inventree-body'>
        <div class='col-auto px-1 sidebar-wrapper'>
            <div id='sidebar' class='collapse collapse-horizontal show border-end' style='display: none;'>
                <div id='sidebar-nav' class='list-group text-sm-start'>
                    <ul id='sidebar-list-group' class='list-group sidebar-list-group'>
                        {% block sidebar %}
                        <!-- Sidebar goes here -->
                        {% endblock %}
                        {% include "sidebar_toggle.html" %}
                    </ul>
                </div>
            </div>
        </div>
        <main class='col ps-md-2 pt-2 pe-2'>
            
            {% block alerts %}
            <div class='notification-area' id='alerts'>
                <!-- Div for displayed alerts -->
                {% if server_restart_required %}
                <div id='alert-restart-server' class='alert alert-danger' role='alert'>
                    <span class='fas fa-server'></span>
                    <b>{% trans "Server Restart Required" %}</b>
                    <small>
                        <br>
                        {% trans "A configuration option has been changed which requires a server restart" %}. {% trans "Contact your system administrator for further information" %}
                    </small>
                </div>
                {% endif %}
            </div>
            {% endblock %}

            {% block breadcrumb_list %}
            <div class='container-fluid navigation'>
                <nav aria-label='breadcrumb'>
                    <ol class='breadcrumb'>
                        {% block breadcrumbs %}
                        {% endblock %}
                    </ol>
                </nav>
            </div>
            {% endblock %}

            {% block content %}
                <!-- Each view fills in here.. -->
            {% endblock %}
        </main>
    </div>
    {% include 'modals.html' %}
    {% include 'about.html' %}
</div>
{% endblock %}

{% block body_scripts_general %}
<script type='text/javascript' src="{% static 'script/jquery.form.min.js' %}"></script>
<script type='text/javascript' src="{% static 'script/bootstrap/bootstrap-treeview.js' %}"></script>
<script type='text/javascript' src="{% static 'bootstrap-table/bootstrap-table.js' %}"></script>

<!-- jquery-treegrid -->
<script type='text/javascript' src='{% static "treegrid/js/jquery.treegrid.js" %}'></script>
<script type='text/javascript' src='{% static "treegrid/js/jquery.treegrid.bootstrap3.js" %}'></script>

<!-- boostrap-table extensions -->
<script type='text/javascript' src='{% static "bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.js" %}'></script>
<script type='text/javascript' src='{% static "bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.js" %}'></script>
<script type='text/javascript' src='{% static "bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js" %}'></script>
<script type='text/javascript' src='{% static "bootstrap-table/extensions/custom-view/bootstrap-table-custom-view.js" %}'></script>
{% endblock %}

{% block body_scripts_inventree %}
{% endblock %}

{% block js_load %}
{% endblock %}

{% block js_base %}
<script type='text/javascript'>

$(document).ready(function () {
{% block js_ready %}
{% endblock %}

    inventreeDocReady();

    {% if barcodes %}
    $('#barcode-scan').click(function() {
        barcodeScanDialog();
    });
    {% endif %}

    moment.locale('{{ request.LANGUAGE_CODE }}');

    // Account notifications
    {% if messages %}
    {% for message in messages %}
    showMessage(
        '{{ message }}',
        {
            style: 'info',
        }
    );
    {% endfor %}
    {% endif %}
});

{% endblock %}
