{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap_3.3.7_css_bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/inventree.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.css' %}">

{% block css %}
{% endblock %}

{% block head %}

{% endblock %}

<title>
{% block title %}
InvenTree
{% endblock %}
</title>
</head>

<body>

{% include "navbar.html" %}

<div class="container container-fluid inventree-content">
{% block content %}
<!-- Each view fills in here.. -->
{% endblock %}
</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'script/jquery_3.3.1_jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/select2/select2.js' %}"></script>
{% block js_load %}
{% endblock %}

<script type='text/javascript'>
$(document).ready(function () {

{% block js_ready %}

{% endblock %}

});
</script>

{% block js %}
{% endblock %}

</body>
</html>