{% block collapse_preamble %}
{% endblock %}
<div class='panel-group'>
    <div class='panel panel-default'>
        <div {% block collapse_panel_setup %}class='panel panel-heading'{% endblock %}>
            <div class='panel-title'>
                <a data-toggle='collapse' href="#collapse-item-{{ collapse_id }}">{% block collapse_title %}Title{% endblock %}</a>
            </div>
        {% block collapse_heading %}
        {% endblock %}
        </div>
        <div class='panel-collapse collapse' id='collapse-item-{{ collapse_id }}'>
            <div class='panel-body'>
                {% block collapse_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>