<div class='modal fade modal-fixed-footer' tabindex='-1' role='dialog' id='modal-delete'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 id='modal-title'>Confirm Item Deletion</h3>
            </div>
            <form action='' method='post' id='delete-form'>
                {% csrf_token %}
            </form>
            <div class='modal-form-content'>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-danger' id='modal-form-delete'>Delete</button>
            </div>
        </div>
    </div>
</div>