<div>
{% if form.pre_form_info %}
<div class='alert alert-info' role='alert' style='display: block;'>
{{ form.pre_form_info }}
</div>
{% endif %}
{% if form.pre_form_warning %}
<div class='alert alert-warning' role='alert' style='display: block;'>
{{ form.pre_form_warning }}
</div>
{% endif %}
{% block non_field_error %}
{% if form.non_field_errors %}
<div class='alert alert-danger' role='alert' style='display: block;'>
  <b>Error Submitting Form:</b>
  {{ form.non_field_errors }}
</div>
{% endif %}
{% endblock %}
</div>

{% block pre_form_content %}
{% endblock %}
<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">
  {% csrf_token %}
  {% load crispy_forms_tags %}
  
  
  {% crispy form %}

  {% block form_data %}
  {% endblock %}
</form>

{% block post_form_content %}
{% endblock %}