{% load i18n %}

<div class='modal fade modal-fixed-footer modal-primary' tabindex='-1' role='dialog' id='modal-form'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 id='modal-title'><i>Form Title Here</i></h3>
            </div>
            <div class='alert alert-block alert-danger' id='form-validation-warning' style='display: none;'>
              {% trans "Form errors exist" %}
            </div>
            <div class='modal-form-content'>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' id='modal-form-close' data-dismiss='modal'>{% trans "Close" %}</button>
                <button type='button' class='btn btn-primary' id='modal-form-submit'>{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class='modal fade modal-fixed-footer modal-secondary' tabindex='-1' role='dialog' id='modal-form-secondary'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 id='modal-title'><i>Form Title Here</i></h3>
                </div>
                <div class='alert alert-block alert-danger' id='form-validation-warning' style="display: none;">
                  {% trans "Form errors exist" %}
                </div>
                <div class='modal-form-content'>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' id='modal-form-close' data-dismiss='modal'>{% trans "Close" %}</button>
                    <button type='button' class='btn btn-primary' id='modal-form-submit'>{% trans "Submit" %}</button>
                </div>
            </div>
        </div>
    </div>
    

<div class='modal fade modal-fixed-footer' tabindex='-1' role='dialog' id='modal-question-dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 id='modal-title'>Question Here</h3>
                </div>
                <div class='modal-form-content'>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' id='modal-form-cancel' data-dismiss='modal'>Cancel</button>
                    <button type='button' class='btn btn-primary' id='modal-form-accept'>Accept</button>
                </div>
            </div>
        </div>
    </div>

<div class='modal fade modal-fixed-footer' tabindex='-1' role='dialog' id='modal-alert-dialog'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 id='modal-title'>Alert Information</h3>
            </div>
            <div class='modal-form-content'>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>