{% load static %}

<form method='post'>
    {% csrf_token %}
    <div class='modal-header'>
        <h4 class='modal-title'>{{ title }}</h4>
    </div>
    <div class='modal-body'>
    {% load crispy_forms_tags %}
    {% crispy form %}
    </div>
    <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button type='submit' class='btn btn-primary'>
            {% if ok_text %}{{ ok_text }}{% else %}Submit{% endif %}
        </button>
    </div>
</form>