<div>
{% if form.pre_form_info %}
<div class='alert alert-info alert-block' role='alert'>
{{ form.pre_form_info }}
</div>
{% endif %}
{% if form.pre_form_warning %}
<div class='alert alert-warning alert-block' role='alert'>
{{ form.pre_form_warning }}
</div>
{% endif %}
{% block non_field_error %}
{% if form.non_field_errors %}
<div class='alert alert-danger alert-block' role='alert'>
  <b>Error Submitting Form:</b>
  <ul>
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
</div>

{% block pre_form_content %}
{% endblock %}

{% block form %}
<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">
  {% csrf_token %}
  {% load crispy_forms_tags %}
  
  {% block form_data %}
  {% endblock %}
  
  {% crispy form %}

</form>

{% endblock %}

{% block post_form_content %}
{% endblock %}