{% load static %}
{% load i18n %}
{% load signal %}
<nav class="navbar navbar-xs navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header clearfix content-heading">
      <a class="navbar-brand" id='logo' href="{% url 'index' %}" style="padding-top: 7px; padding-bottom: 5px;"><img src="{% static 'img/inventree.png' %}" width="32" height="32" style="display:block; margin: auto;"/></a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
		{% for nav in nav_items %}
			<li {% if nav.children %}class="dropdown"{% endif %}>
				<a href="{{ nav.url }}" title="{{ nav.title }}" {% if nav.active %}class="active"{% endif %}
					{% if nav.children %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
					{% if nav.icon %}
						<span class="{{ nav.icon }}  icon-header"></span>
					{% endif %}
					{{ nav.label }}
				</a>
				{% if nav.children %}
					<ul class="dropdown-menu" role="menu">
						{% for item in nav.children %}
							<li>
								<a {% if item.url %}href="{{ item.url }}"{% endif %}
										{% if item.external %}target="_blank"{% endif %}
										{% if item.active %}class="active"{% endif %}>
									{% if item.icon %}
										<span class="fa-fw {{ item.icon }} icon-header"></span>
									{% endif %}
									{{ item.label|safe }}
								</a>
							</li>
						{% endfor %}
					</ul>
						{% endif %}
				</li>
			{% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% include "search_form.html" %}
          <li id='navbar-barcode-li'>
            <button id='barcode-scan' class='btn btn-default' title='{% trans "Scan Barcode" %}'>
                <span class='fas fa-qrcode'></span>
            </button>
          </li>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href="#">
              {% if not system_healthy %}
              <span title='{% trans "InvenTree server issues detected" %}' class='fas fa-exclamation-triangle icon-red'></span>
              {% endif %}
              <span class="fas fa-user"></span> <b>{{ user.get_username }}</b></a>
            <ul class='dropdown-menu'>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li><a href="/admin/"><span class="fas fa-user"></span> {% trans "Admin" %}</a></li>
                <hr>
                {% endif %}
                <li><a href="{% url 'settings' %}"><span class="fas fa-cog"></span> {% trans "Settings" %}</a></li>
                <li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> {% trans "Logout" %}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> {% trans "Login" %}</a></li>
                {% endif %}
                <hr>  
                <li id='launch-stats'><a href='#'>
                  {% if system_healthy %}
                  <span class='fas fa-server'>
                  {% else %}
                  <span class='fas fa-exclamation-triangle icon-red'>
                  {% endif %}
                  </span> {% trans "System Information" %}
                </a></li>
                <li id='launch-about'><a href='#'><span class="fas fa-info-circle"></span> {% trans "About InvenTree" %}</a></li>
              </ul>
            </li> 
      </ul>
    </div>
  </div>
</nav>
