<div class='notification-area'>
<div class="alert alert-success alert-dismissable" id="alert-success">
     <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
     <div class='alert-msg'>Success alert</div>
</div>
<div class='alert alert-info alert-dismissable' id='alert-info'>
     <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
     <div class='alert-msg'>Info alert</div>
</div>
<div class='alert alert-warning alert-dismissable' id='alert-warning'>
     <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
     <div class='alert-msg'>Warning alert</div>
</div>
<div class='alert alert-danger alert-dismissable' id='alert-danger'>
    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
    <div class='alert-msg'>Danger alert</div>
</div>
</div>