{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class='panel panel-default panel-inventree'>
    <div class='panel-heading'>
        {% block heading %}
        block heading
        {% endblock %}
    </div>
    <div class='panel-content'>
        {% block details %}
        <div class='row'>
            <div class='col-sm-6' id='detail-panel-left'>
                {% block details_left %}
                block details_left
                {% endblock %}
            </div>
            <div class='col-sm-6' id='detail-panel-right'>
                {% block details_right %}
                block details_right
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</div>

{% block page_content %}
block page_content
{% endblock %}

{% endblock %}