<div class='panel panel-hidden' id='panel-{% block label %}name{% endblock %}'>
    {% block panel_heading %}
    <div class='panel-heading'>
        <div class='d-flex flex-wrap'>
            <h4>{% block heading %}HEADING{% endblock %}</h4>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
                {% block actions %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block panel_content %}
    <div class='panel-content'>
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}
</div>
