{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default:"RapiDoc" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="{% static "api-doc/rapidoc-min.js" %}"></script>
  </head>
  <body>
    <rapi-doc
      spec-url="{{ schema_url }}"
      schema-style="tree"
      schema-expand-level="2"
      render-style="read"
      allow-spec-url-load="false"
      allow-spec-file-load="false"
      load-fonts="false"
    ></rapi-doc>
  </body>
</html>
