<table class='table table-striped table-condensed' id='{{ table_id }}'>
    <tr>
        <th data-field='part' data-sortable='true' data-searchable='true'>Part</th>
        <th data-field='part' data-sortable='true' data-searchable='true'>Description</th>
        <th data-field='part' data-sortable='true' data-searchable='true'>In Stock</th>
        <th data-field='part' data-sortable='true' data-searchable='true'>On Order</th>
        <th data-field='part' data-sortable='true' data-searchable='true'>Allocted</th>
        <th data-field='part' data-sortable='true' data-searchable='true'>Net Stock</th>
    </tr>
    {% for part in parts %}
    <tr>
        <td>
            {% include "hover_image.html" with image=part.image hover=True %}
            <a href="{% url 'part-detail' part.id %}">{{ part.full_name }}</a>
        </td>
        <td>{{ part.description }}</td>
        <td>{{ part.total_stock }}</td>
        <td>{{ part.on_order }}</td>
        <td>{{ part.allocation_count }}</td>
        <td{% if part.net_stock < 0 %} class='red-cell'{% endif %}>{{ part.net_stock }}</td>
    </tr>
    {% endfor %}
</table>