{% load i18n %}
<a href="#" id='select-{{ label }}' title='{{ text }}' class="list-group-item sidebar-list-group-item border-end-0 d-inline-block text-truncate sidebar-selector" data-bs-parent="#sidebar">
    <i class="bi bi-bootstrap"></i>
    <span class='sidebar-item-icon fas {{ icon|default:"fa-circle" }}'></span>
    <span class='sidebar-item-text' style='display: none;'>{{ text }}</span>
    {% if badge %}
    <span id='sidebar-badge-{{ label }}' class='sidebar-item-badge badge rounded-pill badge-right bg-dark'>
        <span class='fas fa-spin fa-spinner'></span>
    </span>
    {% endif %}
</a>
