<div id='button-toolbar'>
    <div class='button-toolbar container-fluid' style='float: right;'>
        <button class='btn btn-default' id='stock-export' title='Export Stock Information'>Export</button>
        {% if not part or part.is_template == False %}
        <button class="btn btn-success" id='item-create'>New Stock Item</button>
        {% endif %}
        <div class="dropdown" style='float: right;'>
            <button id='stock-options' class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" id='multi-item-add' title='Add to selected stock items'>Add stock</a></li>
                <li><a href="#" id='multi-item-remove' title='Remove from selected stock items'>Remove stock</a></li>
                <li><a href="#" id='multi-item-stocktake' title='Stocktake selected stock items'>Count stock</a></li>
                <li><a href='#' id='multi-item-move' title='Move selected stock items'>Move stock</a></li>
                <li><a href='#' id='multi-item-order' title='Order selected items'>Order stock</a></li>
            </ul>
        </div>
    </div>
</div>

<table class='table table-striped table-condensed' data-toolbar='#button-toolbar' id='stock-table'>
</table>