{% load i18n %}
{% load inventree_extras %}

<script type='text/javascript'>

{% load_status_codes %}

function getAvailableTableFilters(tableKey) {

    tableKey = tableKey.toLowerCase();

    // Filters for the "Stock" table
    if (tableKey == 'stock') {
        return {
            'cascade': {
                'type': 'bool',
                'description': '{% trans "Include stock in sublocations" %}',
                'title': '{% trans "Include sublocations" %}',
            },
            'active': {
                'type': 'bool',
                'title': '{% trans "Active parts" %}',
                'description': '{% trans "Show stock for active parts" %}',
            },
            'status': {
                'options': {
                    {% for opt in stock_status_codes %}'{{ opt.value }}': '{{ opt.key }}',
                    {% endfor %}
                },
                'title': '{% trans "Stock status" %}',
                'description': '{% trans "Stock status" %}',
            },
        };
    }

    // Filters for the "Build" table
    if (tableKey == 'build') {
        return {

        };
    }

    // Filters for the "Order" table
    if (tableKey == "order") {
        return {

        };
    }

    // Filters fro the "Parts" table
    if (tableKey == "parts") {
        return {
        };
    }

    // Finally, no matching key
    return {};
}
</script>