{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block menubar %}
<!-- Custom menubar code goes here -->
{% endblock %}

{% block content %}

{% block header_panel %}
<div class='panel panel-default panel-inventree'>

    <div class='panel-heading'>
        {% block detail_heading %}
        !!! heading goes here !!!
        {% endblock %}
    </div>

    <div class='panel-content'>

        {% block header_pre_content %}
        {% endblock %}

        <div class='row'>
            <div class='col-sm-6'>
                <div class='media-left'>
                    {% block thumbnail %}
                    <!-- Image goes here -->
                    {% endblock %}
                </div>
                <div class='media-body'>
                    {% block page_data %}
                    <!-- Data next to image goes here -->
                    {% endblock %}
                </div>
                {% block below_thumbnail %}
                {% endblock %}
            </div>
            <div class='col-sm-6'>
                {% block page_details %}
                <!-- Right column data goes here -->
                {% endblock %}
            </div>
        </div>
    </div>

    {% block header_post_content %}
    {% endblock %}

</div>
{% endblock %}

{% block page_content %}

{% block pre_content_panels %}
{% endblock %}

{% block content_panels %}
<div class='panel panel-default panel-inventree'>
    <div class='panel-heading'>
        <h4>
            {% block heading %}
            <!-- Heading goes here -->
            {% endblock %}
        </h4>
    </div>

    {% block details_panel %}
    <div class='panel-content'>
        {% block details %}
        <!-- Particular page detail views go here -->
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block post_content_panels %}
{% endblock %}

{% endblock %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

{% endblock %}