{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block menubar %}
<!-- Custom menubar code goes here -->
{% endblock %}

{% block content %}

<div class='panel panel-default panel-inventree'>
    
    <div class='row'>
        <div class='col-sm-6'>
            <div class='media-left'>
                {% block thumbnail %}
                <!-- Image goes here -->
                {% endblock %}
            </div>
            <div class='media-body'>
                {% block page_data %}
                <!-- Data next to image goes here -->
                {% endblock %}
            </div>
        </div>
        <div class='col-sm-6'>
            {% block page_details %}
            <!-- Right column data goes here -->
            {% endblock %}
        </div>
    </div>
</div>

<div class='panel panel-default panel-inventree'>
    <div class='panel-heading'>
        <h4>
            {% block heading %}
            <!-- Heading goes here -->
            {% endblock %}
        </h4>
    </div>

    <div class='panel-content'>
        {% block details %}
        <!-- Particular page detail views go here -->
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block js_ready %}
{{ block.super }}

{% endblock %}