{% extends "label/label_base.html" %}

{% load l10n %}
{% load barcode %}

{% block style %}

.qr {
    position: fixed;
    left: 0mm;
    top: 0mm;
    {% localize off %}
    height: {{ height }}mm;
    width: {{ height }}mm;
    {% endlocalize %}
}

.part {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    position: absolute;
    {% localize off %}
    left: {{ height }}mm;
    {% endlocalize %}
    top: 2mm;
}

{% endblock %}

{% block content %}

<img class='qr' src='{% qrcode qr_data %}'>

<div class='part'>
    {{ part.full_name }}
</div>

{% endblock %}
