table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

.badge {
    float: right;
    background-color: #777;
    color: #fff;
    border-radius: 5px;
}

.part-thumb {
    width: 150px;
    height: 150px;
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
    object-fit: contain;
}

.media {
    padding-top: 15px;
}

.media-body {
    padding-top: 10px;
}

.navigation {
    padding: 5px;
    padding-left: 15px;
    background-color: #EEE;
}

.inventree-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-tabs>.active li {
    border-color: #d45500;
    border-bottom-color: transparent;
}

.nav-tabs li {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #d45500;
}

.tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}