.navbar-brand {
    float: left;
}

.badge {
    float: right;
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}

.part-thumb {
    width: 150px;
    height: 150px;
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
    object-fit: contain;
}

.checkbox {
    margin-left: 20px;
}

.checkboxinput {
    padding-left: 5px;
    padding-right: 5px;
}

.media {
    padding-top: 15px;
}

.media-body {
    padding-top: 10px;
}

.navigation {
    padding-left: 15px;
}

.inventree-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal {
  overflow: hidden;
}

.modal-content h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.modal-form-content {
  border-radius: 0;
  position:relative;
  height: auto !important;
  max-height: calc(100vh - 200px) !important;
  overflow-y: scroll;
  padding: 10px;
}