{% extends "page_base.html" %}
{% load static %}
{% load i18n %}
{% load inventree_extras %}

{% block page_title %}
{% if part %}
{% inventree_title %} | {% trans "Part" %} - {{ part.full_name }}
{% elif category %}
{% inventree_title %} | {% trans "Part Category" %} - {{ category }}
{% else %}
{% inventree_title %} | {% trans "Part List" %}
{% endif %}
{% endblock page_title %}

{% block breadcrumbs %}
<a href='#' id='breadcrumb-tree-toggle' class="breadcrumb-item"><span class="fas fa-bars"></span></a>
{% if part %}
{% include "part/cat_link.html" with category=part.category part=part %}
{% else %}
{% include 'part/cat_link.html' with category=category %}
{% endif %}
{% endblock breadcrumbs %}
