{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/inventree.css' %}">

<title>
{% block title %}
InvenTree
{% endblock %}
</title>
</head>

<body>

{% include "navbar.html" %}

<div class="inventree-content">
{% block content %}
<!-- Each view fills in here.. -->
{% endblock %}
</div>

</body>
</html>