{% extends "base.html" %}

{% block content %}

<div class="panel panel-danger">
<div class="panel-heading">
{% block del_title %}
Deletion title goes here
{% endblock %}
</div>
<div class="panel-body">
    <p><b>This is a permanent action and cannot be undone.</b></p>

{% block del_body %}
Deletion body goes here
{% endblock %}

<form action="" method="post">{% csrf_token %}
  <input type="submit" name='confirm' value="Confirm" />
  <input type="submit" name="cancel" value="Cancel" />
</form>

</div>
</div>

{% endblock %}