<h1>Part details for {{ part.name }}</h1>

{% include "cat_link.html" with category=part.category %}

<br>
Part name: {{ part.name }}
<br>
Description: {{ part.description }}
<br>
IPN: {% if part.IPN %}{{ part.IPN }}{% else %}N/A{% endif %}
<br>
Stock: {{ part.stock }}

<br><br>
BOM items: {{ part.bomItemCount }}<br>
Used in {{ part.usedInCount }} other parts.<br>

<h2>BOM</h2>
<ul>
{% for bom in part.bom_items.all %}
<li><a href="{% url 'detail' bom.sub_part.id %}">{{ bom.sub_part.name }}</a> ({{ bom.quantity }})</li>
{% endfor %}
</ul>

<h2>Used to make</h2>
<ul>
{% for p in part.used_in.all %}
<li><a href="{% url 'detail' p.part.id %}">{{ p.part.name }}</a></li>
{% endfor %}
</ul>