{% load i18n %}

<div class='panel' id='{{ panel_id }}'>
    <div class='panel-heading'>
        <h4>
            {{ header_text }}
            {{ wizard.form.media }}
        </h4>
    </div>
    <div class='panel-content'>
    {% if upload_go_ahead %}

        <p>{% blocktrans with step=wizard.steps.step1 count=wizard.steps.count %}Step {{step}} of {{count}}{% endblocktrans %}
        {% if description %}- {{ description }}{% endif %}</p>

        {% block form_alert %}
        {% endblock form_alert %}

        <form action='' method='post' class='js-modal-form' enctype='multipart/form-data'>
        {% csrf_token %}
        {% load crispy_forms_tags %}

        {% block form_buttons_top %}
        {% endblock form_buttons_top %}

        <table class='table table-striped' style='margin-top: 12px; margin-bottom: 0px'>
        {{ wizard.management_form }}
        {% block form_content %}
        {% crispy wizard.form %}
        {% endblock form_content %}
        </table>

        {% block form_buttons_bottom %}
        {% if wizard.steps.prev %}
        <button name='wizard_goto_step' type='submit' value='{{ wizard.steps.prev }}' class='save btn btn-outline-secondary'>{% trans "Previous Step" %}</button>
        {% endif %}
        <button type='submit' class='save btn btn-outline-secondary'>{% trans "Upload File" %}</button>
        </form>
        {% endblock form_buttons_bottom %}

    {% else %}
        <div class='alert alert-danger alert-block' role='alert'>
            {{ error_text }}
        </div>
    {% endif %}
    </div>
</div>
