{% extends "part/part_app_base.html" %}
{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block sidebar %}
{% url 'part-index' as url %}
{% trans "Return to Parts" as text %}
{% include "sidebar_link.html" with url=url text=text icon="fa-undo" %}
{% endblock %}

{% block content %}
    {% trans "Import Parts from File" as header_text %}
    {% trans "Unsuffitient privileges." as error_text %}
    {% include "patterns/wizard/upload.html" with header_text=header_text upload_go_ahead=roles.part.change error_text=error_text %}
{% endblock %}

{% block js_ready %}
{{ block.super }}

enableSidebar('partupload');

{% endblock %}
