<style>
    @page {
        width: 75mm;
        height: 24mm;
        padding: 1mm;
    }
    
    .location {
        padding: 5px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        vertical-align: middle;
        float: right;
        display: inline;
        font-size: 125%;
        position: absolute;
        top: 0mm;
        left: 23mm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .qr {
        margin: 2px;
        width: 22mm;
        height: 22mm;
    }
    
    </style>
    
    <img class='qr' src="{{ label_tools.qr_code(location.barcode) }}"/>
    
    <div class='location'>
        {{ location.name }}
        <br>
        <br>
        <hr>
        Location ID: {{ location.pk }}
        </div>
    </div>
    