{% extends "order/order_wizard/po_upload.html" %}
{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block form_alert %}
{% if form_errors %}
<div class='alert alert-danger alert-block' role='alert'>
    {% trans "Errors exist in the submitted data" %}
</div>
{% endif %}
{% endblock form_alert %}

{% block form_buttons_top %}
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="save btn btn-default">{% trans "Previous Step" %}</button>
    {% endif %}
    <button type="submit" class="save btn btn-default">{% trans "Submit Selections" %}</button>
{% endblock form_buttons_top %}

{% block form_content %}
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Row" %}</th>
                <th>{% trans "Select Supplier Part" %}</th>
                {% for col in columns %}
                <th>
                    <input type='hidden' name='col_name_{{ forloop.counter0 }}' value='{{ col.name }}'/>
                    <input type='hidden' name='col_guess_{{ forloop.counter0 }}' value='{{ col.guess }}'/>
                    {% if col.guess %}
                    {{ col.guess }}
                    {% else %}
                    {{ col.name }}
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr {% if row.errors %} style='background: #ffeaea;'{% endif %} part-select='#select_part_{{ row.index }}'>
                <td>
                    <button class='btn btn-default btn-remove' onClick='removeRowFromBomWizard()' id='del_row_{{ forloop.counter }}' style='display: inline; float: right;' title='{% trans "Remove row" %}'>
                            <span row_id='{{ forloop.counter }}' class='fas fa-trash-alt icon-red'></span>
                    </button>
                </td>
                <td></td>
                <td>
                {{ row.index }}
                </td>
                <td>
                    {% for field in form.visible_fields %}
                        {% if field.name == row.item_select %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% if row.errors.part %}
                    <p class='help-inline'>{{ row.errors.part }}</p>
                    {% endif %}
                </td>
                {% for item in row.data %}
                <td>
                    {% if item.column.guess == 'Quantity' %}
                    {% for field in form.visible_fields %}
                        {% if field.name == row.quantity_select %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% if row.errors.quantity %}
                    <p class='help-inline'>{{ row.errors.quantity }}</p>
                    {% endif %}
                    {% else %}
                    {{ item.cell }}
                    {% endif %}
                    <input type='hidden' name='row_{{ row.index }}_col_{{ forloop.counter0 }}' value='{{ item.cell }}'/>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
{% endblock form_content %}

{% block form_buttons_bottom %}
{% endblock form_buttons_bottom %}

{% block js_ready %}
{{ block.super }}

$('.bomselect').select2({
    dropdownAutoWidth: true,
    matcher: partialMatcher,
});

{% endblock %}