{% extends "order/order_wizard/po_upload.html" %}
{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block form_alert %}
{% if form_errors %}
<div class='alert alert-danger alert-block' role='alert'>
    {% trans "Errors exist in the submitted data" %}
</div>
{% endif %}
{% endblock form_alert %}

{% block form_buttons_top %}
    {% comment %} {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="save btn btn-default">{% trans "Previous Step" %}</button>
    {% endif %} {% endcomment %}
    <button type="submit" class="save btn btn-default">{% trans "Submit Selections" %}</button>
{% endblock form_buttons_top %}

{% block form_content %}
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Row" %}</th>
                <th>{% trans "Select Part" %}</th>
                {% for col in columns %}
                <th>
                    <input type='hidden' name='col_name_{{ forloop.counter0 }}' value='{{ col.name }}'/>
                    <input type='hidden' name='col_guess_{{ forloop.counter0 }}' value='{{ col.guess }}'/>
                    {% if col.guess %}
                    {{ col.guess }}
                    {% else %}
                    {{ col.name }}
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr {% if row.errors %} style='background: #ffeaea;'{% endif %} part-name='{{ row.part_name }}' part-description='{{ row.description }}' part-select='#select_part_{{ row.index }}'>
                <td>
                    <button class='btn btn-default btn-remove' onClick='removeRowFromBomWizard()' id='del_row_{{ forloop.counter }}' style='display: inline; float: right;' title='{% trans "Remove row" %}'>
                            <span row_id='{{ forloop.counter }}' class='fas fa-trash-alt icon-red'></span>
                    </button>
                </td>
                <td></td>
                <td>{% add row.index 1 %}</td>
                <td>
                    <button class='btn btn-default btn-create'  onClick='newPartFromBomWizard()' id='new_part_row_{{ row.index }}' title='{% trans "Create new part" %}' type='button'>
                        <span row_id='{{ row.index }}' class='fas fa-plus icon-green'/>
                    </button>
                    <select class='select bomselect' id='select_part_{{ row.index }}' name='part_{{ row.index }}'>
                        <option value=''>--- {% trans "Select Part" %} ---</option>
                        {% for part in row.part_options %}
                        <option value='{{ part.id }}' {% if part.id == row.part.id %} selected='selected' {% elif part.id == row.part_match.id %} selected='selected' {% endif %}>
                            {{ part }}
                        </option>
                        {% endfor %}
                    </select>
                    {% if row.errors.part %}
                    <p class='help-inline'>{{ row.errors.part }}</p>
                    {% endif %}
                </td>
                {% for item in row.data %}
                <td>
                    {% if item.column.guess == 'Part' %}
                    <i>{{ item.cell }}</i>
                    {% if row.errors.part %}
                    <p class='help-inline'>{{ row.errors.part }}</p>
                    {% endif %}
                    {% elif item.column.guess == 'Quantity' %}
                    <input name='quantity_{{ row.index }}' class='numberinput' type='number' min='1' step='any' value='{% decimal row.quantity %}'/>
                    {% if row.errors.quantity %}
                    <p class='help-inline'>{{ row.errors.quantity }}</p>
                    {% endif %}
                    {% elif item.column.guess == 'Reference' %}
                    <input name='reference_{{ row.index }}' value='{{ row.reference }}'/>
                    {% elif item.column.guess == 'Note' %}
                    <input name='notes_{{ row.index }}' value='{{ row.notes }}'/>
                    {% elif item.column.guess == 'Overage' %}
                    <input name='overage_{{ row.index }}' value='{{ row.overage }}'/>
                    {% else %}
                    {{ item.cell }}
                    {% endif %}
                    <input type='hidden' name='row_{{ row.index }}_col_{{ forloop.counter0 }}' value='{{ item.cell }}'/>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
{% endblock form_content %}

{% block form_buttons_bottom %}
{% endblock form_buttons_bottom %}

{% block js_ready %}
{{ block.super }}

$('.bomselect').select2({
    dropdownAutoWidth: true,
    matcher: partialMatcher,
});

{% endblock %}