{% extends "order/order_base.html" %}
{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block menubar %}
{% include 'order/po_navbar.html' with tab='upload' %}
{% endblock %}

{% block heading %}
{% trans "Upload File for Purchase Order" %}
{{ wizard.form.media }}
{% endblock %}

{% block details %}

<p>{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }} 
{% if description %}- {{ description }}{% endif %}</p>

{% block form %}

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{% load crispy_forms_tags %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% crispy form %}
    {% endfor %}
{% else %}
    {% crispy wizard.form %}
{% endif %}

{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="save btn btn-default">{% trans "Previous Step" %}</button>
{% endif %}
<button type="submit" class="save btn btn-default">{% trans "Upload File" %}</button>
</form>
</table>

{% endblock form %}
{% endblock details %}

{% block js_ready %}
{{ block.super }}

{% endblock %}