{% extends "base.html" %}
{% load i18n %}
{% load inventree_extras %}
{% block page_title %}
InvenTree | {% trans "Index" %}
{% endblock %}

{% block content %}
<h3>InvenTree</h3>
<hr>

<div class='col-sm-3' id='item-panel'>
    <ul class='list-group' id='action-item-list'>
    </ul>
</div>
<div class='col-sm-9' id='details-panel'>
    <ul class='list-group' id='detail-item-list'>
    </ul>
</div>

<div class='col-sm-4'>
    {% if roles.part.view %}
    {% include "InvenTree/latest_parts.html" with collapse_id="latest_parts" %}
    {% include "InvenTree/bom_invalid.html" with collapse_id="bom_invalid" %}
    {% include "InvenTree/starred_parts.html" with collapse_id="starred" %}
    {% endif %}
    {% if roles.build.view %}
    {% include "InvenTree/build_pending.html" with collapse_id="build_pending" %}
    {% include "InvenTree/build_overdue.html" with collapse_id="build_overdue" %}
    {% endif %}
</div>
<div class='col-sm-4'>
    {% if roles.stock.view %}
    {% include "InvenTree/low_stock.html" with collapse_id="order" %}
    {% settings_value "STOCK_ENABLE_EXPIRY" as expiry %}
    {% if expiry %}
    {% include "InvenTree/expired_stock.html" with collapse_id="expired" %}
    {% include "InvenTree/stale_stock.html" with collapse_id="stale" %}
    {% endif %}
    {% include "InvenTree/required_stock_build.html" with collapse_id="stock_to_build" %}
    {% endif %}
</div>
<div class='col-sm-4'>
    {% if roles.purchase_order.view %}
    {% include "InvenTree/po_outstanding.html" with collapse_id="po_outstanding" %}
    {% endif %}
    {% include "InvenTree/po_overdue.html" with collapse_id="po_overdue" %}
    {% if roles.sales_order.view %}
    {% include "InvenTree/so_outstanding.html" with collapse_id="so_outstanding" %}
    {% include "InvenTree/so_overdue.html" with collapse_id="so_overdue" %}
    {% endif %}
</div>

{% endblock %}

{% block js_load %}
{{ block.super }}
{% endblock %}

{% block js_ready %}

{{ block.super }}

function addHeaderTitle(title) {
    // Add a header block to the action list
    $("#action-item-list").append(
        `<li class='list-group-item'><b>${title}</b></li>`
    );
}

function addHeaderAction(label, title, icon) {
    // Add an action block to the action list
    $("#action-item-list").append(
        `<li class='list-group-item' id='action-${title}'>
            <a href='#'>
                <span class='fas ${icon}'></span>
                ${title}
            </a>
            <span class='badge' id='badge-${label}'>
                <span class='fas fa-spin fa-spinner'></span>
            </span>
        </li>`
    );
}

{% if roles.part.view %}
addHeaderTitle('{% trans "Parts" %}');
addHeaderAction('starred-parts', '{% trans "Starred Parts" %}', 'fa-star');
addHeaderAction('latest-parts', '{% trans "Latest Parts" %}', 'fa-newspaper');
addHeaderAction('bom-validation', '{% trans "BOM Waiting Validation" %}', 'fa-times-circle');
{% endif %}

{% if roles.stock.view %}
addHeaderTitle('{% trans "Stock" %}');
addHeaderAction('low-stock', '{% trans "Low Stock" %}', 'fa-shopping-cart');
addHeaderAction('stock-to-build', '{% trans "Required for Build Orders" %}', 'fa-bullhorn');
{% settings_value "STOCK_ENABLE_EXPIRY" as expiry %}
{% if expiry %}
addHeaderAction('expired-stock', '{% trans "Expired Stock" %}', 'fa-calendar-times');
addHeaderAction('stale-stock', '{% trans "Stale Stock" %}', 'fa-stopwatch');
{% endif %}
{% endif %}

{% if roles.build.view %}
addHeaderTitle('{% trans "Build Orders" %}');
addHeaderAction('build-pending', '{% trans "In Progress" %}', 'fa-cogs');
addHeaderAction('build-overdue', '{% trans "Overdue" %}', 'fa-calendar-times');
{% endif %}

{% if roles.purchase_order.view %}
addHeaderTitle('{% trans "Purchase Orders" %}');
addHeaderAction('po-outstanding', '{% trans "Outstanding" %}', 'fa-sign-in-alt');
addHeaderAction('po-overdue', '{% trans "Overdue" %}', 'fa-calendar-times');
{% endif %}

{% if roles.sales_order.view %}
addHeaderTitle('{% trans "Sales Orders" %}');
addHeaderAction('so-outstanding', '{% trans "Outstanding" %}', 'fa-sign-out-alt');
addHeaderAction('so-overdue', '{% trans "Overdue" %}', 'fa-calendar-times');
{% endif %}

loadSimplePartTable("#latest-parts-table", "{% url 'api-part-list' %}", {
    params: {
        ordering: "-creation_date",
        limit: 10,
    },
    name: 'latest_parts',
});

loadSimplePartTable("#starred-parts-table", "{% url 'api-part-list' %}", {
    params: {
        "starred": true,
    },
    name: 'starred_parts',
});

loadSimplePartTable("#bom-invalid-table", "{% url 'api-part-list' %}", {
    params: {
        "bom_valid": false,
    },
    name: 'bom_invalid_parts',
});

loadBuildTable("#build-pending-table", {
    url: "{% url 'api-build-list' %}",
    params: {
        part_detail: true,
        active: true,
    },
    disableFilters: true,
});

loadBuildTable("#build-overdue-table", {
    url: "{% url 'api-build-list' %}",
    params: {
        part_detail: true,
        overdue: true,
    },
    disableFilters: true,
});

loadStockTable($("#expired-stock-table"), {
    params: {
        expired: true,
        location_detail: true,
        part_detail: true,
    },
});

loadStockTable($("#stale-stock-table"), {
    params: {
        stale: true,
        expired: false,
        location_detail: true,
        part_detail: true,
    },
});

loadSimplePartTable("#low-stock-table", "{% url 'api-part-list' %}", {
    params: {
        low_stock: true,
    },
    name: "low_stock_parts",
});

loadSimplePartTable("#stock-to-build-table", "{% url 'api-part-list' %}", {
    params: {
        stock_to_build: true,
    },
    name: "to_build_parts",
});

loadPurchaseOrderTable("#po-outstanding-table", {
    url: "{% url 'api-po-list' %}",
    params: {
        supplier_detail: true,
        outstanding: true,
    }
});

loadPurchaseOrderTable("#po-overdue-table", {
    url: "{% url 'api-po-list' %}",
    params: {
        supplier_detail: true,
        overdue: true,
    }
});

loadSalesOrderTable("#so-outstanding-table", {
    url: "{% url 'api-so-list' %}",
    params: {
        customer_detail: true,
        outstanding: true,
    },
});

loadSalesOrderTable("#so-overdue-table", {
    url: "{% url 'api-so-list' %}",
    params: {
        overdue: true,
        customer_detail: true,
    }
});

{% include "InvenTree/index/on_load.html" with label="latest-parts" %}
{% include "InvenTree/index/on_load.html" with label="starred-parts" %}
{% include "InvenTree/index/on_load.html" with label="bom-invalid" %}
{% include "InvenTree/index/on_load.html" with label="build-pending" %}
{% include "InvenTree/index/on_load.html" with label="build-overdue" %}

{% include "InvenTree/index/on_load.html" with label="expired-stock" %}
{% include "InvenTree/index/on_load.html" with label="stale-stock" %}
{% include "InvenTree/index/on_load.html" with label="low-stock" %}
{% include "InvenTree/index/on_load.html" with label="stock-to-build" %}

{% include "InvenTree/index/on_load.html" with label="po-outstanding" %}
{% include "InvenTree/index/on_load.html" with label="po-overdue" %}
{% include "InvenTree/index/on_load.html" with label="so-outstanding" %}
{% include "InvenTree/index/on_load.html" with label="so-overdue" %}

{% endblock %}