{% extends "base.html" %}
{% load i18n %}
{% load inventree_extras %}
{% block page_title %}
InvenTree | {% trans "Index" %}
{% endblock %}

{% block content %}
<h3>InvenTree</h3>
<hr>

<div class='col-sm-4'>
    {% if roles.part.view %}
    {% include "InvenTree/latest_parts.html" with collapse_id="latest_parts" %}
    {% include "InvenTree/bom_invalid.html" with collapse_id="bom_invalid" %}
    {% include "InvenTree/starred_parts.html" with collapse_id="starred" %}
    {% endif %}
    {% if roles.build.view %}
    {% include "InvenTree/build_pending.html" with collapse_id="build_pending" %}
    {% include "InvenTree/build_overdue.html" with collapse_id="build_overdue" %}
    {% endif %}
</div>
<div class='col-sm-4'>
    {% if roles.stock.view %}
    {% include "InvenTree/low_stock.html" with collapse_id="order" %}
    {% settings_value "STOCK_ENABLE_EXPIRY" as expiry %}
    {% if expiry %}
    {% include "InvenTree/expired_stock.html" with collapse_id="expired" %}
    {% include "InvenTree/stale_stock.html" with collapse_id="stale" %}
    {% endif %}
    {% include "InvenTree/required_stock_build.html" with collapse_id="stock_to_build" %}
    {% endif %}
</div>
<div class='col-sm-4'>
    {% if roles.purchase_order.view %}
    {% include "InvenTree/po_outstanding.html" with collapse_id="po_outstanding" %}
    {% endif %}
    {% if roles.sales_order.view %}
    {% include "InvenTree/so_outstanding.html" with collapse_id="so_outstanding" %}
    {% include "InvenTree/so_overdue.html" with collapse_id="so_overdue" %}
    {% endif %}
</div>

{% endblock %}

{% block js_load %}
{{ block.super }}
{% endblock %}

{% block js_ready %}

{{ block.super }}

loadSimplePartTable("#latest-parts-table", "{% url 'api-part-list' %}", {
    params: {
        ordering: "-creation_date",
        limit: 10,
    },
    name: 'latest_parts',
});

loadSimplePartTable("#starred-parts-table", "{% url 'api-part-list' %}", {
    params: {
        "starred": true,
    },
    name: 'starred_parts',
});

loadSimplePartTable("#bom-invalid-table", "{% url 'api-part-list' %}", {
    params: {
        "bom_valid": false,
    },
    name: 'bom_invalid_parts',
});

loadBuildTable("#build-pending-table", {
    url: "{% url 'api-build-list' %}",
    params: {
        part_detail: true,
        active: true,
    },
    disableFilters: true,
});

loadBuildTable("#build-overdue-table", {
    url: "{% url 'api-build-list' %}",
    params: {
        part_detail: true,
        overdue: true,
    },
    disableFilters: true,
});

loadStockTable($("#expired-stock-table"), {
    params: {
        expired: true,
        location_detail: true,
        part_detail: true,
    },
});

loadStockTable($("#stale-stock-table"), {
    params: {
        stale: true,
        expired: false,
        location_detail: true,
        part_detail: true,
    },
});

loadSimplePartTable("#low-stock-table", "{% url 'api-part-list' %}", {
    params: {
        low_stock: true,
    },
    name: "low_stock_parts",
});

loadSimplePartTable("#stock-to-build-table", "{% url 'api-part-list' %}", {
    params: {
        stock_to_build: true,
    },
    name: "to_build_parts",
});

loadPurchaseOrderTable("#po-outstanding-table", {
    url: "{% url 'api-po-list' %}",
    params: {
        supplier_detail: true,
        outstanding: true,
    }
});

loadSalesOrderTable("#so-outstanding-table", {
    url: "{% url 'api-so-list' %}",
    params: {
        customer_detail: true,
        outstanding: true,
    },
});

loadSalesOrderTable("#so-overdue-table", {
    url: "{% url 'api-so-list' %}",
    params: {
        overdue: true,
        customer_detail: true,
    }
});

{% include "InvenTree/index/on_load.html" with label="latest-parts" %}
{% include "InvenTree/index/on_load.html" with label="starred-parts" %}
{% include "InvenTree/index/on_load.html" with label="bom-invalid" %}
{% include "InvenTree/index/on_load.html" with label="build-pending" %}
{% include "InvenTree/index/on_load.html" with label="build-overdue" %}

{% include "InvenTree/index/on_load.html" with label="expired-stock" %}
{% include "InvenTree/index/on_load.html" with label="stale-stock" %}
{% include "InvenTree/index/on_load.html" with label="low-stock" %}
{% include "InvenTree/index/on_load.html" with label="stock-to-build" %}

{% include "InvenTree/index/on_load.html" with label="po-outstanding" %}
{% include "InvenTree/index/on_load.html" with label="so-outstanding" %}
{% include "InvenTree/index/on_load.html" with label="so-overdue" %}

{% endblock %}