{% load i18n %}
{% load plugin_extras %}

<div class='panel-heading'>
    <h4>{% trans "Web Connections" %}</h4>
</div>

{% plugin_connections plugin_key as connections%}

{% for key, connection_def in connections.items %}
{{connection_def.setup.name}}:<br>
{{connection_def.setup.description}}
<hr>
{% for connection in connection_def.connections %}
    <div class="mx-5">
        <h5>{{connection.name}}</h5>
        {{connection.comment}}
        <table class='table table-striped table-condensed'>
            <tbody>
                {% for connection_setting in connection_def.setup.settings %}
                    {% include "InvenTree/settings/setting.html" with key=connection_setting connection_key=key connection_ref=connection.id plugin=plugin %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}


{% endfor %}
