{% load i18n %}
{% load plugin_extras %}

<div class='panel-heading'>
    <h4>{% trans "Web Connections" %}</h4>
</div>

{% plugin_connections plugin_key as plugin_connections %}
{% for key, connection in plugin_connections.items %}
{{connection.name}}:<br>
{{connection.description}}
<hr>
<table class='table table-striped table-condensed'>
    <tbody>
        {% for connection_setting in connection.settings %}
            {% include "InvenTree/settings/setting.html" with key=connection_setting connection_key=key plugin=plugin %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
