{% extends "order/order_base.html" %}

{% load inventree_extras %}
{% load i18n %}
{% load static %}
{% load markdownify %}

{% block details %}

{% include 'order/po_tabs.html' with tab='notes' %}

{% if editing %}
<h4>{% trans "Order Notes" %}</h4>
<hr>

<form method='POST'>
    {% csrf_token %}

    {{ form }}
    <hr>
    <input type='submit' value='{% trans "Save" %}'/>
</form>

{{ form.media }}

{% else %}
<div class='row'>
    <div class='col-sm-6'>
        <h4>{% trans "Order Notes" %}</h4>
    </div>
    {% if roles.purchase_order.change %}
    <div class='col-sm-6'>
        <button title='{% trans "Edit notes" %}' class='btn btn-default action-button float-right' id='edit-notes'><span class='fas fa-edit'></span></button>
    </div>
    {% endif %}
</div>
<hr>
<div class='panel panel-default'>
    <div class='panel-content'>
        {{ order.notes | markdownify }}
    </div>
</div>

{% endif %}

{% endblock %}

{% block js_ready %}

{{ block.super }}

{% if editing %}
{% else %}
$("#edit-notes").click(function() {
    location.href = "{% url 'po-notes' order.id %}?edit=1";
});
{% endif %}

{% endblock %}