{% extends "two_column.html" %}

{% load i18n %}
{% load static %}
{% load inventree_extras %}
{% load status_codes %}

{% block page_title %}
{% inventree_title %} | {% trans "Purchase Order" %}
{% endblock %}

{% block breadcrumbs %}
<li class='breadcrumb-item'><a href='{% url "po-index" %}'>{% trans "Purchase Orders" %}</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href='{% url "po-detail" order.id %}'>{{ order }}</a></li>
{% endblock %}

{% block thumbnail %}
<img class='part-thumb'
{% if order.supplier.image %}
src="{{ order.supplier.image.url }}"
{% else %}
src="{% static 'img/blank_image.png' %}"
{% endif %}
/>
{% endblock %}

{% block page_data %}
<h3>
    {% trans "Purchase Order" %} {{ order.reference }}
    {% if user.is_staff and roles.purchase_order.change %}
    <a href="{% url 'admin:order_purchaseorder_change' order.pk %}"><span title='{% trans "Admin view" %}' class='fas fa-user-shield'></span></a>
    {% endif %}
</h3>
<h3>
    {% purchase_order_status_label order.status large=True %}
    {% if order.is_overdue %}
    <span class='label label-large label-large-red'>{% trans "Overdue" %}</span>
    {% endif %}
</h3>
<hr>
<p>{{ order.description }}{% include "clip.html"%}</p>
<div class='btn-row'>
    <div class='btn-group action-buttons' role='group'>
        <!-- Printing options -->
        <div class='btn-group'>
            <button id='print-options' title='{% trans "Print actions" %}' class='btn btn-default dropdown-toggle' type='button' data-bs-toggle='dropdown'>
                <span class='fas fa-print'></span> <span class='caret'></span>
            </button>
            <ul class='dropdown-menu' role='menu'>
                <li><a href='#' id='print-order-report'><span class='fas fa-file-pdf'></span> {% trans "Print purchase order report" %}</a></li>
                <li><a href='#' id='export-order'><span class='fas fa-file-download'></span> {% trans "Export order to file" %}</a></li>
            </ul>
        </div>
        {% if roles.purchase_order.change %}
        <!-- order actions -->
        <div class='btn-group'>
            <button id='order-options' title='{% trans "Order actions" %}' class='btn btn-default dropdown-toggle' type='button' data-bs-toggle='dropdown'>
                <span class='fas fa-tools'></span> <span class='caret'></span>
            </button>
            <ul class='dropdown-menu' role='menu'>
                <li><a href='#' id='edit-order'><span class='fas fa-edit icon-green'></span> {% trans "Edit order" %}</a></li>
                {% if order.can_cancel %}
                <li><a href='#' id='cancel-order'><span class='fas fa-times-circle icon-red'></span> {% trans "Cancel order" %}</a></li>
                {% endif %}
            </ul>
        </div>
        {% if order.status == PurchaseOrderStatus.PENDING and order.lines.count > 0 %}
        <button type='button' class='btn btn-default' id='place-order' title='{% trans "Place order" %}'>
            <span class='fas fa-shopping-cart icon-blue'></span>
        </button>
        {% elif order.status == PurchaseOrderStatus.PLACED %}
        <button type='button' class='btn btn-default' id='receive-order' title='{% trans "Receive items" %}'>
            <span class='fas fa-sign-in-alt icon-blue'></span>
        </button>
        <button type='button' class='btn btn-default' id='complete-order' title='{% trans "Mark order as complete" %}'>
            <span class='fas fa-check-circle icon-green'></span>
        </button>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_details %}
<h4>{% trans "Purchase Order Details" %}</h4>
<table class='table'>
    <col width='25'>
    <tr>
        <td><span class='fas fa-hashtag'></span></td>
        <td>{% trans "Order Reference" %}</td>
        <td>{% settings_value 'PURCHASEORDER_REFERENCE_PREFIX' %}{{ order.reference }}{% include "clip.html"%}</td>
    </tr>
    <tr>
        <td><span class='fas fa-info'></span></td>
        <td>{% trans "Order Status" %}</td>
        <td>
            {% purchase_order_status_label order.status %}
            {% if order.is_overdue %}
            <span class='label label-red'>{% trans "Overdue" %}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><span class='fas fa-building'></span></td>
        <td>{% trans "Supplier" %}</td>
        <td><a href="{% url 'company-detail' order.supplier.id %}">{{ order.supplier.name }}</a>{% include "clip.html"%}</td>
    </tr>
    {% if order.supplier_reference %}
    <tr>
        <td><span class='fas fa-hashtag'></span></td>
        <td>{% trans "Supplier Reference" %}</td>
        <td>{{ order.supplier_reference }}{% include "clip.html"%}</td>
    </tr>
    {% endif %}
    {% if order.link %}
    <tr>
        <td><span class='fas fa-link'></span></td>
        <td>External Link</td>
        <td><a href="{{ order.link }}">{{ order.link }}</a>{% include "clip.html"%}</td>
    </tr>
    {% endif %}
    <tr>
        <td><span class='fas fa-calendar-alt'></span></td>
        <td>{% trans "Created" %}</td>
        <td>{{ order.creation_date }}<span class='badge'>{{ order.created_by }}</span></td>
    </tr>
    {% if order.issue_date %}
    <tr>
        <td><span class='fas fa-calendar-alt'></span></td>
        <td>{% trans "Issued" %}</td>
        <td>{{ order.issue_date }}</td>
    </tr>
    {% endif %}
    {% if order.target_date %}
    <tr>
        <td><span class='fas fa-calendar-alt'></span></td>
        <td>{% trans "Target Date" %}</td>
        <td>{{ order.target_date }}</td>
    </tr>
    {% endif %}
    {% if order.status == PurchaseOrderStatus.COMPLETE %}
    <tr>
        <td><span class='fas fa-calendar-alt'></span></td>
        <td>{% trans "Received" %}</td>
        <td>{{ order.complete_date }}<span class='badge'>{{ order.received_by }}</span></td>
    </tr>
    {% endif %}
    {% if order.responsible %}
    <tr>
        <td><span class='fas fa-users'></span></td>
        <td>{% trans "Responsible" %}</td>
        <td>{{ order.responsible }}</td>
    </tr>
    {% endif %}
</table>
{% endblock %}

{% block js_ready %}
{{ block.super }}


{% if order.status == PurchaseOrderStatus.PENDING and order.lines.count > 0 %}
$("#place-order").click(function() {
    launchModalForm("{% url 'po-issue' order.id %}",
    {
        reload: true,
    });
});
{% endif %}

$('#print-order-report').click(function() {
    printPurchaseOrderReports([{{ order.pk }}]);
});

$("#edit-order").click(function() {

    constructForm('{% url "api-po-detail" order.pk %}', {
        fields: {
            reference: {
                prefix: global_settings.PURCHASEORDER_REFERENCE_PREFIX,
            },
            {% if order.lines.count == 0 and order.status == PurchaseOrderStatus.PENDING %}
            supplier: {
            },
            {% endif %}
            supplier_reference: {},
            description: {},
            target_date: {
                icon: 'fa-calendar-alt',
            },
            link: {
                icon: 'fa-link',
            },
            responsible: {
                icon: 'fa-user',
            },
        },
        title: '{% trans "Edit Purchase Order" %}',
        reload: true,
    });
});

$("#receive-order").click(function() {

    // Auto select items which have not been fully allocated
    var items = $("#po-line-table").bootstrapTable('getData');

    var items_to_receive = [];

    items.forEach(function(item) {
        if (item.received < item.quantity) {
            items_to_receive.push(item);
        }
    });

    receivePurchaseOrderItems(
        {{ order.id }},
        items_to_receive,
        {
            success: function() {
                $("#po-line-table").bootstrapTable('refresh');
            }
        }
    );
});

$("#complete-order").click(function() {
    launchModalForm("{% url 'po-complete' order.id %}", {
        reload: true,
    });
});

$("#cancel-order").click(function() {
    launchModalForm("{% url 'po-cancel' order.id %}", {
        reload: true,
    });
});

$("#export-order").click(function() {
    exportOrder('{% url "po-export" order.id %}');
});


{% endblock %}