{% load i18n %}
{% load static %}
{% load inventree_extras %}
{% load status_codes %}

<ul class='list-group'>
    <li class='list-group-item'>
        <a href='#' id='po-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>
    <li class='list-group-item' title='{% trans "Purchase Order Line Items" %}'>
        <a href='#' id='select-order-items' class='nav-toggle'>
            <span class='fas fa-list-ol side-icon'></span>
            {% trans "Order Items" %}
        </a>
    </li>
    <li class='list-group-item' title='{% trans "Received Stock Items" %}'>
        <a href='#' id='select-received-items' class='nav-toggle'>
            <span class='fas fa-sign-in-alt side-icon'></span>
            {% trans "Received Items" %}
        </a>
    </li>
    <li class='list-group-item' title='{% trans "Purchase Order Attachments" %}'>
        <a href='#' id='select-order-attachments' class='nav-toggle'>
            <span class='fas fa-paperclip side-icon'></span>
            {% trans "Attachments" %}
        </a>
    </li>
    <li class='list-group-item' title='{% trans "Notes" %}'>
        <a href='#' id='select-order-notes' class='nav-toggle'>
            <span class='fas fa-clipboard side-icon'></span>
            {% trans "Notes" %}
        </a>
    </li>
</ul>