{% extends "order/order_base.html" %}

{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block menubar %}
{% include 'order/po_navbar.html' with tab='received' %}
{% endblock %}

{% block heading %}
{% trans "Received Items" %}
{% endblock %}

{% block details %}

{% include "stock_table.html" with read_only=True %}

{% endblock %}

{% block js_ready %}
{{ block.super }}

loadStockTable($("#stock-table"), {
    params: {
        purchase_order: {{ order.id }},
        part_detail: true,
        supplier_detail: true,
        location_detail: true,
    },
    buttons: [
        '#stock-options',
    ],
    filterkey: "postock"
});

{% endblock %}