{% load i18n %}

<ul class='nav nav-tabs'>
    <li{% ifequal tab 'details' %} class='active'{% endifequal %}>
        <a href="{% url 'po-detail' order.id %}">{% trans "Line Items" %}</a>
    </li>
    <li {% if tab == 'received' %} class='active'{% endif %}>
        <a href="{% url 'po-received' order.id %}">{% trans "Received Items" %}</a>
    </li>
    <li{% if tab == 'attachments' %} class='active'{% endif %}>
        <a href="{% url 'po-attachments' order.id %}">{% trans "Attachments" %}
            {% if order.attachments.count > 0 %}
            <span class='badge'>{{ order.attachments.count }}</span>
            {% endif %}
        </a>
    </li>
    <li{% ifequal tab 'notes' %} class='active'{% endifequal %}>
        <a href="{% url 'po-notes' order.id %}">{% trans "Notes" %}{% if order.notes %} <span class='fas fa-info-circle'></span>{% endif %}</a>
    </li>
</ul>
