{% extends "modal_form.html" %}
{% load i18n %}
{% load inventree_extras %}
{% load status_codes %}

{% block form %}

{% blocktrans with desc=order.description %}Receive outstanding parts for <strong>{{order}}</strong> - <em>{{desc}}</em>{% endblocktrans %}

<form method='post' action='' class='js-modal-form' enctype='multipart/form-data'>
    {% csrf_token %}
    {% load crispy_forms_tags %}

    <label class='control-label'>{% trans "Parts" %}</label>
    <p class='help-block'>{% trans "Fill out number of parts received, the status and destination" %}</p>

    <table class='table table-striped'>
        <tr>
            <th>{% trans "Part" %}</th>
            <th>{% trans "Order Code" %}</th>
            <th>{% trans "On Order" %}</th>
            <th>{% trans "Received" %}</th>
            <th>{% trans "Receive" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Destination" %}</th>
            <th></th>
        </tr>
        {% for line in lines %}
        <tr id='line_row_{{ line.id }}'>
            {% if line.part %}
            <td>
                {% include "hover_image.html" with image=line.part.part.image hover=False %}
                {{ line.part.part.full_name }}
            </td>
            <td>{{ line.part.SKU }}</td>
            {% else %}
            <td colspan='2'>{% trans "Error: Referenced part has been removed" %}</td>
            {% endif %}
            <td>{% decimal line.quantity %}</td>
            <td>{% decimal line.received %}</td>
            <td>
                <div class='control-group'>
                    <div class='controls'>
                        <input class='numberinput' type='number' min='0' value='{% decimal line.receive_quantity %}' name='line-{{ line.id }}'/>
                    </div>
                </div>
            </td>
            <td>
                <div class='control-group'>
                    <select class='select' name='status-{{ line.id }}'>
                        {% for code in StockStatus.RECEIVING_CODES %}
                        <option value="{{ code }}" {% if code|add:"0" == line.status_code|add:"0" %}selected="selected"{% endif %}>{% stock_status_text code %}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <div class='control-group'>
                    <select class='select' name='destination-{{ line.id }}'>
                        <option value="">----------</option>
                        {% for location in stock_locations %}
                        <option value="{{ location.pk }}" {% if location == line.get_destination %}selected="selected"{% endif %}>{{ location }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <button class='btn btn-default btn-remove' onClick="removeOrderRowFromOrderWizard()" id='del_item_{{ line.id }}' title='{% trans "Remove line" %}' type='button'>
                    <span row='line_row_{{ line.id }}' class='fas fa-times-circle icon-red'></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% crispy form %}

    <div id='form-errors'>{{ form_errors }}</div>
</form>

{% endblock %}