{% extends "order/sales_order_base.html" %}

{% load inventree_extras %}
{% load status_codes %}
{% load i18n %}
{% load static %}
{% load markdownify %}

{% block sidebar %}
{% include "order/so_sidebar.html"  %}
{% endblock %}

{% block page_content %}

<div class='panel panel-hidden' id='panel-order-items'>
    <div class='panel-heading'>
        <div class='d-flex flex-row'>
            <h4>{% trans "Sales Order Items" %}</h4>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
                {% if roles.sales_order.change %}
                <button type='button' class='btn btn-success' id='new-so-line'>
                    <span class='fas fa-plus-circle'></span> {% trans "Add Line Item" %}
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='panel-content'>
        <div id='order-toolbar-buttons' class='btn-group' style='float: right;'>
            <div class='btn-group'>
                <div class='filter-list' id='filter-list-sales-order-lines'>
                </div>
            </div>
        </div>
        <table class='table table-striped table-condensed' id='so-lines-table' data-toolbar='#order-toolbar-buttons'>
        </table>
    </div>
</div>

<div class='panel panel-hidden' id='panel-order-builds'>
    <div class='panel-heading'>
        <h4>{% trans "Build Orders" %}</h4>
    </div>
    <div class='panel-content'>
        <table class='table table-striped table-condensed' id='builds-table'></table>
    </div>
</div>

<div class='panel panel-hidden' id='panel-order-attachments'>
    <div class='panel-heading'>
        <div class='d-flex flex-row'>
            <h4>{% trans "Attachments" %}</h4>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
                {% include "attachment_button.html" %}
            </div>
        </div>
    </div>
    <div class='panel-content'>
        {% include "attachment_table.html" %}
    </div>
</div>

<div class='panel panel-hidden' id='panel-order-notes'>
    <div class='panel-heading'>
        <div class='row'>
            <div class='col-sm-6'>
                <h4>{% trans "Order Notes" %}</h4>
            </div>
            <div class='col-sm-6'>
                <div class='btn-group float-right'>
                    <button type='button' id='edit-notes' title='{% trans "Edit Notes" %}' class='btn outline-secondary'>
                        <span class='fas fa-edit'>      
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class='panel-content'>
        {% if order.notes %}
        {{ order.notes | markdownify }}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js_ready %}
{{ block.super }}

    $('#edit-notes').click(function() {
        constructForm('{% url "api-so-detail" order.pk %}', {
            fields: {
                notes: {
                    multiline: true,
                }
            },
            title: '{% trans "Edit Notes" %}',
            reload: true,
        });
    });

    enableDragAndDrop(
        '#attachment-dropzone',
        '{% url "api-so-attachment-list" %}',
        {
            data: {
                order: {{ order.id }},
            },
            label: 'attachment',
            success: function(data, status, xhr) {
                location.reload();
            }
        }
    );

    loadAttachmentTable(
        '{% url "api-so-attachment-list" %}',
        {
            filters: {
                order: {{ order.pk }},
            },
            onEdit: function(pk) {
                var url = `/api/order/so/attachment/${pk}/`;

                constructForm(url, {
                    fields: {
                        filename: {},
                        comment: {},
                    },
                    onSuccess: reloadAttachmentTable,
                    title: '{% trans "Edit Attachment" %}',
                });
            },
            onDelete: function(pk) {
                constructForm(`/api/order/so/attachment/${pk}/`, {
                    method: 'DELETE',
                    confirmMessage: '{% trans "Confirm Delete Operation" %}',
                    title: '{% trans "Delete Attachment" %}',
                    onSuccess: reloadAttachmentTable,
                });
            }
        }
    );

    $("#new-attachment").click(function() {

        constructForm('{% url "api-so-attachment-list" %}', {
            method: 'POST',
            fields: {
                attachment: {},
                comment: {},
                order: {
                    value: {{ order.pk }},
                    hidden: true
                }
            },
            onSuccess: reloadAttachmentTable,
            title: '{% trans "Add Attachment" %}'
        });
    });

    loadBuildTable($("#builds-table"), {
        url: "{% url 'api-build-list' %}",
        params: {
            sales_order: {{ order.id }},
        },
    });

    function reloadTable() {
        $("#so-lines-table").bootstrapTable("refresh");
    }

    $("#new-so-line").click(function() {

        constructForm('{% url "api-so-line-list" %}', {
            fields: {
                order: {
                    value: {{ order.pk }},
                    hidden: true,
                },
                part: {},
                quantity: {},
                reference: {},
                sale_price: {},
                sale_price_currency: {},
                notes: {},
            },
            method: 'POST',
            title: '{% trans "Add Line Item" %}',
            onSuccess: reloadTable,
        });
    });

    loadSalesOrderLineItemTable(
        '#so-lines-table',
        {
            order: {{ order.pk }},
            status: {{ order.status }},
        }
    );

    enableSidebar('salesorder');
    
{% endblock %}