{% extends "order/sales_order_base.html" %}

{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block details %}

{% include 'order/so_tabs.html' with tab='builds' %}

<h4>{% trans "Build Orders" %}</h4>
<hr>

<table class='table table-striped table-condensed' id='builds-table'></table>

{% endblock %}

{% block js_ready %}

{{ block.super }}

loadBuildTable($("#builds-table"), {
    url: "{% url 'api-build-list' %}",
    params: {
        sales_order: {{ order.id }},
        part_detail: true,
    },
});

{% endblock %}