{% extends "order/sales_order_base.html" %}

{% load inventree_extras %}
{% load i18n %}
{% load static %}

{% block menubar %}
{% include 'order/so_navbar.html' with tab='builds' %}
{% endblock %}

{% block heading %}
{% trans "Build Orders" %}
{% endblock %}

{% block details %}


<table class='table table-striped table-condensed' id='builds-table'></table>

{% endblock %}

{% block js_ready %}

{{ block.super }}

loadBuildTable($("#builds-table"), {
    url: "{% url 'api-build-list' %}",
    params: {
        sales_order: {{ order.id }},
    },
});

{% endblock %}