{% load i18n %}
{% load static %}
{% load inventree_extras %}

<ul class='list-group'>
    <li class='list-group-item'>
        <a href='#' id='so-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Sales Order Line Items" %}'>
        <a href='#' id='select-order-items' class='nav-toggle'>
            <span class='fas fa-list-ol sidebar-icon'></span>
            {% trans "Order Items" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Shipments" %}'>
        <a href='#' id='select-order-shipments' class='nav-toggle'>
            <span class='fas fa-truck sidebar-icon'></span>
            {% trans "Shipments" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Build Orders" %}'>
        <a href='#' id='select-order-builds' class='nav-toggle'>
            <span class='fas fa-tools sidebar-icon'></span>
            {% trans "Build Orders" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Sales Order Attachments" %}'>
        <a href='#' id='select-order-attachments' class='nav-toggle'>
            <span class='fas fa-paperclip sidebar-icon'></span>
            {% trans "Attachments" %}
        </a>
    </li>

    <li class='list-group-item' title='{% trans "Notes" %}'>
        <a href='#' id='select-order-notes' class='nav-toggle'>
            <span class='fas fa-clipboard sidebar-icon'></span>
            {% trans "Notes" %}
        </a>
    </li>

</ul>