{% load i18n %}
{% load static %}
{% load inventree_extras %}

<ul class='list-group'>
    <li class='list-group-item'>
        <a href='#' id='so-menu-toggle'>
            <span class='menu-tab-icon fas fa-expand-arrows-alt'></span>
        </a>
    </li>

    <li class='list-group-item {% if tab == "details" %}active{% endif %}' title='{% trans "Sales Order Details" %}'>
        <a href='{% url "so-detail" order.id %}'>
            <span class='fas fa-info-circle'></span>
            {% trans "Details" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "builds" %}active{% endif %}' title='{% trans "Build Orders" %}'>
        <a href='{% url "so-builds" order.id %}'>
            <span class='fas fa-tools'></span>
            {% trans "Build Orders" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "attachments" %}active{% endif %}' title='{% trans "Sales Order Attachments" %}'>
        <a href='{% url "so-attachments" order.id %}'>
            <span class='fas fa-paperclip'></span>
            {% trans "Attachments" %}
        </a>
    </li>

    <li class='list-group-item {% if tab == "notes" %}active{% endif %}' title='{% trans "Notes" %}'>
        <a href='{% url "so-notes" order.id %}'>
            <span class='fas fa-clipboard'></span>
            {% trans "Notes" %}
        </a>
    </li>

</ul>