{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% include "sidebar_item.html" with label='order-items' text='{% trans "Line Items" %}' icon="fa-list-ol" %}
{% include "sidebar_item.html" with label='order-builds' text='{% trans "Build Orders" %}' icon="fa-tools" %}
{% include "sidebar_item.html" with label='order-attachments' text='{% trans "Attachments" %}' icon="fa-paperclip" %}
{% include "sidebar_item.html" with label='order-notes' text='{% trans "Notes" %}' icon="fa-clipboard" %}
