{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load inventree_extras %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap_3.3.7_css_bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/inventree.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

<script type='text/javascript' src="{% static 'fontawesome/js/solid.js' %}"></script>
<script type='text/javascript' src="{% static 'fontawesome/js/brands.js' %}"></script>
<script type='text/javascript' src="{% static 'fontawesome/js/fontawesome.js' %}"></script>

<style>
    .login-error {
        color: #F88;
    }
</style>

<title>
    {% inventree_title %} 
</title>
</head>

<body class='login-screen'>

    <div class='main body-wrapper login-screen'>

        <div class='login-container'>
        <div class="row">
            <div class='container-fluid'>
                <div class='clearfix content-heading login-header'>
                    <img class="pull-left" src="{% static 'img/inventree.png' %}" width="60" height="60"/>
                    <span><h3>{% inventree_title %} </h3></span>
                </div>
                    <hr>

                    <div class='container-fluid'>
                        <p>{% trans "You have been logged out" %}</p>
                        <p><a href='{% url "login" %}'>{% trans "Return to login screen" %}</a></p>
                    </div>
                </div>
            </div>
        </div>

</div>

</body>