{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
<h3>
  {% trans "Two-Factor Authentication Backup Tokens" %}
</h3>

{% if backup_tokens %}
  {% if reveal_tokens %}
    <ul>
      {% for token in backup_tokens %}
        <li>{{ token.token }}</li>
      {% endfor %}
    </ul>
  {% else %}
    {% trans 'Backup tokens have been generated, but are not revealed here for security reasons. Press the button below to generate new ones.' %}
  {% endif %}
{% else %}
  {% trans 'No backup tokens are available. Press the button below to generate some.' %}
{% endif %}

<hr>
<form method="post">
  {% csrf_token %}
  <div class='btn-group float-right' role='group'>
    <button type="submit" class="btn btn-primary w-100">
      <span class='fas fa-key'></span> {% trans 'Generate Tokens' %}
    </button>
  </div>
</form>

<div>
  <a type='button' href="{% url 'settings' %}" class="btn btn-secondary">
    <span class='fas fa-undo-alt'></span> {% trans "Return to Site" %}
  </a>
</div>

{% endblock %}
