{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
<h3>
  {% trans "Disable Two-Factor Authentication" %}
</h3>

<p>{% trans "Are you sure?" %}</p>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <hr>
  <div class='btn-group float-right' role='group'>
    <button type="submit" class="btn btn-danger w-100">
      <span class='fas fa-times-circle'></span> {% trans 'Disable 2FA' %}
    </button>
  </div>
</form>

<div>
  <a type='button' href="{% url 'settings' %}" class="btn btn-secondary">
    <span class='fas fa-undo-alt'></span> {% trans "Return to Site" %}
  </a>
</div>
{% endblock %}
