{% load i18n %}

<div>
{% if form.pre_form_info %}
<div class='alert alert-info alert-block' role='alert'>
{{ form.pre_form_info }}
</div>
{% endif %}
{% if form.pre_form_warning %}
<div class='alert alert-warning alert-block' role='alert'>
{{ form.pre_form_warning }}
</div>
{% endif %}
</div>

{% block pre_form_content %}
{% endblock pre_form_content %}

{% block form %}
<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">
  {% csrf_token %}
  {% load crispy_forms_tags %}

  {% block form_data %}
  {% endblock form_data %}

  {% crispy form %}

</form>

{% endblock form %}

{% block post_form_content %}
{% endblock post_form_content %}
