{% load inventree_extras %}
{% load i18n %}

{% inventree_customize 'hide_pui_banner' as hidden %}

{% if not hidden %}
<div class='alert alert-block alert-warning'>
    {% if mode == 'admin' %}
    {% trans "Platform UI - the new UI for InvenTree - provides more modern administration options." %}
    {% endif %}
    {% if mode == 'user' %}
    {% trans "Platform UI - the new UI for InvenTree - is ready to be tested." %}
    {% endif %}
    <br>
    {% trans "Try it out now" %} <a href="{% url 'platform' %}"/>{% trans "here" %}</a>.
</div>
{% endif %}
