{% load i18n %}
{% load inventree_extras %}

<table class='table table-striped table-condensed' id='{{ prefix }}test-statistics-table' style="display: none;">
    <thead>
        <tr>
            <th id="{{ prefix }}test-statistics-table-header-id"></th>
            <th id="{{ prefix }}test-statistics-table-header-total">{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{ prefix }}test-statistics-table-passed-row">
            <td id="{{ prefix }}test-statistics-table-body-passed">{% trans "Passed" %}</td>
        </tr>
        <tr id="{{ prefix }}test-statistics-table-failed-row">
            <td id="{{ prefix }}test-statistics-table-body-failed">{% trans "Failed" %}</td>
        </tr>
        <tr id="{{ prefix }}test-statistics-table-total-row" class="test-statistics-table-total-row">
            <td id="{{ prefix }}test-statistics-table-body-total">{% trans "Total" %}</td>
        </tr>
    </tbody>
</table>
