# Ignore python environment files
env-inv-doc/
env/

# Compiled python files
*.pyd
*.pyc

# Documentation build files
_build/
site/

# Generated API schema files
docs/api/schema/*.yml

.vscode/
generated/
