{% extends "panel.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block label %}barcodes{% endblock %}

{% block heading %}
{% trans "Barcode Settings" %}
{% endblock %}

{% block content %}

<table class='table table-striped table-condensed'>
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="BARCODE_ENABLE" icon="fa-qrcode" %}
        {% include "InvenTree/settings/setting.html" with key="BARCODE_WEBCAM_SUPPORT" icon="fa-video" %}
    </tbody>
</table>

{% endblock %}
