{% extends "InvenTree/settings/settings.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='build' %}
{% endblock %}

{% block subtitle %}
{% trans "Build Order Settings" %}
{% endblock %}

{% block settings %}

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="BUILDORDER_REFERENCE_PREFIX" %}
        {% include "InvenTree/settings/setting.html" with key="BUILDORDER_REFERENCE_REGEX" %}
    </tbody>
</table>

{% endblock %}