{% extends "panel.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block label %}build-order{% endblock %}

{% block heading %}
{% trans "Build Order Settings" %}
{% endblock %}

{% block content %}

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="BUILD_FUNCTION_ENABLE" icon="fa-check" %}
        <tr><td colspan='5'></td></tr>
        {% include "InvenTree/settings/setting.html" with key="BUILDORDER_REFERENCE_PREFIX" %}
        {% include "InvenTree/settings/setting.html" with key="BUILDORDER_REFERENCE_REGEX" %}
    </tbody>
</table>

{% endblock %}