{% extends "panel.html" %}
{% load i18n %}

{% block label %}category{% endblock %}

{% block heading %}
{% trans "Category Settings" %}
{% endblock %}

{% block actions %}
<button class='btn btn-success' id='new-cat-param'>
    <div class='fas fa-plus-circle'></div> {% trans "New Parameter" %}
</button>
{% endblock %}

{% block content %}

<div class='row' id='cat-param-buttons'>
    <form action=''>
        <div class='col-sm-6' style='width: 250px'>
            <div class='form-group'><div class='controls'>
                <select name='category' id='category-select'>
                    <!-- Will be filled by API -->
                </select>
            </div></div>
        </div>
    </form>
</div>

<table class='table table-striped table-condensed' id='cat-param-table' data-toolbar='#cat-param-buttons'>
</table>

{% endblock %}
