{% extends "InvenTree/settings/settings.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='currencies' %}
{% endblock %}

{% block subtitle %}
{% trans "Currency Settings" %}
{% endblock %}

{% block settings %}

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="INVENTREE_DEFAULT_CURRENCY" icon="fa-dollar-sign" %}
        {% include "InvenTree/settings/setting.html" with key="INVENTREE_FIXER_API_KEY" icon="fa-key" %}
    </tbody>
</table>

<div class='row'>
    <div class='col-sm-6'>
        <h4>{% trans "Exchange Rates - Convert to " %}{{ default_currency }}</h4>
    </div>
</div>

<form action="{% url 'settings-currencies' %}" method="post">
    <div id='exchange_rate_form'>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    {% if exchange_backend == 'fixer.io' %}
        <button type="submit" class='btn btn-primary'>{% trans "Refresh Exchange Rates" %}</button>
    {% else %}
        <button type="submit" class='btn btn-primary'>{% trans "Update Exchange Rates" %}</button>
    {% endif %}
    </div>
</form>

{% endblock %}

{% block js_ready %}
{{ block.super }}

{% if api_rates_success is False %}
    var alert_msg = {% blocktrans %}"Failed to refresh exchange rates. Verify your API key and/or subscription plan" {% endblocktrans %};
    showAlertOrCache("alert-danger", alert_msg, null, 5000);
{% endif %}

{% endblock %}