{% extends "InvenTree/settings/settings.html" %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='currency' %}
{% endblock %}

{% block settings %}

<h4>Currencies</h4>

<div id='currency-buttons'>
    <button class='btn btn-success' id='new-currency'>New Currency</button>
</div>

<table class='table table-striped table-condensed' id='currency-table' data-toolbar='#currency-buttons'>
</table>
{% endblock %}

{% block js_ready %}
{{ block.super }}

    $("#currency-table").bootstrapTable({
        url: "{% url 'api-currency-list' %}",
        queryParams: {
            ordering: 'suffix'
        },
        sortable: true,
        search: true,
        formatNoMatches: function() { return "No currencies found"; },
        rowStyle: function(row, index) {
            if (row.base) {
                return {classes: 'basecurrency'};
            } else {
                return {};
            }
        },
        columns: [
            {
                field: 'pk',
                title: 'ID',
                visible: false,
            },
            {
                field: 'symbol',
                title: 'Symbol',
            },
            {
                field: 'suffix',
                title: 'Currency',
                sortable: true,
            },
            {
                field: 'description',
                title: 'Description',
                sortable: true,
            },
            {
                field: 'value',
                title: 'Value',
                sortable: true,
            }
        ]
    });

    $("#new-currency").click(function() {
        launchModalForm("{% url 'currency-create' %}", {
            success: function() {
                $("#currency-table").bootstrapTable('refresh');
            },
        });
    });

{% endblock %}