{% extends "InvenTree/settings/settings.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='global' %}
{% endblock %}

{% block subtitle %}
{% trans "Global InvenTree Settings" %}
{% endblock %}

{% block settings %}

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="INVENTREE_INSTANCE" icon="fa-info-circle" %}
        {% include "InvenTree/settings/setting.html" with key="INVENTREE_COMPANY_NAME" icon="fa-building" %}
        {% include "InvenTree/settings/setting.html" with key="INVENTREE_DEFAULT_CURRENCY" icon="fa-dollar-sign" %}
    </tbody>
</table>

{% endblock %}