{% extends "panel.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block label %}login{% endblock %}


{% block heading %}
{% trans "Login Settings" %}
{% endblock %}

{% block content %}

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="LOGIN_ENABLE_REG" icon="fa-info-circle" %}
        {% include "InvenTree/settings/setting.html" with key="LOGIN_ENABLE_SSO" icon="fa-info-circle" %}
        {% include "InvenTree/settings/setting.html" with key="LOGIN_ENABLE_PWD_FORGOT" icon="fa-info-circle" %}
        {% include "InvenTree/settings/setting.html" with key="LOGIN_MAIL_REQUIRED" icon="fa-info-circle" %}
    </tbody>
</table>

{% endblock %}
