{% extends "InvenTree/settings/settings.html" %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='part' %}
{% endblock %}

{% block settings %}
<h4>Part Parameter Templates</h4>

<div id='param-buttons'>
    <button class='btn btn-success' id='new-param'>New Parameter</button>
</div>

<table class='table table-striped table-condensed' id='param-table' data-toolbar='#param-buttons'>
</table>

{% endblock %}

{% block js_ready %}
{{ block.super }}

    $("#param-table").bootstrapTable({
        url: "{% url 'api-part-param-template-list' %}",
        queryParams: {
            ordering: 'name',
        },
        sortable: true,
        search: true,
        formatNoMatches: function() { return "No part parameter templates found"; },
        columns: [
            {
                field: 'pk',
                title: 'ID',
                visible: false,
            },
            {
                field: 'name',
                title: 'Name',
                sortable: 'true',
            },
            {
                field: 'units',
                title: 'Units',
                sortable: 'true',
            },

        ]
    });

    $("#new-param").click(function() {
        launchModalForm("{% url 'part-param-template-create' %}", {
            success: function() {
                $("#param-table").bootstrapTable('refresh');
            },
        });
    });

{% endblock %}