{% extends "panel.html" %}
{% load i18n %}
{% load inventree_extras %}
{% load plugin_extras %}

{% block label %}plugin{% endblock %}


{% block heading %}
{% trans "Plugin Settings" %}
{% endblock %}

{% block content %}

<h4>{% trans "Plugin list" %}</h4>

<table class='table table-striped table-condensed'>
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Version" %}</th>
        </tr>
    </thead>
    
    <tbody>
        {% plugin_list as pl_list %}
        {% for plugin_key, plugin in pl_list.items %}
        {% mixin_enabled plugin 'urls' as urls %}
        {% mixin_enabled plugin 'settings' as settings %}

        <tr>
            <td>{{ plugin.human_name }}<span class="text-muted"> - {{plugin_key}}</span>
                {% define plugin.registered_mixins as mixin_list %}
                {% if mixin_list %}
                {% for mixin in mixin_list %}
                <a class='nav-toggle' id='select-plugin-{{plugin_key}}'>
                    <span class='badge badge-badge-secondary'>{% blocktrans with name=mixin.human_name %}has {{name}}{% endblocktrans %}</span>
                </a>
                {% endfor %}
                {% endif %}
            </td>
            <td>{{ plugin.author }}</td>
            <td>{{ plugin.pub_date }}</td>
            <td>{% if plugin.version %}{{ plugin.version }{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
