{% extends "panel.html" %}
{% load i18n %}
{% load inventree_extras %}

{% block label %}reporting{% endblock %}

{% block heading %}
{% trans "Report Settings" %}
{% endblock %}

{% block content %}

<table class='table table-striped table-condensed'>
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="REPORT_ENABLE" %}
        {% include "InvenTree/settings/setting.html" with key="REPORT_DEFAULT_PAGE_SIZE" %}
        {% include "InvenTree/settings/setting.html" with key="REPORT_DEBUG_MODE" %}
        {% include "InvenTree/settings/setting.html" with key="REPORT_ENABLE_TEST_REPORT" %}
    </tbody>
</table>

{% endblock %}