<div class='form-check form-switch'>
    <input
        class='form-check-input boolean-setting'
        fieldname='{{ setting.key.upper }}'
        pk='{{ setting.pk }}'
        setting='{{ setting.key.upper }}'
        id='setting-value-{{setting.pk }}-{{ setting.typ }}'
        type='checkbox'
        {% if setting.as_bool %}checked=''{% endif %}
        {{ reference }}
        {% if plugin %}plugin='{{ plugin.slug }}'{% endif %}
        {% if user_setting or notification_setting %}user='{{ request.user.pk }}'{% endif %}
        {% if notification_setting %}
        notification=true
        method='{{ setting.method }}'
        {% endif %}
    >
</div>
