{% load i18n %}
{% load static %}
{% load inventree_extras %}

// Callback for when boolean settings are edited
$('table').find('.boolean-setting').change(function() {

    var pk = $(this).attr('pk');
    var setting = $(this).attr('setting');
    var plugin = $(this).attr('plugin');
    var user = $(this).attr('user');
    var notification = $(this).attr('notification');
    var is_global = true;
    var connection_key = $(this).attr('connection_key');
    var connection = $(this).attr('connection');

    var checked = this.checked;

    if ($(this).attr('user')){
        is_global = false;
    }

    if (connection_key) {
        url = `/api/plugins/settings/${plugin}/connection/${connection_key}/${connection}/${setting}/`;
    } else if (plugin) {
        url = `/api/plugins/settings/${plugin}/${setting}/`;
    } else if (notification) {
        url = `/api/settings/notification/${pk}/`;
    } else if (is_global) {
        url = `/api/settings/global/${setting}/`;
    } else {
        url = `/api/settings/user/${setting}/`;
    }

    inventreePut(
        url,
        {
            value: checked.toString(),
        },
        {
            method: 'PATCH',
            success: function(data) {
            },
            error: function(xhr) {
                showApiError(xhr, url);
            }
        }
    );

});

// Callback for when non-boolean settings are edited
$('table').find('.btn-edit-setting').click(function() {
    var setting = $(this).attr('setting');
    var plugin = $(this).attr('plugin');
    var is_global = true;
    var notification = $(this).attr('notification');
    var connection_key = $(this).attr('connection_key');
    var connection = $(this).attr('connection');

    if ($(this).attr('user')){
        is_global = false;
    }

    var title = '';

    if (connection_key) {
        title = '{% trans "Edit Connection Setting" %}';
    } else if (plugin != null) {
        title = '{% trans "Edit Plugin Setting" %}';
    } else if (notification) {
        title = '{% trans "Edit Notification Setting" %}';
        setting = $(this).attr('pk');
    } else if (is_global) {
        title = '{% trans "Edit Global Setting" %}';
    } else {
        title = '{% trans "Edit User Setting" %}';
    }

    editSetting(setting, {
        plugin: plugin,
        global: is_global,
        notification: notification,
        connection_key: connection_key,
        connection: connection,
        title: title,
    });
});

$("#edit-user").on('click', function() {
    launchModalForm(
        "{% url 'edit-user' %}",
        {
            reload: true,
        }
    );
});

$("#edit-password").on('click', function() {
    launchModalForm(
        "{% url 'set-password' %}",
        {
            reload: true,
        }
    );
});

{% plugins_enabled as plug %}
{% if plug %}
$("#new-connection").click(function() {
    var plugin = $(this).attr('plugin');
    var key = $(this).attr('key');

    constructForm('{% url "api-plugin-connection-list" %}', {
        fields: {
            plugin: {value: plugin, hidden: true},
            connection_key: {value: key, hidden: true},
            name: {},
            comment: {},
            owner: {},
        },
        method: 'POST',
        title: '{% trans "Create new connection" %}',
        onSuccess: function() {location.reload();}
    });
});

$('.supplier-connections').on('click', '.connection-edit', function() {
    var pk = $(this).attr('pk');
    constructForm(`/api/plugins/connection/${pk}/`, {
        fields: {
            name: {},
            comment: {},
            owner: {},
        },
        onSuccess: function() {location.reload();},
    });
});

$('.supplier-connections').on('click', '.connection-delete', function() {
    var pk = $(this).attr('pk');
    constructForm(`/api/plugins/connection/${pk}/`, {
        method: 'DELETE',
        title: '{% trans "Delete Connection" %}',
        onSuccess: function() {location.reload();},
    });
});
{% endif %}
