{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% block page_title %}
{% inventree_title %} | {% trans "Settings" %}
{% endblock %}

{% block menubar %}
{% include "InvenTree/settings/navbar.html" %}
{% endblock %}

{% block content %}

{% include "InvenTree/settings/user.html" %}
{% include "InvenTree/settings/user_settings.html" %}
{% include "InvenTree/settings/user_homepage.html" %}
{% include "InvenTree/settings/user_homepage.html" %}

{% if user.is_staff %}

{% include "InvenTree/settings/global.html" %}
{% include "InvenTree/settings/barcode.html" %}
{% include "InvenTree/settings/currencies.html" %}
{% include "InvenTree/settings/report.html" %}
{% include "InvenTree/settings/part.html" %}
{% include "InvenTree/settings/stock.html" %}
{% include "InvenTree/settings/build.html" %}
{% include "InvenTree/settings/po.html" %}
{% include "InvenTree/settings/so.html" %}

{% endif %}

{% endblock %}

{% block js_load %}
{{ block.super }}
{% endblock %}

{% block js_ready %}
{{ block.super }}

$('table').find('.btn-edit-setting').click(function() {
    var setting = $(this).attr('setting');
    var pk = $(this).attr('pk');
    var url = `/settings/${pk}/edit/`;

    if ($(this).attr('user')){
        url += `user/`;
    }

    launchModalForm(
        url,
        {
            success: function(response) {

                if (response.is_bool) {
                    var enabled = response.value.toLowerCase() == 'true';
                    $(`#setting-value-${setting}`).prop('checked', enabled);
                } else {
                    $(`#setting-value-${setting}`).html(response.value);
                }
            }
        }
    );
});

$("#edit-user").on('click', function() {
    launchModalForm(
        "{% url 'edit-user' %}",
        {
            reload: true,
        }
    );
});

$("#edit-password").on('click', function() {
    launchModalForm(
        "{% url 'set-password' %}",
        {
            reload: true,
        }
    );
});



enableNavbar({
    label: 'settings',
    toggleId: '#item-menu-toggle',
});

attachNavCallbacks({
    name: 'settings',
    default: 'account'
});

{% endblock %}
