{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% include "sidebar_header.html" with text="User Settings" icon='fa-user' %}

{% include "sidebar_item.html" with label='account' text="Account Settings" icon="fa-cog" %}
{% include "sidebar_item.html" with label='user-display' text="Display Settings" icon="fa-desktop" %}
{% include "sidebar_item.html" with label='user-home' text="Home Page" icon="fa-home" %}
{% include "sidebar_item.html" with label='user-search' text="Search Settings" icon="fa-search" %}
{% include "sidebar_item.html" with label='user-labels' text="Label Printing" icon="fa-tag" %}
{% include "sidebar_item.html" with label='user-reports' text="Reporting" icon="fa-file-pdf" %}

{% if user.is_staff %}

{% include "sidebar_header.html" with text="Global Settings" icon='fa-cogs' %}

{% include "sidebar_item.html" with label='server' text="Server Configuration" icon="fa-server" %}
{% include "sidebar_item.html" with label='login' text="Login Settings" icon="fa-fingerprint" %}
{% include "sidebar_item.html" with label='barcodes' text="Barcode Support" icon="fa-qrcode" %}
{% include "sidebar_item.html" with label='currencies' text="Currencies" icon="fa-dollar-sign" %}
{% include "sidebar_item.html" with label='reporting' text="Reporting" icon="fa-file-pdf" %}
{% include "sidebar_item.html" with label='parts' text="Parts" icon="fa-shapes" %}
{% include "sidebar_item.html" with label='category' text="Categories" icon="fa-sitemap" %}
{% include "sidebar_item.html" with label='stock' text="Stock" icon="fa-boxes" %}
{% include "sidebar_item.html" with label='build-order' text="Build Orders" icon="fa-tools" %}
{% include "sidebar_item.html" with label='purchase-order' text="Purchase Orders" icon="fa-shopping-cart" %}
{% include "sidebar_item.html" with label='sales-order' text="Sales Orders" icon="fa-truck" %}

{% include "sidebar_header.html" with text="Plugin Settings" %}

{% include "sidebar_item.html" with label='plugin' text="Plugin" icon="fa-plug" %}

{% plugin_list as pl_list %}
{% for plugin_key, plugin in pl_list.items %}
    {% if plugin.registered_mixins %}
        {% include "sidebar_item.html" with label='plugin-'|add:{{plugin_key}} text="plugin.human_name %}
    {% endif %}
{% endfor %}

{% endif %}