{% extends "panel.html" %}
{% load i18n %}

{% block label %}sales-order{% endblock %}

{% block heading %}
{% trans "Sales Order Settings" %}
{% endblock %}

{% block content %}

<table class='table table-striped table-condensed'>
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="SALESORDER_REFERENCE_PATTERN" %}
        {% include "InvenTree/settings/setting.html" with key="SALESORDER_REFERENCE_PREFIX" %}
        {% include "InvenTree/settings/setting.html" with key="SALESORDER_DEFAULT_SHIPMENT" icon="fa-truck-loading" %}
    </tbody>
</table>

{% endblock %}
