{% extends "InvenTree/settings/settings.html" %}
{% load i18n %}

{% block tabs %}
{% include "InvenTree/settings/tabs.html" with tab='stock' %}
{% endblock %}

{% block subtitle %}
{% trans "Stock Settings" %}
{% endblock %}

{% block settings %}
<h4>{% trans "Stock Options" %}</h4>

<table class='table table-striped table-condensed'>
    {% include "InvenTree/settings/header.html" %}
    <tbody>
        {% include "InvenTree/settings/setting.html" with key="STOCK_ENABLE_EXPIRY" %}
        {% include "InvenTree/settings/setting.html" with key="STOCK_STALE_DAYS" %}
        {% include "InvenTree/settings/setting.html" with key="STOCK_ALLOW_EXPIRED_SALE" %}
        {% include "InvenTree/settings/setting.html" with key="STOCK_ALLOW_EXPIRED_BUILD" %}
    </tbody>
</table>
{% endblock %}