<ul class='nav nav-pills nav-stacked'>
    <li{% ifequal tab 'user' %} class='active'{% endifequal %}>
        <a href="{% url 'settings-user' %}"><span class='fas fa-user'></span> User</a>
    </li>
    <li{% ifequal tab 'currency' %} class='active'{% endifequal %}>
        <a href="{% url 'settings-currency' %}"><span class='fas fa-dollar-sign'></span> Currency</a>
    </li>
    <li{% ifequal tab 'part' %} class='active'{% endifequal %}>
        <a href="{% url 'settings-part' %}"><span class='fas fa-shapes'></span> Part</a>
    </li>
    <li{% ifequal tab 'theme' %} class='active'{% endifequal %}>
        <a href="{% url 'settings-theme' %}"><span class='fas fa-fill'></span> Theme</a>
    </li>
    {% if user.is_staff %}
    <li{% ifequal tab 'other' %} class='active'{% endifequal %}>
        <a href="{% url 'settings-other' %}"><span class='fas fa-cogs'></span> Other</a>
    </li>
    {% endif %}
</ul>