{% extends "panel.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block label %}user-labels{% endblock %}

{% block heading %}
{% trans "Label Settings" %}
{% endblock %}

{% block content %}

<div class='row'>
    <table class='table table-striped table-condensed'>
        <tbody>
            {% include "InvenTree/settings/setting.html" with key="LABEL_ENABLE" icon='fa-toggle-on' user_setting=True %}
            {% include "InvenTree/settings/setting.html" with key="LABEL_INLINE" icon='fa-tag' user_setting=True %}
        </tbody>
    </table>
</div>

{% endblock %}
