{% extends "panel.html" %}

{% load i18n %}
{% load inventree_extras %}
{% load plugin_extras %}

{% block label %}user-notifications{% endblock label %}

{% block heading %}{% trans "Notification Settings" %}{% endblock heading %}

{% block content %}

<div class='row'>
    <table class='table table-striped table-condensed'>
        <tbody>
            {% notification_settings_list as settings %}
            {% for setting in settings %}
            {% include "InvenTree/settings/setting.html" with key=setting.key icon=setting.icon method=setting.method notification_setting=True %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
