{% load i18n %}
{% load static %}
{% load inventree_extras %}

{% trans "Line Items" as text %}
{% include "sidebar_item.html" with label='order-items' text=text icon="fa-list-ol" %}
{% if order.is_open %}
{% trans "Pending Shipments" as text %}
{% include "sidebar_item.html" with label='order-shipments' text=text icon="fa-truck-loading" %}
{% endif %}
{% trans "Completed Shipments" as text %}
{% include "sidebar_item.html" with label='order-shipments-complete' text=text icon="fa-truck" %}
{% trans "Build Orders" as text %}
{% include "sidebar_item.html" with label='order-builds' text=text icon="fa-tools" %}
{% trans "Attachments" as text %}
{% include "sidebar_item.html" with label='order-attachments' text=text icon="fa-paperclip" %}
{% trans "Notes" as text %}
{% include "sidebar_item.html" with label='order-notes' text=text icon="fa-clipboard" %}
