{% extends "delete_obj.html" %}

{% block del_title %}
Are you sure you want to delete supplier '{{ supplier.name }}'?
{% endblock %}

{% block del_body %}
{% if supplier.parts.all|length > 0 %}
<p>There are {{ supplier.parts.all|length }} parts sourced from this supplier.<br>
If this supplier is deleted, these child categories will also be deleted.</p>
<ul class='list-group'>
{% for part in supplier.parts.all %}
<li class='list-group-item'><b>{{ part.SKU }}</b><i>Part - {{ part.part.name }}</i></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}