{% extends "base.html" %}

{% block content %}

<h3>Suppliers</h3>
<ul class='list-group'>
{% for supplier in suppliers %}
<li class='list-group-item'>
    <b><a href="{% url 'supplier-detail' supplier.id %}">{{ supplier.name }}</a></b>
    <br>
    {{ supplier.description }}
    {% if supplier.website %}
    <a href="{{ supplier.website }}">- {{ supplier.website }}</a>
    {% endif %}
    <span class="badge">
        {{ supplier.parts.all|length }}
    </span>
</li>
{% endfor %}
</ul>

{% endblock %}