{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <h3>{{ supplier.name }}</h3>
        <p>{{ supplier.description }}</p>
        <p>{{ supplier.notes }}</p>
    </div>
    <div class="col-sm-6">
        <table class="table">
        {% if supplier.website %}
        <tr>
            <td>Website</td><td><a href="{{ supplier.website }}">{{ supplier.website }}</a></td>
        </tr>
        {% endif %}
        {% if supplier.address %}
        <tr>
            <td>Address</td><td>{{ supplier.address }}</td>
        </tr>
        {% endif %}
        {% if supplier.phone %}
        <tr>
            <td>Phone</td><td>{{ supplier.phone }}</td>
        </tr>
        {% endif %}
        {% if supplier.email %}
        <tr>
            <td>Email</td><td>{{ supplier.email }}</td>
        </tr>
        {% endif %}
        {% if supplier.contact %}
        <tr>
            <td>Contact</td><td>{{ supplier.contact }}</td>
        </tr>
        {% endif %}
        </table>
    </div>
</div>

{% block details %}

{% endblock %}

{% endblock %}