{% extends "part/part_base.html" %}
{% load static %}
{% load inventree_extras %}

{% block details %}
{% include "part/tabs.html" with tab="bom" %}
<h4>Upload Bill of Materials</h4>

<p>Step 3 - Select Parts</p>
<hr>

<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">

    {% csrf_token %}
    {% load crispy_forms_tags %}

    <input type='hidden' name='form_step' value='select_parts'/>

    <table class='table table-striped'>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Row</th>
                {% for col in bom_columns %}
                <th>
                    {% if col.guess %}
                    {{ col.guess }}
                    {% else %}
                    {{ col.name }}
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in bom_rows %}
            <tr>
                <td>
                    <button class='btn btn-default btn-remove' id='del_row_{{ forloop.counter }}' style='display: inline; float: right;' title='Remove row'>
                            <span row_id='{{ forloop.counter }}' onClick='removeRowFromBomWizard()' class='glyphicon glyphicon-small glyphicon-remove'></span>
                    </button>
                </td>
                <td>
                </td>
                <td>{% add row.index 1 %}</td>
                {% for item in row.data %}
                <td>
                    {% if item.column.guess == 'Part' %}
                    <select class='select bomselect' id='id_part_{{ row.index }}' name='part_select_{{ row.index }}'>
                        <option value=''>---------</option>
                        {% for part in allowed_parts_list %}
                        <option value='{{ part.id }}'>{{ part.full_name }} - {{ part.description }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {{ item.cell }}
                    {% elif item.column.guess == 'Quantity' %}
                    <input class='numberinput' type='number' min='1' value='{{ row.quantity }}'/>
                    {% elif item.editable %}
                    <input id='id_edit_{{ item.column.guess }}_{{ row.index }}' name='edit_{{ item.column.guess }}_{{ row.index }}' value='{{ item.cell }}'/>
                    {% else %}
                    {{ item.cell }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>

{% endblock %}

{% block js_ready %}
{{ block.super }}

$('.bomselect').select2();

{% endblock %}