{% extends "modal_form.html" %}
{% load inventree_extras %}

{% block form %}

<h4>Step 2 of 3 - Select BOM Fields</h4>

{% if missing and missing|length > 0 %}
<div class='alert alert-danger alert-block' role='alert'>
    Missing selections for the following required columns:
    <br>
    <ul>
        {% for col in missing %}
        <li>{{ col }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">
    {% csrf_token %}
    {% load crispy_forms_tags %}

    {% crispy form %}

    <input type='hidden' name='form_step' value='select_fields'/>

    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Row</th>
                {% for col in bom_cols %}
                <th>
                    <input type='hidden' name='col_name_{{ forloop.counter0 }}' value='{{ col.name }}'/>
                    {{ col.name }}
                    <button class='btn btn-default btn-remove' id='del_col_{{ forloop.counter0 }}' title='Remove column'>
                        <span col_id='{{ forloop.counter0 }}' onClick='removeColFromBomWizard()' class='glyphicon glyphicon-small glyphicon-remove'></span>
                    </button>
                    <select class='select' id='id_col_{{ forloop.counter0 }}' name='col_select_{{ forloop.counter0 }}'>
                            <option value=''>---------</option>
                            {% for req in req_cols %}
                            <option value='{{ req }}'{% if req == col.guess %}selected='selected'{% endif %}>{{ req }}</option>
                            {% endfor %}
                    </select>
                    {% if col.duplicate %}
                    <p class='help-inline'>Duplicate column selection</p>
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in bom_rows %}
            <tr>
                <td>{% add forloop.counter 1 %}</td>
                {% for item in row.data %}
                <td>
                    <input type='hidden' name='row_{{ row.index }}_col_{{ forloop.counter0 }}' value='{{ item }}'/>
                    {{ item }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>

<b>BOM Rows: {{ bom.row_count }}</b>

{% endblock %}