{% extends "part/part_base.html" %}
{% load static %}
{% load i18n %}
{% load inventree_extras %}

{% block menubar %}
{% include "part/navbar.html" with tab='bom' %}
{% endblock %}

{% block heading %}
{% trans "Upload Bill of Materials" %}
{% endblock %}

{% block details %}

<p>{% trans "Step 1 - Select BOM File" %}</p>

<div class='alert alert-info alert-block'>
    <b>{% trans "Requirements for BOM upload" %}:</b>
    <ul>
        <li>{% trans "The BOM file must contain the required named columns as provided in the " %} <b><a href="/part/bom_template/">{% trans "BOM Upload Template" %}</a></b></li>
        <li>{% trans "Each part must already exist in the database" %}</li>
    </ul>
</div>

<form method="post" action='' class='js-modal-form' enctype="multipart/form-data">
    <button type="submit" class="save btn btn-default">{% trans 'Upload File' %}</button>
    {% csrf_token %}
    {% load crispy_forms_tags %}

    <input type='hidden' name='form_step' value='select_file'/>

    {% crispy form %}

</form>

{% endblock %}