{% extends "panel.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block label %}history{% endblock %}

{% block heading %}
{% trans "Notification History" %}
{% endblock %}

{% block actions %}
<div class='btn btn-danger' type='button' id='history-delete' title='{% trans "Delete Notifications" %}'>
    <span class='fas fa-trash-alt'></span> {% trans "Delete Notifications" %}
</div>
{% endblock %}

{% block content %}

<div id='history-buttons'>
    <div class='btn-group' role='group'>
        {% include "filter_list.html" with id="notifications-history" %}
    </div>
</div>

<div class='row'>

    <table class='table table-striped table-condensed' id='history-table' data-toolbar='#history-buttons'>
    </table>
</div>

{% endblock %}
