{% extends "panel.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block label %}inbox{% endblock %}

{% block heading %}
{% trans "Pending Notifications" %}
{% endblock %}

{% block actions %}
<div class='btn btn-outline-secondary' type='button' id='mark-all' title='{% trans "Mark all as read" %}'>
    <span class='fa fa-bookmark'></span> {% trans "Mark all as read" %}
</div>
{% endblock %}

{% block content %}

<div id='inbox-buttons'>
    <div class='btn-group' role='group'>
        {% include "filter_list.html" with id="notifications-inbox" %}
    </div>
</div>

<div class='row'>
    <table class='table table-striped table-condensed' id='inbox-table' data-toolbar='#inbox-buttons'>
    </table>
</div>

{% endblock %}
