{% extends "panel.html" %}

{% load i18n %}
{% load inventree_extras %}

{% block label %}inbox{% endblock %}

{% block heading %}
{% trans "Pending Notifications" %}
{% endblock %}

{% block actions %}
<div class='btn btn-outline-secondary' type='button' id='mark-all' title='{% trans "Mark all as read" %}'>
    <span class='fa fa-bookmark'></span> {% trans "Mark all as read" %}
</div>
<div class='btn btn-secondary' type='button' id='inbox-refresh' title='{% trans "Refresh Pending Notifications" %}'>
    <span class='fa fa-sync'></span> {% trans "Refresh Pending Notifications" %}
</div>
{% endblock %}

{% block content %}

<div class='row'>
    <table class='table table-striped table-condensed' id='inbox-table'>
    </table>
</div>

{% endblock %}
