{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form|crispy }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<div class='btn-group float-left' role='group'>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="save btn btn-secondary">{% trans "first step" %}</button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="save btn btn-secondary">{% trans "prev step" %}</button>
</div>
{% endif %}
<button type="submit" class="save btn btn-primary float-right">{% trans "Next Step" %}</button>
</form>
{% endblock %}