# Checks for each PR / push

name: QC checks

on:
  push:
    branches-ignore:
      - l10*

  pull_request:
    branches-ignore:
      - l10*

env:
  python_version: 3.9
  node_version: 16
  # The OS version must be set per job

  server_start_sleep: 60

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  INVENTREE_DB_ENGINE: sqlite3
  INVENTREE_DB_NAME: inventree
  INVENTREE_MEDIA_ROOT: ../test_inventree_media
  INVENTREE_STATIC_ROOT: ../test_inventree_static

jobs:
  pep_style:
    name: Style [Python]
    runs-on: ubuntu-20.04

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          install: true
      - name: flake8
        run: flake8 InvenTree --extend-ignore=D

  javascript:
    name: Style [JS]
    runs-on: ubuntu-20.04

    needs: pep_style

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          npm: true
          install: true
      - name: Check Templated Files
        run: |
          cd ci
          python3 check_js_templates.py
      - name: Lint Javascript Files
        run: |
          invoke render-js-files
          npx eslint js_tmp/*.js

  html:
    name: Style [HTML]
    runs-on: ubuntu-20.04

    needs: pep_style

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          npm: true
          install: true
      - name: Check HTML Files
        run: npx markuplint **/templates/*.html

  pre-commit:
    name: Style [pre-commit]
    runs-on: ubuntu-20.04

    needs: pep_style

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.python_version }}
        cache: 'pip'
    - uses: pre-commit/action@v2.0.3

  python:
    name: Tests - inventree-python
    runs-on: ubuntu-20.04

    needs: pre-commit

    env:
      wrapper_name: inventree-python
      INVENTREE_DB_ENGINE: django.db.backends.sqlite3
      INVENTREE_DB_NAME: ../inventree_unit_test_db.sqlite3
      INVENTREE_ADMIN_USER: testuser
      INVENTREE_ADMIN_PASSWORD: testpassword
      INVENTREE_ADMIN_EMAIL: test@test.com
      INVENTREE_PYTHON_TEST_SERVER: http://localhost:12345
      INVENTREE_PYTHON_TEST_USERNAME: testuser
      INVENTREE_PYTHON_TEST_PASSWORD: testpassword

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          apt-dependency: gettext
          update: true
      - name: Download Python Code
        run: git clone --depth 1 https://github.com/inventree/${{ env.wrapper_name }} ./${{ env.wrapper_name }}
      - name: Start Server
        run: |
          invoke delete-data -f
          invoke import-fixtures
          invoke server -a 127.0.0.1:12345 &
          invoke wait
      - name: Run Tests
        run: |
          cd ${{ env.wrapper_name }}
          invoke check-server
          coverage run -m unittest discover -s test/

  coverage:
    name: Tests - DB [SQLite] + Coverage
    runs-on: ubuntu-20.04

    needs: ['javascript', 'html', 'pre-commit']

    env:
      INVENTREE_DB_NAME: ./inventree.sqlite
      INVENTREE_DB_ENGINE: sqlite3
      INVENTREE_PLUGINS_ENABLED: true

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          apt-dependency: gettext
          update: true
      - name: Coverage Tests
        run: invoke coverage
      - name: Data Export Test
        uses: inventree/inventree/.github/actions/migration@master
      - name: Test Translations
        run: invoke translate
      - name: Check Migration Files
        run: python3 ci/check_migration_files.py
      - name: Upload Coverage Report
        run: coveralls

  postgres:
    name: Tests - DB [PostgreSQL]
    runs-on: ubuntu-20.04

    needs: ['javascript', 'html', 'pre-commit']
    if: github.event_name == 'push'

    env:
      INVENTREE_DB_ENGINE: django.db.backends.postgresql
      INVENTREE_DB_USER: inventree
      INVENTREE_DB_PASSWORD: password
      INVENTREE_DB_HOST: '127.0.0.1'
      INVENTREE_DB_PORT: 5432
      INVENTREE_DEBUG: info
      INVENTREE_CACHE_HOST: localhost
      INVENTREE_PLUGINS_ENABLED: true

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: inventree
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432

      redis:
        image: redis
        ports:
          - 6379:6379

    steps:

      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          apt-dependency: gettext libpq-dev
          pip-dependency: psycopg2 django-redis>=5.0.0
          update: true
      - name: Run Tests
        run: invoke test
      - name: Data Export Test
        uses: inventree/inventree/.github/actions/migration@master

  mysql:
    name: Tests - DB [MySQL]
    runs-on: ubuntu-20.04

    needs: ['javascript', 'html', 'pre-commit']
    if: github.event_name == 'push'

    env:
      # Database backend configuration
      INVENTREE_DB_ENGINE: django.db.backends.mysql
      INVENTREE_DB_USER: root
      INVENTREE_DB_PASSWORD: password
      INVENTREE_DB_HOST: '127.0.0.1'
      INVENTREE_DB_PORT: 3306
      INVENTREE_DEBUG: info
      INVENTREE_PLUGINS_ENABLED: true

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: ${{ env.INVENTREE_DB_NAME }}
          MYSQL_USER: inventree
          MYSQL_PASSWORD: password
          MYSQL_ROOT_PASSWORD: password
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3
        ports:
          - 3306:3306

    steps:
      - name: Enviroment Setup
        uses: inventree/inventree/.github/actions/setup@master
        with:
          apt-dependency: gettext libmysqlclient-dev
          pip-dependency: mysqlclient
          update: true
      - name: Run Tests
        run: invoke test
      - name: Data Export Test
        uses: inventree/inventree/.github/actions/migration@master
